.bundle
.cache
.DS_Store
.sass-cache
build/
tmp/
.byebug_history
cache/
source/stylesheets/tailwind.css
source/vendor/
node_modules/

# Ignore rubocop rules from decidim
.rubocop-https---raw-githubusercontent-com-decidim-decidim-*

spec/examples.txt
.devcontainer/devcontainer.local.*
