---
title: Our team
description: We've built an amazing team of developers, marketers, designers and sales people.
---
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
<p>Equality
in political participation of citizens is one of the fundamental
principles of any democratic system and the platform, not only has to
ensure equal opportunities with respect to the uses and functions,
but also the access right. In this sense the entity in charge of the
platform assumes the commitment to promote actions that advance in
the direction of providing access and support to the platform for all
citizens alike universally Giving tools and resources appropriate to
the platform is available to anyone who wants to use.</p>
<h2>Data confidenciality</h2>
<p>The
confidentiality and privacy of the personal data that people might
provide to participate in any of the functionalities and/or
possibilities of participation that the platform provides shall be
guaranteed at all times. In no case shall personal data be
transferred to third parties. Personal data will not be used beyond
what is strictly necessary for the purposes of user registration and
improvements on the usability of the platform. Whenever platform
technology makes it possible, the expression of political preferences
or will in decision-making processes shall remain inaccessible even
for the administrator of the platform or the server/s that host it.</p>
<h2>
Accountability and responsability</h2>
<p>A
commitment to citizens shall be taken to respond to all queries and
contributions in the shortest time possible. A commitment shall also
be adopted to follow-up the results of participatory processes and to
respond to those demands specifically request it. Finally, a
commitment shall be taken to study the incorporation of indicators to
monitor the participation processes once they are finalized, in order
to systematically evaluate its implementation.</p>
<h2>
Continuous improvement and inter-institutional colaboration</h2>
<p>Mechanisms
for periodic review and evaluation will be provided in order to
facilitate the continuous improvement of the platform.</p>
<p>Priority
will be given to the collaboration and the exchange of experiences
between the institutions involved in the project, with the aim to
improve, fix and build new developments for the continuous
improvement of the platform.</p>
<p>In
this sense, collaborative conditions and environments will be
facilitated when moving forward improvements that point to a common
benefit of the entire platform, enabling inter-agency coordination
mechanisms when necessary.</p>
<h2>
Terms of use</h2>
<p>
Totes els
punts d’aquest codi han de quedar reflectits en les condicions d’ús
que cada ens redacti per a la seva plataforma i mai entraran en
contradicció.</p>
<p>All
points of this code should be reflected in the terms and conditions
that each organization or user FALTA for each platform and never
contradicted.                         
</p>
