//Colors
$primary: #ED4D4F;
$secondary: #9fc7bc;
$body-color: #333;
$blue: #466BA0;
$darkblue: #28446C;
$softblue: #637fa5;
$light-grey: mix(white, $blue, 92%);
$lighter-grey: #fafafa;


//Border radius
$radius: 3px;


//Sizes
//mq
$XS: (300 / 16) + em;
$XS-max: (299 / 16) + em;

$S: (500 / 16) + em;
$S-max: (499 / 16) + em;

$M: (700 / 16) + em;
$M-max: (699 / 16) + em;

$L: (900 / 16) + em;
$L-max: (899 / 16) + em;

$XL: (1200 / 16) + em;
$XL-max: (1199 / 16) + em;

$maxwidth: (1200/16 ) + rem;
$maxwidth--hero: (700/16 ) + rem;
$maxwidth-textcol: (760/16) + rem;

//Font-sizes
$body-fontsize: (16/16) + rem;
$large-fontsize: (18/16) + rem;
$larger-fontsize: (20/16) + rem;
$largest-fontsize: (22/16) + rem;
$small-fontsize: (14/16) + rem;
$h1: (32/16) + rem;
$h2: (24/16) + rem;
$h3: (18/16) + rem;

$h1-small: (26/16) + rem;
$h2-small: (22/16) + rem;
$h3-small: (18/16) + rem;

$heading-fontweight: 600;

//Z-index
$z-mobile-links: 1;
$z-mobile-lang: 2;
