<a href="<%= url %>" class="flex items-center space-x-1 par-md hover:text-red-700 <%= classes ||= 'text-red-500' %>">
  <span class="pr-2 text-base"><%= text %></span>
  <%= icon(icon_name ||= "ri-arrow-right-line", class: "md:w-6 md:h-6 w-4 h-4 flex-none") %>
</a>
