<a href="<%= url %>" class="flex items-center space-x-1 par-md hover:text-red-700 <%= classes ||= 'text-red-500' %>">
  <span><%= text %></span>
  <%= icon(icon_name ||= "ri-arrow-right-line", class: "w-4 h-4 flex-none") %>
</a>
