<div class="bg-red-500 text-white par-md py-4 md:py-3">
  <div class="container flex flex-col md:flex-row items-start md:items-center md:justify-center gap-6 md:gap-10">
    <span class="inline-block">
      <span class="font-bold">
        <%= t("nav.donate.title") %>
      </span> <%= t("nav.donate.text") %>
    </span>
    <a class="inline-block button hollow white" href="http://donate.decidim.org/">
      <%= t("nav.donate.title") %>
    </a>
  </div>
</div>
