<section class="bg-gray-100">
  <div class="container py-32">
    <div class="flex items-end space-x-2">
      <h6 class="h6 button"><%= t("blog.latest") %></h6>
      <span class="w-4 h-4 rounded-full bg-red-500"></span>
    </div>

    <div class="mt-4 space-y-4" data-accordion>
      <% [t("faqs.questions") || []].sample(4)&.each do |item| %>
        <%= partial "partials/faq-item", locals: { item: item, classes: "bg-white" } %>
      <% end %>
    </div>

    <div class="mt-4 par-md">
      <%= partial "partials/arrow-link", locals: { text: t("faqs.cta"), url: "#{t(:path)}/faqs" } %>
    </div>
  </div>
</section>
