<div class="grid md:grid-cols-6 grid-cols-2 gap-8 md:gap-16 <%= classes ||= '' %>">
  <% data_sort_by(data_select_home(data.installations), "priority").take(6).each_with_index do |logo, i| %>
    <a class="h-8 md:h-16 cursor-pointer" href="<%= logo[1][:url] %>" target="_blank" rel="noopener noreferrer">
      <img class="w-full h-full object-contain" src="<%= logo[1][:image] %>" alt="<%= logo[1][:name] %>">
    </a>
  <% end %>
</div>
