<% installations = data_sort_by_priority(data_select_by(data.installations, type)) %>

<h2 class="subsection-title"><%= title %></h2>
<div class="logos-container">
  <% installations.each do |id, i| %>
    <a href="<%= i.url %>" target="_blank" class="logo-item">
      <img src="<%= image_clean_path(i.image) %>" alt="<%= i.title %>" />
    </a>
  <% end %>
</div>