<section class="alert">
  <div class="container">
    <a href="https://meta.decidim.barcelona/assemblies/eix-comunitat/f/149/meetings/990">
      <strong><%= t(:alertTitle) %></strong>  – <!--<%= t(:ctaTitle) %>-->
      <%= t(:alertSubtitle) %>
    </a>
  </div>
</section>
