<section class="alert alert--expanded">
  <div class="container">
    <a href="https://bcnparticipa.cat/decidimjam" class="alert__linkblock">
      <h2><%= t(:alertTitle) %> - <%= t(:alertSubtitle) %></h2>
      <p>
        <%= t(:alertDesc) %>
      </p>
    </a>
  </div>
</section>
