<section class="alert">
  <div class="container">
    <a href="https://meta.decidim.org/processes/decidim-gov">
      <strong><%= t(:alertTitle) %></strong>  – <!--<%= t(:ctaTitle) %>-->
      <%= t(:alertSubtitle) %>
    </a>
  </div>
</section>
