<section class="alert">
  <div class="container">
    <a href="<%= t('alert.link') %>">
      <strong><%= t('alert.title') %></strong>  – <!--<%= t(:ctaTitle) %>-->
      <%= t('alert.subtitle') %>
    </a>
  </div>
</section>
