<section class="alert alert--expanded">
  <div class="container">
    <a href="<%= t('alert.link') %>" class="alert__linkblock">
      <h2><%= t('alert.title') %> - <%= t('alert.subtitle') %></h2>
      <p>
        <%= t('alert.desc') %>
      </p>
    </a>
  </div>
</section>
