<section class="logos-section logos-section--cityhalls">
  <div class="container logos-container">
    <a href="#" class="logo-item">
      <img src="/images/cityhalls/logo_aj_barcelona.png" alt="Ajuntament de Barcelona" />
    </a>
    <a href="#" class="logo-item">
      <img src="/images/cityhalls/logo_aj_hospitalet.jpg" alt="Ajuntament de L'Hospitalet de Llobregat" />
    </a>
    <a href="#" class="logo-item">
      <img src="/images/cityhalls/logo_aj_terrassa.jpg" alt="Ajuntament de Terrassa" />
    </a>
    <a href="#" class="logo-item">
      <img src="/images/cityhalls/logo_aj_badalona.jpg" alt="Ajuntament de Badalona" />
    </a>
    <a href="#" class="logo-item">
      <img src="/images/cityhalls/logo_aj_sabadell.jpg" alt="Ajuntament de Sabadell" />
    </a>
    <a href="#" class="logo-item">
      <img src="/images/cityhalls/logo_aj_mataro.jpg" alt="Ajuntament de Mataró" />
    </a>
    <a href="#" class="logo-item">
      <img src="/images/cityhalls/logo_aj_santcugat.jpg" alt="Ajuntament de Sant Cugat del Vallès" />
    </a>
    <a href="#" class="logo-item">
      <img src="/images/cityhalls/logo_aj_gava.jpg" alt="Ajuntament de Gavà" />
    </a>
  </div>
</section>
