
<section class="logos-section logos-section--cityhalls">
  <h2 class="logos-section__title"><%= t(:logosUsedByTitle) %></h2>
  <div class="container logos-container">

    <% data.cities.each do |use| %>
      <a href="<%= use.url %>" target="_blank" class="logo-item">
        <img src="<%= use.image %>" alt="<%= use.name %>" />
      </a>
    <% end %>

  </div>
</section>

