<div class="container container-vertical">
  <h1 class="page-title page-title--nomargin">Metadecidim, our community</h1>
  <h2 class="page-subtitle">A democratic community that manages the Decidim project in all its dimensions</h2>
  <div class="page-intro">
    <p>Metadecidim is a community that collaborates in the design of the platform and the construction of the project.Together we can design and develop new features and report bugs for continuous improvement of the platform. </p>
    <a href="https://meta.decidim.barcelona/" class="btn btn--primary">Get started</a>
  </div>
</div>
  
<%= partial "/partials/community-process" %>

<div class="container container-vertical">
  <div class="feature-list">
    <div class="feature-list__item">
      <img src="/images/features/features.svg" alt="" class="feature-list__image"/>
      <div class="feature-list__content">
        <h2 class="feature-list__title">Propose new features</h2>
        <h3 class="feature-list__subtitle">To design and develop Decidim among all</h3>
        <p>You can create debates about the future of Decidim or propose new features or improvements. Proposals can receive support and comments, to show, for example, the interest they arouse in the community and value their development. Proposals that have a sponsor (such as a city council or any other entity), responsible for seeking and providing the necessary resources to carry out their development, will be useful for the project.</p>
        <a href="https://meta.decidim.org/processes/roadmap" class="btn btn--primary btn--small" target="_blank">Sign in and participate now</a>
      </div>
    </div>
    <div class="feature-list__item">
      <img src="/images/features/bug.svg" alt="" class="feature-list__image"/>
      <div class="feature-list__content">
        <h2 class="feature-list__title">Notifica un Bug</h2>
        <h3 class="feature-list__subtitle">Collaboration for progressive improvement</h3>
        <p>Each new release of Decidim incorporates new features and usability improvements, but not everything works at first and errors may appear. Here you can report bugs you find and help the developers to fix them quickly.</p>
        <a href="https://meta.decidim.org/processes/bug-report?locale=es" class="btn btn--primary btn--small" target="_blank">Sign in and participate now</a>
      </div>
    </div>
  </div>
  <div class="community__team">
    <img src="/images/community-picture.jpg" alt="Decidim Community Photo at Metadecidim Meeting 2016" />
  </div>
</div>
