<div class="fullblock">
  <div class="fullblock__content container">
    <h2 class="fullblock__title">
      Collaborative design of functionalities
    </h2>
    <div class="timeline">
      <div class="timeline__block timeline__block--metadecidim">
        <h3 class="timeline__title">
          Metadecidim
        </h3>
        <div class="timeline__items">
          <div class="timeline__item">
            <img src="/images/icons/com-proposal.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title">Nueva propuesta</h4>
            <p>Descripción funcional</p>
          </div>
          <div class="timeline__item">
            <img src="/images/icons/com-validate.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title">Propuesta validada</h4>
            <p>Validación técnica y tecnopolítica</p>
          </div>
          <div class="timeline__item">
            <img src="/images/icons/com-plan.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title">Propuesta planificada</h4>
            <p>Recursos para desarrollo (compartidos o no)</p>
          </div>
        </div>
      </div>
      <div class="timeline__block timeline__block--github">
        <h3 class="timeline__title">
          Github
        </h3>
        <div class="timeline__items">
          <div class="timeline__item">
            <img src="/images/icons/com-issue.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title">Issue</h4>
            <p>Descripción técnica</p>
          </div>
          <div class="timeline__item">
            <img src="/images/icons/com-pull.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title">Pull request</h4>
            <p>Código desarrollado</p>
          </div>
        </div>
      </div>
      <div class="timeline__block timeline__block--decidim">
        <h3 class="timeline__title">
          Decidim
        </h3>
        <div class="timeline__items">
          <div class="timeline__item">
            <img src="/images/icons/com-pub.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title">Publicación</h4>
            <p>Código desarrollado</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
