<section class="subhero subhero--cta">
  <div class="container">
    <h2>Comienza a usar Decidim</h2>
    <p>Prueba la demo online o descarga el código fuente</p>
    <div class="hero__buttons">
  		<a href="#" class="btn btn--primary">Demo online</a>
  		<a href="#" class="btn btn--frosted">Código en Github</a>
  	</div>
    <p class="help">
      Si tienes alguna duda, <a href="mailto:">ponte en contacto con nosotros</a>
    </p>
  </div>
</section>
