<section class="features">
  <div class="container feature-container">
    <div class="feature-list">
      <div class="feature-item active" data-feature-image="#feature-image-1">
        <h3 class="feature-item__title">Propón, reune, delibera, decide, monitoriza: únete a la democracia</h3>
        <p>Decidim makes possible for thousands of people to organize democratically by making proposal, joining public meetings, creating delibarative discussion, deciding through different forms of voting, and monitoring the implementation of the decisions</p>
      </div>
      <div class="feature-item" data-feature-image="#feature-image-2">
        <h3 class="feature-item__title">Configura procesos participativos fácilmente</h3>
        <p>Decidim makes possible for thousands of people to organize democratically by making proposal, joining public meetings, creating delibarative discussion, deciding through different forms of voting, and monitoring the implementation of the decisions</p>
      </div>
      <div class="feature-item" data-feature-image="#feature-image-3">
        <h3 class="feature-item__title">Presupuestos participativos de verdad</h3>
        <p>Decidim makes possible for thousands of people to organize democratically by making proposal, joining public meetings, creating delibarative discussion, deciding through different forms of voting, and monitoring the implementation of the decisions</p>
      </div>
    </div>
    <div class="feature-image-list">
      <div class="feature-image active" id="feature-image-1">
        <img src="/images/screenshot_participatory_budget.png" alt="" />
      </div>
      <div class="feature-image" id="feature-image-2">
        <img src="/images/screenshot_process_backend.png" alt="" />
      </div>
      <div class="feature-image" id="feature-image-3">
        <img src="/images/screenshot_propose.png" alt="" />
      </div>
    </div>
  </div>
</section>
