<section class="features">
  <div class="container feature-container">
    <div class="feature-list">
      <div class="feature-image-small browser-shot browser-shot--inline browser-shot--light">
        <img src="/images/screenshot-scalable.jpg" alt="" />
      </div>
      <div class="feature-item active" data-feature-image="#feature-image-7">
        <h3 class="feature-item__title"><%= t(:feature7Title) %></h3>
        <p><%= t(:feature7Content) %></p>
      </div>
      <div class="feature-image-small browser-shot browser-shot--inline browser-shot--light">
        <img src="/images/screenshot_contribute.jpg" alt="" />
      </div>
      <div class="feature-item" data-feature-image="#feature-image-8">
        <h3 class="feature-item__title"><%= t(:feature8Title) %></h3>
        <p><%= t(:feature8Content) %></p>
      </div>
    </div>
    <div class="feature-image-list">
      <div class="feature-image active browser-shot browser-shot--inline browser-shot--light" id="feature-image-7">
        <img src="/images/screenshot-scalable.jpg" alt="" />
      </div>
      <div class="feature-image browser-shot browser-shot--inline browser-shot--light" id="feature-image-8">
        <img src="/images/screenshot_contribute.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
