<footer class="main-footer">
  <div class="container">
    <div class="main-footer__item">
      <small>&copy; 2018 - Creative Commons By-SA</small>
    </div>
    <div class="main-footer__item">
      <small>
        <a href="<%= t(:path) %>/credits"><%= t(:navCredits) %></a>
      </small>
      <a href="mailto:hola@decidim.org">hola@decidim.org</a>
    </div>
  </div>
</footer>
