<footer class="main-footer">
  <div class="container">
    <div class="main-footer__item">
      <small>&copy; 2017 - Creative Commons By-SA</small>
    </div>
    <div class="main-footer__item">
      <small>
        <a href="<%= t(:path) %>/credits"><%= t(:navCredits) %></a>
      </small>
      <a href="mailto:hola@decidim.org">hola@decidim.org</a>
    </div>

    <img src="/images/logo_footer_barcelona.png"  class="main-footer__logo" alt="Ajuntament de Barcelona" />
  </div>
</footer>
