<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/"><img src="/images/decidim-logo.svg" alt="Decidim" width="120" /></a>
    </div>
    <%= partial "partials/navigation" %>
  </div>
  <a class="cityhall-logo" href="https://ajuntament.barcelona.cat/">
    <img alt="decidim.barcelona" src="/images/logo_header_barcelona.png">
  </a>
</header>
