<section class="hero container">
  <div class="hero__logo">
    <img src="/images/decidim-logo.svg" alt="Decidim" />
  </div>
  <div class="hero__content">
    <h1 class="hero__heading"><%= t('index.hero.heading') %></h1>
    <div class="hero__buttons">
      <a href="<%= t(:path) %>/demo/" class="btn btn--primary"><%= t('demo.button') %></a>
      <!-- <a href="https://github.com/decidim/decidim" target="_blank" class="btn btn--frosted"><%= t(:buttonCode) %></a> -->
    </div>
  </div>
</section>
