<section class="hero">
  <div class="hero__container">
  	<h1 class="hero__heading">
  		<strong>Democracia participativa</strong> open&nbsp;source para ciudades y organizaciones
  	</h1>
    <p class="hero__subhead">Decidim es más que una plataforma digital: es un proyecto e infraestructura abiertos
    que incluye código, documentación, diseño, formación, un marco legal, interfaces
    colaborativas, una comunidad de usuarios y facilitadores y una visión global.</p>
  	<div class="hero__buttons">
  		<a href="#" class="btn btn--primary">Demo online</a>
  		<a href="#" class="btn btn--frosted">Código en Github</a>
  	</div>
  </div>
	<div class="hero__image">
		<img src="/images/screenshot01.png" alt="" />
	</div>
</section>
