<div class="lang-wrapper">
  <a href="#lang" class="lang-trigger"><%= t(:activeLang) %></a>
  <ul id="lang" class="lang" role="menu">
    <% data.languages.each do |lang| %>
      <li role="menuitem">
        <a href="<%= current_path_for_locale lang.path %>"><%= lang.name %></a>
      </li>
    <% end %>
  </ul>
</div>
