<div class="lang-wrapper">
  <a href="#lang" class="lang-trigger"><%= t(:activeLang) %></a>
  <ul id="lang" class="lang" role="menu">
    <li role="menuitem">
      <a href="/">English</a>
    </li>
    <li role="menuitem">
      <a href="/es">Castellano</a>
    </li>
    <li role="menuitem">
      <a href="/ca">Català</a>
    </li>
  </ul>
</div>
