<nav class="main-nav">
	<a href="/demo" class="main-nav__item">Demo</a>
  <a href="/community" class="main-nav__item">Comunidad</a>
  <a href="/contract"class="main-nav__item">Contrato social</a>
	<a href="https://github.com/AjuntamentdeBarcelona/decidim" target="_blank" class="main-nav__item">
    Código
  </a>
</nav>
