<nav class="main-nav">
	<a href="" class="main-nav__item">Demo</a>
  <a href="" class="main-nav__item">Comunidad</a>
  <a href=""class="main-nav__item">Contrato social</a>
	<a href="https://github.com/AjuntamentdeBarcelona/decidim" class="main-nav__item">
    Código
  </a>
</nav>
