<nav>
  <a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	<a href="/demo/&#10;" class="" target="_blank">Demo</a>
	<!--<a href="/community/&#10;" class="">Community</a>
	<a href="/contract/&#10;" class="">Social Contract</a>-->
	<a href="https://github.com/AjuntamentdeBarcelona/decidim&#10;" class="">Code</a>
</nav>
