<section class="logos-section logos-section--partners">
  <h2 class="logos-section__title"><%= t(:logosDrivenByTitle) %></h2>
  <div class="container logos-container">
    <a href="http://www.barcelona.cat" target="_blank" class="logo-item highlighted">
      <img src="/images/partners/logo_partner_ajbcn.jpg" alt="Ajuntament de Barcelona" />
    </a>
  </div>
  <h2 class="logos-section__title"><%= t(:logosPartnersTitle) %></h2>
  <div class="container logos-container">
    <a href="http://www.localret.cat/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_localret.png" alt="Localret" />
    </a>
    <a href="http://tecnopolitica.net/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_tecnopolitica.png" alt="Tecnopolitica" />
    </a>
    <a href="http://www.uoc.edu/portal/ca/in3/index.html" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_in3.png" alt="Internet Interdisciplinary Institute - IN3" />
    </a>
    <a href="https://alabs.org/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_alabs.png" alt="aLabs" />
    </a>
    <a href="https://eurecat.org/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_eurecat.png" alt="Eurecat" />
    </a>
    <a href="https://www.upf.edu/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_upf.png" alt="UPF" />
    </a>
    <a href="http://www.ferrerguardia.org/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_ffg.png" alt="Fundació Ferrer i Guardia" />
    </a>
    <a href="http://www.bitlab.cat/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_bitlab.jpg" alt="Bitlab" />
    </a>
    <a href="http://populate.tools/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_populate-tools.png" alt="Populate Tools" />
    </a>
    <a href="http://swwweet.com/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_swwweet.svg" alt="Swwweet" />
    </a>
    <a href="http://www.opensourcepolitics.eu/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_opensourcepolitics.jpg" alt="Open Source Politics" />
    </a>
    <a href="https://www.aspgems.com/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_aspgems.png" alt="ASP Gems" />
    </a>
    <a href="http://elcaminodelelder.org/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_elder.jpg" alt="El Camino del Élder" />
    </a>
    <a href="https://www.adabits.org/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_adab1ts.png" alt="Adab1ts" />
    </a>
    <a href="https://www.codegram.com/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_codegram.png" alt="Codegram" />
    </a>
    <a href="https://marsbased.com/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_marsbased.png" alt="Marsbased" />
    </a>
    <a href="https://www.coditramuntana.com/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_coditramuntana.png" alt="CodiTramuntana" />
    </a>
    <a href="https://colectic.coop/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_colectic.jpg" alt="Colectic Coop" />
    </a>
    <a href="http://ethicoo.org/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_ethicoo.png" alt="Ethicoo" />
    </a>
  </div>
</section>
