<section class="logos-section logos-section--partners">
  <div class="container logos-container">
    <a href="http://agoravoting.org" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_agoravoting.png" alt="Agora Voting" />
    </a>
    <a href="http://www.barcelona.cat" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_ajbcn.jpg" alt="Ajuntament de Barcelona" />
    </a>
    <a href="https://alabs.org/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_alabs.png" alt="aLabs" />
    </a>
    <a href="https://www.codegram.com/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_codegram.png" alt="Codegram" />
    </a>
    <a href="https://www.eticasconsulting.com/en/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_eticas.jpg" alt="Eticas" />
    </a>
    <a href="https://eurecat.org/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_eurecat.png" alt="Eurecat" />
    </a>
    <a href="http://www.i2cat.net/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_i2cat.jpg" alt="i2cat" />
    </a>
    <a href="http://www.uoc.edu/portal/ca/in3/index.html" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_in3.png" alt="Internet Interdisciplinary Institute - IN3" />
    </a>
    <a href="http://www.localret.cat/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_localret.png" alt="Localret" />
    </a>
    <a href="http://www.macba.cat/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_macba.jpg" alt="Macba" />
    </a>
    <a href="https://marsbased.com/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_marsbased.png" alt="Marsbased" />
    </a>
    <a href="http://tecnopolitica.net/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_tecnopolitica.png" alt="Tecnopolitica" />
    </a>
    <a href="https://www.upf.edu/" target="_blank" class="logo-item">
      <img src="/images/partners/logo_partner_upf.png" alt="UPF" />
    </a>
  </div>
</section>
