<section class="subhero container">
	<p class="subhero__intro">Decidim ayuda a ciudadanos, organizaciones e instituciones públicas a auto-organizarse democráticamente a todos los niveles.</p>
  <ul class="subhero__bullets">
    <li class="subhero__bullet-item">
      <img src="/images/icons/strategy.svg" alt="" class="subhero__bullet-icon"/>
      <span>Co-producción de planificaciones estratégicas</span>
    </li>
    <li class="subhero__bullet-item">
      <img src="/images/icons/budget.svg" alt="" class="subhero__bullet-icon"/>
      <span>Organización de presupuestos participativos</span>
    </li>
    <li class="subhero__bullet-item">
      <img src="/images/icons/debate.svg" alt="" class="subhero__bullet-icon"/>
      <span>Construcción de procesos multitudinarios de deliberación</span>
    </li>
    <li class="subhero__bullet-item">
      <img src="/images/icons/decision.svg" alt="" class="subhero__bullet-icon"/>
      <span>Promoción de toma de decisiones distribuidas</span>
    </li>
  </ul>
</section>
