
<section class="testimonials">
  <div class="testimonials__block container">
    <div class="testimonials__img">
      <img src="" alt="" />
    </div>
    <div class="testimonials__content">
      <cite class="testimonials__attr">
        <span class="testimonials__author"></span>
        <span class="testimonials__org"></span>
      </cite>
      <blockquote class="testimonials__quote">
        <p></p>
      </blockquote>
    </div>
  </div>
</section>
