<div class="bg-red-500 text-white text-md py-8">
  <div class="container flex items-center justify-between">
    <span>
      <span class="font-bold">
        <%= t("demo.strong") %>
      </span>— <%= t("demo.p1") %>
    </span>
    <a class="inline-block button hollow white" href="/demo">
      <%= t("demo.button") %>
    </a>
  </div>
</div>
