---
title: Community | Decidim
description:
---
<div class="container container--text-col container--center container-vertical-top">
  <h1>Find your way to join the community</h1>
  <p>We are the digital commons for participatory democracy.</p>
</div>

<div class="container">
  <div class="community">
    <div class="community__type">
      <div class="community__head">
        <h2>Citizens</h2>
        <p>Become a decidimer</p>
      </div>
      <ul>
        <li>Join community meetings</li>
        <li>Contribute to feature specifications</li>
        <li>Discuss and decide over the platform</li>
        <li>Meet other people</li>
        <li>Extend democracy to your local community</li>
      </ul>
      <div class="community__foot">
        <a href="https://meta.decidim.barcelona/" class="btn btn--small btn--primary">Get started</a>
      </div>
    </div>
    <div class="community__type">
      <div class="community__head">
        <h2>Developers and Researchers</h2>
        <p>Contribute code to github</p>
      </div>
      <ul>
        <li>Join research teams</li>
        <li>Write documentation</li>
        <li>Join our technology committee</li>
        <li>Install, configure and enjoy decicim</li>
        <li>Hack collaboratively</li>
      </ul>
      <div class="community__foot">
        <a href="https://github.com/decidim" class="btn btn--small btn--primary">Contribute now</a>
      </div>
    </div>
    <div class="community__type">
      <div class="community__head">
        <h2>Institutions</h2>
        <p>Deliver the best experience</p>
      </div>
      <ul>
        <li>Deliver the best experience</li>
        <li>Improve your democratic quality</li>
        <li>Make your institution smarter</li>
        <li>Open your governance</li>
        <li>Let your members/citizens self-organize</li>
      </ul>
      <div class="community__foot">
        <a href="mailto:hola@decidim.org" class="btn btn--small btn--primary">Contact us</a>
      </div>
    </div>
  </div>
</div>

<div class="container container-vertical">
	<h2>Community FAQ</h2>
	<dl class="faq">
		<dt>What types of community membership do you accept?</dt>
		<dd>All type with good faith, anybody with the right attitude towards democratic collaboration.</dd>
		<dt>Can I participate if I don't live in Barcelona?</dt>
		<dd>Yes, you can contribute online, but you might want to ride to Barcelona ocasionally :)</dd>
		<dt>Do you offer a free install to non-profit organizations?</dt>
		<dd>Yes, only if you are a Barcelona based organization. Send us a message and the Directorate for Research, Development and Innovation of Citizens' Rights, Participation and Transparency Area of Barcelona City Council might be able to help you.</dd>
		<dt>Do you support for Institutions?</dt>
		<dd>Yes, but you need to be pacient. There are plenty of institutions that want to use Decidim right now, and we are helping them step by step. Contact us for any questions and we will respond as soon as possible.</dd>
		<dt>More questions?</dt>
		<dd>Contact us for any further questions at <a href="mailto:hola@decidim.org">hola@decidim.org</a>.</dd>
	</dl>
</div>

<div class="image-shot image-shot--light">
  <img src="/images/community-picture.jpg" alt="Decidim Community Photo at Metadecidim Meeting 2016" class="screenshot editable">
</div>
