---
title: Community | Decidim
description:
---

<div class="container container-vertical">
  <h1 class="page-title page-title--nomargin">Find your way to join the community</h1>
  <p>We are the digital commons for participatory democracy.</p>
  <div class="community">
    <div class="community__type">
      <div class="community__head">
        <h2>Citizens</h2>
        <p>Become a decidimer</p>
      </div>
      <ul>
        <li>Join community meetings</li>
        <li>Contribute to feature specifications</li>
        <li>Discuss and decide over the platform</li>
        <li>Meet other people</li>
        <li>Extend democracy to your local community</li>
      </ul>
      <div class="community__foot">
        <a href="https://meta.decidim.barcelona/" class="btn btn--small btn--primary">Get started</a>
      </div>
    </div>
    <div class="community__type">
      <div class="community__head">
        <h2>Developers and Researchers</h2>
        <p>Contribute code to github</p>
      </div>
      <ul>
        <li>Join research teams</li>
        <li>Write documentation</li>
        <li>Join our technology committee</li>
        <li>Install, configure and enjoy decicim</li>
        <li>Hack collaboratively</li>
      </ul>
      <div class="community__foot">
        <a href="https://github.com/decidim" class="btn btn--small btn--primary">Contribute now</a>
      </div>
    </div>
    <div class="community__type">
      <div class="community__head">
        <h2>Institutions</h2>
        <p>Deliver the best experience</p>
      </div>
      <ul>
        <li>Deliver the best experience</li>
        <li>Improve your democratic quality</li>
        <li>Make your institution smarter</li>
        <li>Open your governance</li>
        <li>Let your members/citizens self-organize</li>
      </ul>
      <div class="community__foot">
        <a href="mailto:hola@decidim.org" class="btn btn--small btn--primary">Contact us</a>
      </div>
    </div>
  </div>
</div>

<div class="image-shot image-shot--light">
  <img src="/images/community-picture.jpg" alt="Decidim Community Photo at Metadecidim Meeting 2016" class="screenshot editable">
</div>
