---
title: Comunidad | Decidim
description:
---
<div class="container container--text-col container--center container-vertical-top">
  <h1>Encuentra la manera de unirte a la comunidad</h1>
  <p>Somos la base digital común para la democracia participativa.</p>
</div>

<div class="container">
  <div class="community">
    <div class="community__type">
      <div class="community__head">
        <h2>Ciudadanía</h2>
        <p>Forma parte de la comunidad Decidim</p>
      </div>
      <ul>
        <li>Únete a reuniones comunitarias</li>
        <li>Contribuye a presentar planes detallados</li>
        <li>Dialoga y decide sobre la plataforma</li>
        <li>Conoce a otras personas</li>
        <li>Extiende la democracia a tu localidad</li>
      </ul>
      <div class="community__foot">
        <a href="https://meta.decidim.barcelona/" class="btn btn--small btn--primary">Empezar</a>
      </div>
    </div>
    <div class="community__type">
      <div class="community__head">
        <h2>Desarrolladores e investigadores</h2>
        <p>Aporta un código a GitHub</p>
      </div>
      <ul>
        <li>Únete a los equipos de investigación</li>
        <li>Escribe documentación</li>
        <li>Únete a nuestro comité de tecnología</li>
        <li>Instala, configura y disfruta de Decidim</li>
        <li>Introduce modificaciones de manera colaborativa</li>
      </ul>
      <div class="community__foot">
        <a href="https://github.com/decidim" class="btn btn--small btn--primary">Colaborar ahora</a>
      </div>
    </div>
    <div class="community__type">
      <div class="community__head">
        <h2>Instituciones</h2>
        <p>Aporta la mejor experiencia</p>
      </div>
      <ul>
        <li>Aporta la mejor experiencia</li>
        <li>Mejora tu calidad democrática</li>
        <li>Haz de tu institución un lugar más inteligente</li>
        <li>Abre tu gobernanza</li>
        <li>Deja que tus miembros/ciudadanos se autoorganizen</li>
      </ul>
      <div class="community__foot">
        <a href="mailto:hola@decidim.org" class="btn btn--small btn--primary">Ponte en contacto con nosotros</a>
      </div>
    </div>
  </div>
</div>

<div class="container container-vertical">
	<h2>Preguntas frecuentes sobre la comunidad</h2>
	<dl class="faq">
		<dt>¿A qué tipo de miembros aceptáis en la comunidad?</dt>
		<dd>A cualquiera que tenga buena fe y una actitud correcta hacia la colaboración democrática.</dd>
		<dt>¿Puedo participar aunque no resida en Barcelona?</dt>
		<dd>Sí, puedes colaborar en línea, pero quizá quieras venir a Barcelona alguna vez :)</dd>
		<dt>¿Ofrecéis instalación gratuita a organizaciones sin ánimo de lucro?</dt>
		<dd>Sí, solo si eres una organización con sede en Barcelona. Envíanos un mensaje y la Dirección de Investigación, Desarrollo e Innovación del Área de Derechos de Ciudadanía, Participación y Transparencia del Ayuntamiento de Barcelona te ayudará.</dd>
		<dt>¿Apoyáis a las instituciones?</dt>
		<dd>Sí, pero hay que tener paciencia. Hay un montón de instituciones que quieren usar Decidim en estos momentos y les estamos ayudando paso a paso. Ponte en contacto con nosotros para cualquier pregunta y te responderemos lo antes posible.</dd>
		<dt>¿Alguna otra pregunta?</dt>
		<dd>Envíanos un correo electrónico a <a href="mailto:hola@decidim.org">hola@decidim.org</a>.</dd>
	</dl>
</div>

<div class="image-shot image-shot--light">
  <img src="/images/community-picture.jpg" alt="Fotografía de la comunidad Decidim en la las jornadas MetaDecidim 2016." class="screenshot editable">
</div>
