---
title: Comunitat | Decidim
description:
---

<div class="container container-vertical">
  <h1 class="page-title page-title--nomargin">Troba la manera d&apos;unir-te a la comunitat</h1>
  <p>Som el domini públic digital de la democràcia participativa.</p>
  <div class="community">
    <div class="community__type">
      <div class="community__head">
        <h2>Ciutadania</h2>
        <p>Forma part de la comunitat Decidim</p>
      </div>
      <ul>
        <li>Uneix-te a les reunions de la comunitat</li>
        <li>Contribueix a presentar plans detallats</li>
        <li>Dialoga i decideix sobre la plataforma</li>
        <li>Coneix altres persones</li>
        <li>Amplia la democràcia a la teva comunitat local</li>
      </ul>
      <div class="community__foot">
        <a href="https://meta.decidim.barcelona" class="btn btn--small btn--primary">Posa&apos;t en marxa</a>
      </div>
    </div>
    <div class="community__type">
      <div class="community__head">
        <h2>Desenvolupadors i investigadors</h2>
        <p>Aporta un codi a GitHub</p>
      </div>
      <ul>
        <li>Uneix-te als equips de recerca</li>
        <li>Escriu documentació</li>
        <li>Uneix-te al nostre comitè tecnològic</li>
        <li>Instal·la, configura i gaudeix de Decidim</li>
        <li>Fes modificacions de manera col·laborativa</li>
      </ul>
      <div class="community__foot">
        <a href="https://github.com/decidim" class="btn btn--small btn--primary">Contribueix-hi ara</a>
      </div>
    </div>
    <div class="community__type">
      <div class="community__head">
        <h2>Institucions</h2>
        <p>Ofereix la millor experiència</p>
      </div>
      <ul>
        <li>Ofereix la millor experiència</li>
        <li>Millora la teva qualitat democràtica</li>
        <li>Fes que la teva institució sigui més intel·ligent</li>
        <li>Obre la teva governança</li>
        <li>Deixa que els teus membres/ciutadans s&apos;autoorganitzin</li>
      </ul>
      <div class="community__foot">
        <a href="mailto:hola@decidim.org" class="btn btn--small btn--primary">Contacta amb nosaltres</a>
      </div>
    </div>
  </div>
</div>

<div class="image-shot image-shot--light">
  <img src="/images/community-picture.jpg" alt="Fotografia de la comunitat Decidim a les jornades MetaDecidim 2016." class="screenshot editable">
</div>
