---
title: Közösség | Decidim
description:
---

<div class="container container-vertical">
  <h1 class="page-title page-title--nomargin">Csatlakozz a közösséghez</h1>
  <p>Te és Mi együtt vagyunk közössége a részvételi demokráciának.</p>
  <div class="community">
    <div class="community__type">
      <div class="community__head">
        <h2>Polgárok</h2>
        <p>Légy decidimer te is</p>
      </div>
      <ul>
        <li>Csatlakozz a közösségi találkozókhoz</li>
        <li>Járjulj hozzá új funkciók kialakításához</li>
        <li>Beszélgessünk és döntsünk a platformon keresztül</li>
        <li>Ismerj meg más embereket</li>
        <li>Terjeszd ki a demokráciát a helyi közösségedre</li>
      </ul>
      <div class="community__foot">
        <a href="https://meta.decidim.barcelona/" class="btn btn--small btn--primary">Kezdjük!</a>
      </div>
    </div>
    <div class="community__type">
      <div class="community__head">
        <h2>Fejlesztők és kutatók</h2>
        <p>Járulj hozzá a kódhoz a github-on</p>
      </div>
      <ul>
        <li>Csatlakozz a kutatói csapathoz</li>
        <li>Írj dokumentációt</li>
        <li>Csatlakozz a technológiai bizottsághoz</li>
        <li>Installáld, konfiguráld és élvezd a Decidim használatát</li>
        <li>Hackeljünk közösen!</li>
      </ul>
      <div class="community__foot">
        <a href="https://github.com/decidim" class="btn btn--small btn--primary">Járulj hozzá most</a>
      </div>
    </div>
    <div class="community__type">
      <div class="community__head">
        <h2>Intézmények</h2>
        <p>Szolgáltassák a legjobb tapasztalatot</p>
      </div>
      <ul>
        <li>Szolgáltassa a legjobb tapasztalatot</li>
        <li>Fejlesze a demokratikus minőséget</li>
        <li>Okosabbá válik az intézmény </li>
        <li>Tegye nyitottabbá a kormányzását</li>
        <li>Támogassa tagjai/állampolgárainak önszerveződését</li>
      </ul>
      <div class="community__foot">
        <a href="mailto:madarasz.csaba@edemokracia.hu" class="btn btn--small btn--primary">Lépjen velünk kapcsolatra</a>
      </div>
    </div>
  </div>
</div>

<div class="image-shot image-shot--light">
  <img src="/images/community-picture.jpg" alt="Decidim közösségi fotó, a Metadecidim találkozón készítve 2016-ban" class="screenshot editable">
</div>
