---
title: Comunidad | Decidim
description:
---

<div class="container container-vertical">
  <h1 class="page-title page-title--nomargin">Encuentra la manera de unirte a la comunidad</h1>
  <p>Somos la base digital común para la democracia participativa.</p>
  <div class="community">
    <div class="community__type">
      <div class="community__head">
        <h2>Ciudadanía</h2>
        <p>Forma parte de la comunidad Decidim</p>
      </div>
      <ul>
        <li>Únete a reuniones comunitarias</li>
        <li>Contribuye a presentar planes detallados</li>
        <li>Dialoga y decide sobre la plataforma</li>
        <li>Conoce a otras personas</li>
        <li>Extiende la democracia a tu localidad</li>
      </ul>
      <div class="community__foot">
        <a href="https://meta.decidim.barcelona/" class="btn btn--small btn--primary">Empezar</a>
      </div>
    </div>
    <div class="community__type">
      <div class="community__head">
        <h2>Desarrolladores e investigadores</h2>
        <p>Aporta un código a GitHub</p>
      </div>
      <ul>
        <li>Únete a los equipos de investigación</li>
        <li>Escribe documentación</li>
        <li>Únete a nuestro comité de tecnología</li>
        <li>Instala, configura y disfruta de Decidim</li>
        <li>Introduce modificaciones de manera colaborativa</li>
      </ul>
      <div class="community__foot">
        <a href="https://github.com/decidim" class="btn btn--small btn--primary">Colaborar ahora</a>
      </div>
    </div>
    <div class="community__type">
      <div class="community__head">
        <h2>Instituciones</h2>
        <p>Aporta la mejor experiencia</p>
      </div>
      <ul>
        <li>Aporta la mejor experiencia</li>
        <li>Mejora tu calidad democrática</li>
        <li>Haz de tu institución un lugar más inteligente</li>
        <li>Abre tu gobernanza</li>
        <li>Deja que tus miembros/ciudadanos se autoorganizen</li>
      </ul>
      <div class="community__foot">
        <a href="mailto:hola@decidim.org" class="btn btn--small btn--primary">Ponte en contacto con nosotros</a>
      </div>
    </div>
  </div>
</div>

<div class="image-shot image-shot--light">
  <img src="/images/community-picture.jpg" alt="Fotografía de la comunidad Decidim en la las jornadas MetaDecidim 2016." class="screenshot editable">
</div>
