---
title: Lépjünk kapcsolatba | Decidim
description: Ha nem működik a form, írj a madarasz.csaba@edemokracia.hu címre.
---

<div class="container container-vertical">
  <div class="container--small-col">
    <h1 class="page-title">Kapcsolat</h1>
    <form method="post" name="contact" netlify-honeypot="bot-field" data-netlify="true">
      <p class="visually-hidden">
      <label>Ne töltsd ki, ha ember vagy: <input name="bot-field" /></label>
      </p>
      <div class="form-field">
        <label for="name">
          Név <span class="required" aria-label="required field">*</span>
        </label>
        <input type="text" id="name" name="name" required/>
      </div>
      <div class="form-field">
        <label for="entity">Entitás</label>
        <input type="text" id="entity" name="entity" />
      </div>
      <div class="form-field">
        <label for="email">Email <span class="required" aria-label="required field">*</span></label>
        <input type="email" id="email" name="email" required/>
      </div>
      <div class="form-field">
        <label for="reason">Ok <span class="required" aria-label="required field">*</span></label>
        <select id="reason" name="reason" required>
          <option value=""></option>
          <option value="Press/communication">Sajtó/kommunikáció</option>
          <option value="Investigation">Vizsgálat</option>
          <option value="Development">Fejlesztés</option>
          <option value="Extension">Kiterjesztés</option>
          <option value="More information">További információ</option>
        </select>
      </div>
      <div class="form-field message">
        <label for="message">Üzenet <span class="required" aria-label="required field">*</span></label>
        <textarea id="message" name="message" required></textarea>
      </div>
      <div class="form-field">
        <button type="submit" class="btn btn--primary">Küldés</button>
      </div>
    </form>
  </div>
</div>
