---
title: Társadalmi szerződés | Decidim
description:
---
<div class="container container-vertical">
  <div class="container--text-col">
    <h1 class="page-title">Társadalmi szerződés</h1>
    <p>Demokratikus garanciák és nyílt együttműködés kódex</p>
    <p>Az úgynevezett társadalmi szerződés mellett a Decidim projekt valamennyi tagja elkötelezett.</p>
    <p>A Decidim platform használatával az intézmények és társadalmi csoportok vállalják, hogy teljes egészében elfogadják és követik a jelen társadalmi szerződésben foglalt értékeket. </p>

    <h2>Ingyenes szoftverek és nyílt forráskód</h2>
    <p>A platform forráskódja – a modulokkal, könyvtárakkal és más olyan tartalmakkal együtt, amelyek a rendszer telepítéséhez és üzemeltetéséhez szükségesek – mindig nyílt marad majd, Affero GPLv3 jogosultsággal vagy annak egy későbbi verziójával [https://www.gnu.org/licenses/agpl-3.0.en.html] függetlenül attól, hogy a jövőben új, kompatibilis forráskódot vezetnek be vagy használnak fel újra.</p>
    <p>Hasonlóképpen, a különféle felhasználói típusokkal való interakciók során a tartalmi, adat, API vagy más egyéb technológiát alkalmazó felületeknek követniük kell a nyílt és interoperábilis szabványokat (például OpenID, RSS, OStatus). Emellett törekedniük kell arra, hogy a legismertebb nyílt szabványokat alkalmazzák.</p>
    <p>A részvételi folyamatok, szervek és mechanizmusok átláthatósága, valamint az állampolgári együttműködés maximalizálása érdekében a tartalom, a szöveg, a grafika, a betűtípusok, a hang, a videó és más tartalmak az úgynevezett Creative Commons By-SA védjeggyel rendelkeznek [https://creativecommons.org /licenses/by-sa/4.0/legalcode].</p>
    <p>A platformon keresztül elérhető adatok – különösen azok, amelyek szisztematikusan gyűjthetőek – az Open Data Commons Open Database Licence szabvánnyal vannak ellátva [http://opendatacommons.org/licenses/odbl] és egy sztandardizált formátumban hozzáférhetőek (például CSV, JSON stb.), lehetőség szerint olyan eszközök segítségével, amelyek megkönnyítik az adatok elemzését és megjelenítését.</p>

    <h2> Átláthatóság, nyomon követhetőség és integritás</h2>
    <p>A platform, illetve annak jelenlegi és jövőbeli konfigurációi, fejlesztései, telepítése és használata során biztosítani és maximalizálni kell a dokumentumok, javaslatok, viták, döntések és más elemek, mechanizmusok és folyamatok átláthatóságát, nyomon követhetőségét és integritását.</p>
    <p> </i>Átláthatóság</i> alatt azt értjük, hogy minden részvételi mechanizmushoz és folyamathoz kapcsolódó adat letöltése, elemzése és kezelése biztosított a legújabb szabványoknak megfelelően és olyan formátumban, amely alkalmas az információk megosztására.(accessibility, multi-format, etc.).</p>
    <p>Jóllehet, az átláthatóság szükséges feltétele a részvételi folyamatok és mechanizmusok nyomon követhetőségének, azt semmilyen esetben sem lehet a felhasználók személyes adataival való visszaélésre vagy a magánéletének védelmének megsértésével használni.</p>
    <p>A <i>nyomonkövethetőség</i> azt jelenti, hogy képesek vagyunk teljes egészében nyomon követni a folyamatokhoz és mechanizmusokhoz kapcsolódó korábbi és jövőbeli javaslatokat, terveket, előírásokat, valamint más egyéb tartalmi elemeket. A platformnak mindenkor megjeleníthetővé kell tennie, hogy miként, miért, ki és milyen műveleteket hajtott végre, utasított el, hagyott jóvá vagy blokkolt a folyamatok során.</p>
    <p>Az <i>integritás</i> Integritás alatt elsősorban a tartalom hitelességét értjük. Biztosítjuk, hogy a különféle módosítások és változtatások egyértelműen rögzíthetőek, ellenőrizhetőek és igazolhatóak legyenek. Az integritás lényege, hogy a javaslatokat, folyamatokat és azok eredményeit utólag senki se manipulálhassa.</p>

    <h2>Esélyegyenlőség és minőség</h2>
    <p>A fent megfogalmazott garanciák mellett a platform természetesen minden felhasználó, javaslat és más egyéb hozzájárulás kapcsán biztosítja az esélyegyenlőséget. A platform minden részvételi folyamat és elem esetében azonos feltételeket biztosít, ezeket tehát mindenki megkülönböztetés nélkül jelenítheti meg, vitathatja, kommentálhatja, értékelheti vagy kezelheti. Nem beszélve arról, hogy a platform felhasználóinak digitális identitása minden esetben egyéni és nem átruházható. A platform döntési jogokat biztosító ellenőrzési mechanizmusa szintén személyre szabott, amiért a platform adminisztratív szervei felelnek. Ezek garantálják, hogy nem történik semmilyen visszaélés vagy jogtalan használat.</p>
    <p>A platform a demokratikus garanciák biztosítása érdekében a részvételi folyamatok, a mechanizmusok és a felhasználói tevékenységek alapján úgynevezett minőségi mutatókat hoz létre. A különböző összetevők beállításainak, valamint a nyílt adatoknak a megosztása pedig hozzájárul majd ezeknek a mutatóknak a népszerűsítéséhez.</p>
    <p>Az állampolgárok politikai döntéshozatalban való egyenlő részvétele a demokratikus rendszerek és a platform egyik legfontosabb alapelve, amely nem csak a használat és a funkciók terén biztosít azonos esélyeket, de a hozzáférésben is. A platform mögött álló szervezet ebben az értelemben elkötelezi magát arra, hogy előmozdítson minden olyan kezdeményezést, amely elősegíti a platformhoz való univerzális hozzáférést az állampolgárok számára. Emellett biztosítja a platform használatához szükséges eszközöket és erőforrásokat.</p>

    <h2>Adatbiztonság és adatvédelem</h2>
    <p>Garantálni kell minden olyan személyes adat biztonságát és védelmét, amely a platform által biztosított funkciók és részvételi lehetőségek használatához szükséges. A személyes adatok semmilyen esetben sem továbbíthatóak harmadik személynek. A személyes adatokat nem szabad felhasználni azon túl, ami a felhasználók regisztrációjához és a platform működésének javítása érdekében feltétlenül szükséges. Amennyiben azt a platform technológiája lehetővé teszi, a politikai preferenciák és a döntéshozatal során alkotott vélemények nem lehetnek hozzáférhetőek sem az adminisztrátorok, sem pedig a szervert hosztolók számára.</p>

    <h2> Elszámoltathatóság és felelősségvállalás</h2>
    <p>Az állampolgárok iránti elkötelezettség szellemében minden kérdésre és javaslatra a lehető legrövidebb idő alatt válaszolni kell. A részvételi folyamatok eredményeinek nyomon követésére és az azokhoz kapcsolódó igények megválaszolására szintén kötelezettséget vállalunk. Végül pedig arra is kötelezzük magunkat, hogy a részvételi folyamatok nyomon követésére szolgáló mutatókat – azok véglegesítését követően – szisztematikusan feldolgozzuk és értékeljük.</p>

    <h2> Folyamatos fejlesztés és intézmények közötti együttműködés</h2>
    <p>A platform folyamatos fejlesztésének megkönnyítése érdekében időszakos felülvizsgálatra és monitorozásra szolgáló mechanizmusokat kell kiépíteni.</p>
    <p>Itt elsőbbséget élveznek a projektben résztvevő intézmények közötti olyan együttműködések és tapasztalatcserék, amelyek célja az új fejlesztések elemzése, felülvizsgálata és javítása a platform folyamatos korszerűsítése érdekében.</p>
    <p>A fentiek előmozdítása érdekében a jövőben az együttműködési feltételek egyszerűsítése várható. Különösen az olyan fejlesztések esetében, amelyek az egész platform számára hasznosak, az ügynökségek közötti koordinációs mechanizmusokat segítve.</p>

    <h2> Felhasználási feltételek </h2>
    <p>A jelen kódex minden pontjának meg kell jelennie az EULA néven ismert végfelhasználói licencszerződésben, és ezeket minden olyan szervezetnek el kell fogadnia, amely a Decidim használatát tervezi.</p>
  </div>
</div>
