---
title: Contacte | Decidim
description:
---

<div class="container container-vertical">
  <div class="container--small-col">
    <h1 class="page-title">Contacta amb nosaltres</h1>
    <form method="post" action="/ca/thanks" name="contact" netlify-honeypot="bot-field" data-netlify="true">
      <p class="visually-hidden">
      <label>No omplis aquest camp si ets human: <input name="bot-field" /></label>
      </p>
      <div class="form-field">
        <label for="name">
          Nom <span class="required" aria-label="required field">*</span>
        </label>
        <input type="text" id="name" name="name" required/>
      </div>
      <div class="form-field">
        <label for="entity">Entitat</label>
        <input type="text" id="entity" name="entity" />
      </div>
      <div class="form-field">
        <label for="email">Correu electrònic <span class="required" aria-label="required field">*</span></label>
        <input type="email" id="email" name="email" required/>
      </div>
      <div class="form-field">
        <label for="reason">Motiu <span class="required" aria-label="required field">*</span></label>
        <select id="reason" name="reason" required>
          <option value=""></option>
          <option value="Premsa/comunicació">Premsa/comunicació</option>
          <option value="Investigació">Investigació</option>
          <option value="Desenvolupament">Desenvolupament</option>
          <option value="Extensió">Extensió</option>
          <option value="Més informació">Més informació</option>
        </select>
      </div>
      <div class="form-field message">
        <label for="message">Missatge <span class="required" aria-label="required field">*</span></label>
        <textarea id="message" name="message" required></textarea>
      </div>
      <div class="form-field">
        <button type="submit" class="btn btn--primary">Enviar</button>
      </div>
    </form>
  </div>
</div>
