---
title: Contacto | Decidim
description:
---

<div class="container container--text-col container-vertical">
  <h1 class="page-title">Contacta con nosotros</h1>
  <form method="post" action="#">
    <div class="form-field">
      <label for="name">
        Nombre <span class="required" aria-label="required field">*</span>
      </label> 
      <input type="text" id="name" required/>
    </div>
    <div class="form-field">
      <label for="entity">Entidad</label>
      <input type="text" id="entity" />
    </div>
    <div class="form-field">
      <label for="mail">Correo electrónico <span class="required" aria-label="required field">*</span></label>
      <input type="text" id="mail" required/>
    </div>
    <div class="form-field">
      <label for="reason">Motivo <span class="required" aria-label="required field">*</span></label>
      <select id="reason">
        <option>Prensa/comunicación</option>
        <option>Investigación</option>
        <option>Desarrollo</option>
        <option>Extensión</option>
        <option>Más información</option>
      </select>
    </div>
    <div class="form-field message">
      <label for="message">Mensaje <span class="required" aria-label="required field">*</span></label> 
      <textarea id="message"></textarea>
    </div>
    <div class="form-field">
      <button type="submit" class="btn btn--primary">Enviar</button>
    </div>
  </form>
</div>
