---
title: Contact us | Decidim
description:
---

<div class="container container-vertical">
  <div class="container--small-col">
    <h1 class="page-title">Contact us</h1>
    <form method="post" action="./thanks" name="contact" netlify-honeypot="bot-field" data-netlify="true">
      <p class="visually-hidden">
      <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
      </p>
      <div class="form-field">
        <label for="name">
          Name <span class="required" aria-label="required field">*</span>
        </label>
        <input type="text" id="name" name="name" required/>
      </div>
      <div class="form-field">
        <label for="entity">Entity</label>
        <input type="text" id="entity" name="entity" />
      </div>
      <div class="form-field">
        <label for="email">Email <span class="required" aria-label="required field">*</span></label>
        <input type="email" id="email" name="email" required/>
      </div>
      <div class="form-field">
        <label for="reason">Reason <span class="required" aria-label="required field">*</span></label>
        <select id="reason" name="reason" required>
          <option value=""></option>
          <option value="Press/communication">Press/communication</option>
          <option value="Investigation">Investigation</option>
          <option value="Development">Development</option>
          <option value="Extension">Extension</option>
          <option value="More information">More information</option>
        </select>
      </div>
      <div class="form-field message">
        <label for="message">Message <span class="required" aria-label="required field">*</span></label>
        <textarea id="message" name="message" required></textarea>
      </div>
      <div class="form-field">
        <button type="submit" class="btn btn--primary">Send</button>
      </div>
    </form>
  </div>
</div>
