---
title: Készítők és licenc | Decidim
description:
---
<div class="container container-vertical">
  <div class="container--text-col">
    <h1 class="page-title">Licence és jogi tudnivalók</h1>
    <p>
      Decidim.org <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">Creative Commons By-SA licence </a> rendelkezik, melynek tulajdonosa Barcelona városának Kutatásért, Fejlesztésért, Innovációkért és az Állampolgári Jogokért valamint a Részvételért és Átláthatóságért felelős Igazgatósága.
    </p>
    <%# <h2>Ikonok</h2>
    <p>
      A honlapon szereplő ikonok a Noun Project-ből származnak, By <a href="https://thenounproject.com/monstercritic/" target="_blank">Shmidt Sergey</a>:
    </p>
    <ul>
      <li>
        <a href="https://thenounproject.com/term/choices/598266/" target="_blank"><strong>Választások</strong> ikon</a>
      </li>
      <li>
        <a href="https://thenounproject.com/term/strategy/595298/" target="_blank"><strong>Stratégia</strong> ikon</a>
      </li>
      <li>
        <a href="https://thenounproject.com/term/pie-chart/576696/" target="_blank"><strong>Kördiagram</strong> ikon</a>
      </li>
      <li>
        <a href="https://thenounproject.com/term/help-message/691809/" target="_blank"><strong>Segítség üzenet</strong> ikon</a>
      </li>
    </ul> %>
  </div>
</div>
