---
title: Attributions and credits | Decidim
description:
---
<div class="container container-vertical">
  <div class="container--text-col">
    <h1 class="page-title">Attributions and credits</h1>
    <p>
      Decidim.org is under a <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">Creative Commons By-SA license</a> by the Directorate for Research, Development and Innovation of Citizens' Rights, Participation and Transparency Area of Barcelona City Council.
    </p>
    <%# <h2>Icons</h2>
    <p>
      The icons depicted in the home page are from The Noun Project, By <a href="https://thenounproject.com/monstercritic/" target="_blank">Shmidt Sergey</a>:
    </p>
    <ul>
      <li>
        <a href="https://thenounproject.com/term/choices/598266/" target="_blank"><strong>Choices</strong> icon</a>
      </li>
      <li>
        <a href="https://thenounproject.com/term/strategy/595298/" target="_blank"><strong>Strategy</strong> icon</a>
      </li>
      <li>
        <a href="https://thenounproject.com/term/pie-chart/576696/" target="_blank"><strong>Pie Chart</strong> icon</a>
      </li>
      <li>
        <a href="https://thenounproject.com/term/help-message/691809/" target="_blank"><strong>Help Message</strong> icon</a>
      </li>
    </ul> %>
  </div>
</div>
