---
title: Atribuciones y créditos | Decidim
description:
---
<div class="container container--text-col container-vertical">
  <h1>Atribuciones y créditos</h1>
  <p>
    Decidim.org se publica bajo una licencia <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">Creative Commons By-SA</a> de la Dirección de Investigación, Desarrollo e Innovación del Área de Derechos de Ciudadanía, Participación y Transparencia del Ayuntamiento de Barcelona.
  </p>
  <h2>Iconos</h2>
  <p>
    Los iconos representados en la página principal son de The Noun Project, obra de <a href="https://thenounproject.com/monstercritic/" target="_blank">Shmidt Sergey</a>:
  </p>
  <ul>
    <li>
      <a href="https://thenounproject.com/term/choices/598266/" target="_blank">Icono <strong>Choices</strong> (Opciones)</a>
    </li>
    <li>
      <a href="https://thenounproject.com/term/strategy/595298/" target="_blank">Icono <strong>Strategy</strong> (Estrategia)</a>
    </li>
    <li>
      <a href="https://thenounproject.com/term/pie-chart/576696/" target="_blank">Icono <strong>Pie Chart</strong> (Gráfico circular)</a>
    </li>
    <li>
      <a href="https://thenounproject.com/term/help-message/691809/" target="_blank">Icono <strong>Help Message</strong> (Mensaje de ayuda)</a>
    </li>
  </ul>
</div>
