--
title: Credits | Decidim
description:
--
<div class="container container--text-col container-vertical">
  <h1>Atribucions i crèdits</h1>
  <p>
    Decidim.org es publica sota una <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">llicència Creative Commons By-SA</a> per part del Departament de Recerca, Desenvolupament i Innovació de l&apos;Àrea de Drets de la Ciutadania, Participació i Transparència de l&apos;Ajuntament de Barcelona.
  </p>
  <h2>Icones</h2>
  <p>
    Les icones que apareixen a la pàgina d&apos;inici són de The Noun Project, de <a href="https://thenounproject.com/monstercritic/" target="_blank">Shmidt Sergey</a>:
  </p>
  <ul>
    <li>
      <a href="https://thenounproject.com/term/choices/598266/" target="_blank">Icona <strong>Choices</strong> (Opcions)</a>
    </li>
    <li>
      <a href="https://thenounproject.com/term/strategy/595298/" target="_blank">Icona <strong>Strategy</strong> (Estratègia)</a>
    </li>
    <li>
      <a href="https://thenounproject.com/term/pie-chart/576696/" target="_blank">Icona <strong>Pie Chart</strong> (Gràfic circular)</a>
    </li>
    <li>
      <a href="https://thenounproject.com/term/help-message/691809/" target="_blank">Icona <strong>Help Message</strong> (Missatge d&apos;ajuda)</a>
    </li>
  </ul>
</div>
