---
nav: css
description:
---

<div class="container py-16 space-y-4">

  <section class="bg-gray-100 rounded p-4 space-y-8">
    <div class="space-y-4">
      <h4 class="h4">button colors</h4>
      <div class="flex flex-col md:flex-row gap-4 items-baseline">
        <div class="button">.button</div>
        <div class="button hollow">.button.hollow</div>
        <div class="button white">.button.white</div>
        <div class="button white hollow">.button.white.hollow</div>
        <div class="button black">.button.black</div>
        <div class="button hollow black">.button.hollow.black</div>
      </div>
    </div>

    <div class="space-y-4">
      <h4 class="h4">button sizes</h4>
      <div class="flex space-x-4 items-baseline">
        <div class="button">.button</div>
        <div class="button small">.button.small</div>
      </div>
    </div>
  </section>

  <section class="bg-gray-100 rounded p-4 space-y-8">
    <h4 class="h4">headings and paragraphs</h4>

    <div class="flex space-x-16">
      <div>
        <h1 class="h1 whitespace-nowrap">.h1</h1>
        <h2 class="h2">.h2</h2>
        <h3 class="h3">.h3</h3>
        <h4 class="h4">.h4</h4>
        <h5 class="h5">.h5</h5>
        <h6 class="h6">.h6</h6>
      </div>

      <div>
        <p class="par-xl">.par-xl</p>
        <p class="par-lg">.par-lg</p>
        <p class="par-md">.par-md</p>
        <p class="par-sm">.par-sm</p>
        <p class="par-xs">.par-xs</p>
      </div>
    </div>
  </section>

  <section class="bg-gray-100 rounded p-4 space-y-8">
    <div class="space-y-4">
      <h4 class="h4">icons size</h4>
      <div class="flex flex-col md:flex-row gap-4 md:items-center">
        <% [["w-4", "h-4"], ["w-6", "h-6"], ["w-12", "h-12"], ["w-20", "h-20"], ["w-24", "h-24"], ["w-48", "h-48"]].each do |size| %>
          <div class="flex space-x-2 items-center">
            <%= icon "ri-football-fill", class: size.join(" ") %>
            <span>.<%= size.join(".") %></span>
          </div>
        <% end %>
      </div>

      <div data-filter>
        <div class="flex justify-between items-center">
          <h4 class="h4">icons list</h4>
          <input type="text" class="bg-gray-300 rounded-xl my-3 p-3 placeholder:text-gray-500" placeholder="Search icon..">
        </div>
        <div class="md:columns-5">
          <% list_icons.each do |i| %>
            <div class="flex space-x-2 items-center" data-filter-target>
              <span class="par-md"><%= icon i, class: "w-6 h-6" %></span>
              <span><%= i %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>

</div>
