---
title: Demo | Decidim
description:
---
<div class="container container--text-col container-vertical-top">
  <h1>Demo en línia</h1>
  <p>
    Coneix i prova lliurement la plataforma Decidim amb la demo en línia.
  </p>

  <p>
    La plataforma Decidim està activa en diversos exemples que pots visitar i explorar, <a href="http://decidim.barcelona" target="_blank">Decidim Barcelona</a>, de la ciutat de Barcelona, o bé pots visitar els llocs de <a href="https://participa.gavaciutat.cat/" target="_blank">Gavà</a> i de <a href="https://www.lhon-participa.cat/" target="_blank">l&apos;Hospitalet</a>. Però aquests són exemples reals i potser no els pots experimentar lliurement perquè no ets ciutadà o ciutadana d&apos;aquests municipis, i tampoc no pots explorar els llocs com a administrador.
  </p>

  <p>
    Si vols anar més enllà, et convidem a provar Decidim des del lloc web de demostració (cortesia dels desenvolupadors de <a href="http://codegram.com" target="_blank">Codegram</a>). Entra al lloc de demostració i prova lliurement el potencial de Decidim i les seves característiques.
  </p>
  <p>
    Pots registrar-t&apos;hi com a <strong>usuari habitual</strong> (amb el nom d&apos;usuari <strong>user@example.org</strong> i la contrasenya <strong>decidim123456</strong>) o també t&apos;hi pots registrar i navegar com a <strong>administrador</strong> (amb el nom d&apos;usuari <strong>admin@example.org</strong> i la contrasenya <strong>decidim123456</strong>).
  </p>

  <div class="cta-block">
    <a href="http://demo.decidim.org/" class="btn btn--primary"><%= t(:buttonDemo) %></a>
  </div>
</div>
<div class="container">
  <div class="browser-shot browser-shot--light">
    <img src="/images/screenshot-decidim-demo.jpg" alt="" />
  </div>
</div>
