---
title: Demo | Decidim
description:
---
<div class="container container-vertical-top">
  <div class="container--text-col">
    <h1 class="page-title">Demo en línea</h1>
    <p>
      Conoce y prueba libremente la plataforma Decidim con la demo en línea.
    </p>

    <p>
      Decidim está funcionando en varios casos que puedes visitar y explorar, <a href="http://decidim.barcelona" target="_blank">Decidim Barcelona</a> en la ciudad de Barcelona o los sitios web de <a href="https://participa.gavaciutat.cat/" target="_blank">Gavà</a> y <a href="https://www.lhon-participa.cat/" target="_blank">L’Hospitalet</a>. Pero se trata de casos reales que en realidad no puedes experimentar libremente, puede que no seas ciudadano o ciudadana de esos municipios, y no se puede visitar esos sitios como administrador.
    </p>

    <p>
      Si quieres ir más lejos, puedes probar Decidim en nuestra web de demostración (cortesía de los desarrolladores de <a href="http://alabs.org" target="_blank">aLabs</a>). Entra en la web de demostración y prueba libremente el potencial de Decidim y sus características.
    </p>
    <p>
      Puedes registrarte tanto como <strong>usuario habitual</strong> (con nombre de usuario <strong>user@example.org</strong> y contraseña <strong>decidim123456</strong>) o puedes registrarte y navegar como <strong>administrador</strong> (nombre de usuario <strong>admin@example.org</strong> y contraseña <strong>decidim123456</strong>).
    </p>

    <div class="page__cta">
      <a href="http://demo.decidim.org/" class="btn btn--primary"><%= t(:buttonDemo) %></a>
    </div>
  </div>
  
</div>