---
title: Demo | Decidim
description:
---
<div class="container container--text-col container-vertical-top">
  <h1>Online Demo</h1>
  <p>
    Play around and explore freely the Decidim platform with our online demo.
  </p>

  <p>
    Decidim is up and running on several instances that you can visit and explore, <a href="http://decidim.barcelona" target="_blank">Decidim Barcelona</a> at Barcelona City or you can visit the sites of <a href="https://participa.gavaciutat.cat/" target="_blank">Gavà</a> and <a href="https://www.lhon-participa.cat/" target="_blank">L'Hospitalet</a>. But these are real instances where you can't really play around freely, as you might not be a citizen of those municipalities, and you can't explore those sites as an admin.
  </p>

  <p>
    If you want to go further you are welcome to test Decidim on our Decidim Demo Site (courtesy of our lead developers at <a href="http://codegram.com" target="_blank">Codegram</a>). Enter the demo site and freely explore the potential of Decidim and its features.
  </p>
  <p>
    You can either log in as a <strong>regular user</strong> (with username "<strong>user@example.org</strong>" and password "<strong>decidim123456</strong>") or you can login and explore as and <strong>Admin</strong> (username "<strong>admin@example.org</strong>" and password "<strong>decidim123456</strong>").
  </p>

  <div class="cta-block">
    <a href="http://demo.decidim.org/" class="btn btn--primary"><%= t(:buttonDemo) %></a>
  </div>
</div>
<div class="container">
  <div class="browser-shot browser-shot--light">
    <img src="/images/screenshot-decidim-demo.jpg" alt="" />
  </div>
</div>
