---
title: Demo | Decidim
description:
---
<div class="container container-vertical-top">
  <div class="container--text-col">
    <h1 class="page-title">Online Demo</h1>
    <p>
      Itt szabadon kipróbálható a Decidim egy online demoban (egyelőre csak magyarul, angolul, spanyolul és katalánul).
    </p>

    <p>
      Számos helyen fut a Decidim, ahol te is megnézheted működés közben, <a href="http://decidim.barcelona" target="_blank">Decidim Barcelona</a> at Barcelona City or you can visit the sites of <a href="https://participa.gavaciutat.cat/" target="_blank">Gavà</a> and <a href="https://www.lhon-participa.cat/" target="_blank">L'Hospitalet</a>. But these are real instances where you can't really play around freely, as you might not be a citizen of those municipalities, and you can't explore those sites as an admin.
    </p>

    <p>
      Ha mélyebben szeretnéd megismerni a szoftvert működés közben, várunk a demo oldalon (ezt a fejlesztők csinálták <a href="http://alabs.org" target="_blank">aLabs</a>). Lépj be a demo oldalra és próbáld ki magad a Decidim-et és funkcióit.
    </p>
    <!-- <p>
      Így tudsz belépni <strong>Admin</strong> (felhasználónév "<strong>admin@example.org</strong>" and jelszó "<strong>decidim123456</strong>").
    </p>-->

    <div class="page__cta">
      <a href="https://decidim.ahang.hu/" class="btn btn--primary"><%= t(:buttonDemo) %></a>
    </div>
  </div>

</div>
