---
title: Documentation | Decidim
description: Documentation about Decidim Project
---
<div class="container container--text-col container-vertical">
  <h1>Documentation about Decidim project</h1>

  <h2>Technical and functional documentation</h2>
  <ul>
    <li>Barandiaran, X. &amp; Romero, C. (2017) <a href="/docs/features-and-roadmap">Functionalities and Roadmap Decidim 2017-2018</a></li>
    <li><a href="https://github.com/Platoniq/decidim-install">Installation Guide (Unofficial)</a>.
       A detailed guide for installing a production Decidim instance, contributed by Ivan Vergés from <a href="http://platoniq.net/">Platoniq</a>.</li>
  </ul>

  <h2>Manuals</h2>
  <ul>
    <li>User manual [AVAILABLE SOON]</li>
    <li><a href="/pdf/Decidim_AdminManual_EN_0.10.pdf">Administration manual</a></li>
  </ul>

  <h2>Videos</h2>
  <ul>
    <li>Barandiaran, X. &amp; Monterde, A. (2017) <a href="https://www.youtube.com/watch?v=qrQ8ij4Ekag">Introduction to Decidim Project, its context, features and decidim.barcelona</a>. Talks at the (W)E-Democracy Conference in Brussels 2017.</li>
  </ul>

  <h2>Scientific papers and reports</h2>
  <ul>
    <li>Aragón, P., Kaltenbrunner, A., Calleja-López, A., Pereira, A., Monterde, A., Barandiaran, X. E., &amp; Gómez, V. (2017). <a href="http://arxiv.org/abs/1707.06526">Deliberative Platform Design: The case study of the online discussions in Decidim Barcelona</a>. ArXiv:1707.06526. Retrieved from http://arxiv.org/abs/1707.06526</li>
  </ul>

  <h2>Magazine articles, interviews and opinion</h2>
  <ul>
    <li>Barandiaran, X. E., Monterde, A., &amp; Pin, G. (2016). <a href="http://programarilliure.xarxaip.cat/18.html">Decidim.barcelona: autonomia, participació i programari lliure</a>. In Xarxaip (Ed.), Programari lliure i de codi obert-Societat lliure i govern obert. (pp. 31–32). Barcelona.</li>
  </ul>

  <h2>Design</h2>
  <ul>
    <li><a href="https://decidim.org/images/decidim-logo.svg">Logo oficial de Decidim</a></li>
  </ul>

</div>
