---
title: Documentació | Decidim
description: Documentació del projecte Decidim
---
<div class="container container--text-col container-vertical">
  <h1>Documentació del Projecte Decidim</h1>

  <h2>Documentació tècnica i funcional</h2>
  <ul>
    <li>Barandiaran, X. &amp; Romero, C. (2017) <a href="https://decidim.org/pdf/features-roadmap-ca.pdf">Funcionalitats i Roadmap Decidim 2017-2018</a></li>
    <li>Com instal·lar-se Decidim i contribuir al codi a través de GitHub [DISPONIBLE EN BREU]</li>
  </ul>

  <h2>Manuals</h2>
  <ul>
    <li>Manual d'ús [DISPONIBLE EN BREU]</li>
    <li><a href="/pdf/Decidim_AdminManual_CA_0.10.pdf">Manual d'administració</a></li>
  </ul>

  <h2>Vídeos</h2>
  <ul>
    <li>Barandiaran, X. &amp; Lucena, A. (2017) <a href="https://www.youtube.com/watch?v=zvYXzTOu2tY">Context, introducció al projecte i com funciona Decidim</a>. Conferència impartida al Municilab, Barcelona, Octubre 2017.</li>
  </ul>

  <h2>Articles científics i estudis</h2>
  <ul>
    <li>Aragón, P., Kaltenbrunner, A., Calleja-López, A., Pereira, A., Monterde, A., Barandiaran, X. E., &amp; Gómez, V. (2017). <a href="http://arxiv.org/abs/1707.06526">Deliberative Platform Design: The case study of the online discussions in Decidim Barcelona</a>. ArXiv:1707.06526. Retrieved from http://arxiv.org/abs/1707.06526</li>
  </ul>

  <h2>Articles periodístics i d'opinió</h2>
  <ul>
    <li>Barandiaran, X. E., Monterde, A., &amp; Pin, G. (2016). <a href="http://programarilliure.xarxaip.cat/18.html">Decidim.barcelona: autonomia, participació i programari lliure</a>. In Xarxaip (Ed.), Programari lliure i de codi obert-Societat lliure i govern obert. (pp. 31–32). Barcelona.</li>
  </ul>

  <h2>Disseny</h2>
  <ul>
    <li><a href="https://decidim.org/images/decidim-logo.svg">Logo oficial de Decidim</a></li>
  </ul>

</div>
