---
title: Frequently asked questions | Decidim
description:
---
<div class="container container-vertical">
  <h1 class="page-title"><%= t('faqs.title') %></h1>

  <div class="partner__container container--text-col">
    <% (01..24).each do |n| %>
      <dl class="faqs">
        <dt><%= t("faqs.q#{"%02d" % n}.question") %></dt>
        <dd><%= markdown(t("faqs.q#{"%02d" % n}.answer")) %></dd>
      </dl>
    <% end %>
  </div>
</div>