---
title: Features | Decidim
description:
---
<div class="container container--text-col container-vertical-top">
  <p><img src="image_0.png" alt="image alt text">              </p>
  <p><strong>Decidim Team</strong></p>
  <p><strong>Direcció de Recerca, Desenvolupament i Innovació</strong></p>
  <p><em>Regidoria de Participació i Districtes</em>              </p>
  <p>Decidim&#39;s functionalities and features    </p>
  <p>Roadmap 2017-2018</p>
  <p>v.1.0</p>
  <p>04/09/2017</p>
  <p>[[TOC]]</p>
  <h1 id="metadata">Metadata</h1>
  <table>
    <tr>
      <td>Title</td>
      <td>Decidim&#39;s Functions and Features</td>
    </tr>
    <tr>
      <td>Version</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>Date</td>
      <td>04/09/2017</td>
    </tr>
    <tr>
      <td>Editors</td>
      <td>Xabier E. Barandiaran, Carolina Romero</td>
    </tr>
    <tr>
      <td>Authors</td>
      <td>Xabier E. Barandiaran, Carolina Romero</td>
    </tr>
    <tr>
      <td>Contributors</td>
      <td>Asier Amezaga, Andrés Pereira de Lucena</td>
    </tr>
    <tr>
      <td>Revisers</td>
      <td>Andrés Pereira de Lucena, Marta Almela</td>
    </tr>
    <tr>
      <td>Participants</td>
      <td>Josan Minguela, Joana Guijarro</td>
    </tr>
    <tr>
      <td>Summary</td>
      <td>Decidim [<a href="https://decidim.org">https://decidim.org</a>] is a digital infrastructure for participatory democracy written on free software (Ruby on Rails), which enables the creation of citizen participation portals. Users of the platform (participants) interact through participatory mechanisms known as components which provide specific functions for the various participatory spaces. In other words, participatory spaces such as Initiatives, Assemblies, Processes and Consultations have components at their disposal which work together as participatory mechanisms. The more notable components include in-person meetings, surveys, proposals, votes, results monitoring and comments. For example, the various stages of a specific participatory process, such as the preparation of participatory budgets, can incorporate various components to: convene and capture the results of in-person meetings with citizens, conduct a survey, make proposals and, during the final stages of the process, hold a vote to decide on the projects with a budget expenditure system (always after a period for commentary and debate), conduct an assessment survey and, finally, monitor the implementation of the projects selected.</td>
    </tr>
    <tr>
      <td>Key Words</td>
      <td>Decidim, a democratic participatory platform, components, participatory spaces, software, e-democracy, participation, assemblyism, citizen participation, neighbourhood councils, citizen consultations, accountability, proposals, e-voting, transparency.</td>
    </tr>
    <tr>
      <td>Document history</td>
      <td>This document includes a description of the current functions in Decidim and also those that are in the development or award phase (defined in the specifications of the public tender contract for the development of Decidim, as published by Barcelona City Council, dossier code 17000141). Hundreds of people have taken part in designing the current and proposed functions, during the 2016 Annual Metadecidim Conferences, in the Metadecidim participatory process for Barcelona City Council’s participatory portal and in the monthly meetings of SOM.meta.decidim. The document also takes concepts and procedures from Barcelona City Council’s new participatory regulations which are expected to be approved on 29 September and were developed on a participatory basis through the decidim.barcelona portal. In preparation for the 2017 Annual Metadecidim Conferences and the need to coordinate the implementation of prospective functions with various municipal technical teams and to publish an up-to-date roadmap, the Decidim team began to draft this document as a reference to the current and proposed Decidim functions for the 2017-2018 period.</td>
    </tr>
    <tr>
      <td>How to cite</td>
      <td>Barandiaran, X.E. &amp; Romero, C. (2017) Funcionalidades y características de Decidim. v.1.0. </td>
    </tr>
    <tr>
      <td>Copyleft</td>
      <td>Barcelona City Council and the authors of the text, under a Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) licence and the GNU Free Documentation licence (GFDL)
        CC BY-SA: Creative Commons Attribution-ShareAlike 4.0 International
        You are free to copy and redistribute the material in any medium or format, remix, transform and build upon material, for any purpose, even commercially. The licensor may not revoke these freedoms as long as you comply with the licence’s terms. Under the following conditions: a) Attribution: you must provide an appropriate acknowledgement of the authorship, provide a link to the licence and state whether any changes have been made. You may do that in any reasonable way, but not in a way that would suggest you have the licensor&#39;s support or receive it for the use you are making; b) ShareAlike: where you remix, change or create from the material, you will have to disseminate your contributions under the same licence as the original. There are no additional restrictions, you may not apply legal terms or technological measures that legally restrict others from doing anything the licence permits. You can find full licences on the following links: <a href="https://creativecommons.org/licenses/by-sa/4.0/deed">https://creativecommons.org/licenses/by-sa/4.0/deed</a> 
        GFDL: GNU Free Documentation Licence
        You are permitted to copy, distribute and/or modify this document under the terms of the GNU Free Documentation Licence, version 1.3 or any other version subsequently published by the Free Software Foundation; without Invariant Sections or Front-Cover Texts, or Back-Cover Texts either. You can find a copy of the licence on <a href="http://www.gnu.org/copyleft/fdl.html">http://www.gnu.org/copyleft/fdl.html</a>
      </td>
    </tr>
  </table>


  <h1 id="authorship-criteria-and-how-to-contribute-to-this-document">Authorship criteria and how to contribute to this document</h1>
  <p>This document is open to participation. You may contribute to this document in several different ways. Except for the editing function, all other forms of participation and authorship levels and criteria are stated below:</p>
  <ul>
    <li><p><em>Editor:</em> Responsible for monitoring a text and its versions, corrections and structure etc., and may or may not be one of the authors. In essence, an editor is someone who coordinates collaboration on the text. One of the editor&#39;s responsibilities is to request and read revisions.</p>
    </li>
    <li><p><em>Authors</em>: Strictly speaking, authors are those who have drafted the text. The order of the authors listed reflects their contribution, with the first mentioned being the one who has written the most. Authors must have read and revised their text in its final or previous versions, although they do not have to agree with its final form, a task that falls to the editor.</p>
    </li>
    <li><p><em>Contributor</em>: Two groups of contributors are considered here. On the one hand, the document&#39;s academic revisers (where they have made a considerable contribution) and, on the other, external collaborators whose contributions have been valuable and integrated in parts of the text included in the document. It is up to the editor and other authors to decide who is a contributor or an author, although the former is in any case meant to contribute less than the latter. As a general rule, a person who has written under 10% of the text ought to be considered a contributor rather than an author. By the same token, being a contributor means having written at least two or three paragraphs.</p>
    </li>
    <li><p><em>Participant</em>: This is someone who has not contributed any specific text to the document but who has made valuable contributions such as observations about the document or provided valuable criteria, references or elements of discussion.</p>
    </li>
    <li><p><em>Proofreader</em>: Their work includes carefully reading an entire text, correcting errors and suggesting improvements. Such work is generally commissioned (requested from a person regarded as competent in the field), although it is possible for someone to contribute by proofreading a text that has not been explicitly requested. In such cases, the depth and quality of the proofreading process may qualify a person to be considered as a proofreader. (NOTE:  This division and specification of authorship levels has been copied directly from the criteria established under the FLOK Society - Buen conocer project (see: Barandiaran et al. 2015, pp. 38-39).)</p>
    </li>
  </ul>
  <h1 id="1-general-description-and-introduction-to-how-decidim-operates">1    General description and introduction to how Decidim operates</h1>
  <p>Decidim [<a href="http://decidim.org">http://decidim.org</a>], from the Catalan for &quot;let&#39;s decide&quot;, is a digital infrastructure for participatory democracy, built entirely and collaboratively as free software. More specifically, Decidim is a web environment (a <em>framework</em>) produced in <em>Ruby on Rails</em> that allows users to create and configure a website platform or portal, to be used in the form of a social network, for democratic participation. The portal allows any organisation (local city council, association, university, NGO, neighbourhood or cooperative) to create mass processes for strategic planning, participatory budgeting, collaborative regulatory design, urban spaces and elections. It also enables the organisation of in-person meetings, meeting invites, registrations, the publication of minutes, the structuring of government bodies or assemblies, the convening of consultations, referendums or channelling citizen or member initiatives to impact different decision making processes.</p>
  <p>To understand in detail how Decidim operates, a distinction must be made between participatory <em>spaces</em> and <em>components</em> (see Figure 1).</p>
  <ul>
    <li><p><strong>Participatory spaces.</strong> This is the framework that defines the manner in which participation will be carried out, the <em>channels</em> or media through which citizens or members of an organisation can process requests or coordinate proposals and make decisions. <em>Initiatives</em>, <em>Processes</em>, <em>Assemblies </em>and<em> Consultations </em>are all participatory spaces. Specific examples of each of these include: a citizen initiative for directly changing a regulation (<em>Initiative</em>); a general assembly or workers’ council (<em>Assembly</em>); participatory budgets; an electoral process or a strategic planning process (<em>Processes</em>); a referendum or call to vote Yes or No to a specific proposal (<em>Consultation</em>).</p>
    </li>
    <li><p><strong>Participatory components.</strong> These are the participatory <em>mechanisms</em> that allow interaction between the platform&#39;s users and each of the participatory spaces. The following are participatory components: <em>meetings, conferences, incubators, proposals, participatory texts, surveys, discussions and debates, results, monitoring, votes, pages, blogs, observations, newsletters </em>and <em>search engines</em>.</p>
    </li>
  </ul>
  <p>Users of the platform (participants) interact through participatory mechanisms known as <em>components</em> which provide specific functions for the various participatory <em>spaces</em>. In other words, participatory <em>spaces</em> such as <em>Initiatives</em>, <em>Assemblies</em>, <em>Processes</em> and <em>Consultations</em> have components at their disposal which work together as participatory mechanisms. The more notable components include in-person <em>meetings</em>, <em>surveys</em>, <em>proposals</em>, <em>votes,</em> <em>results monitoring</em> and <em>comments</em>. So, for example, the various stages of a specific participatory process (such as the preparation of participatory budgets) can incorporate the possibility of convening and capturing the results of in-person meetings with citizens, it can include a survey, as well as the possibility of making proposals. After a period of commentary, discussions and debates, the voting component can be activated to decide on projects for a budget-expenditure system, an assessment survey can then be launched, followed by the activation of the monitoring component for the implementation of the projects selected.</p>
  <div class="container">
    <div class="browser-shot browser-shot--light">
      <img src="/images/graph-features.png" alt="" />
    </div>
  </div>
  <p>Figure 1.<em> Summary diagram of Decidim showing a combination of components in participatory spaces. The Vote</em> component allows a variety of voting systems, expressions of support or allegiance for a proposal.*</p>
  <p><strong>Processes</strong> is a space that permits a user to create, activate/deactivate and manage various participatory processes, linking them together at different stages in which all of the components can be incorporated. <strong>Assemblies</strong> is a space which offers a user the possibility of defining bodies or groups that meet up periodically, detailing their composition, listing their meetings with geo-location and taking part in them (attending if the seating capacity and nature of the assembly so permits, adding items to the agenda or commenting on the proposals and decisions taken by that body). <strong>Initiatives</strong> is a space that allows a user to collaboratively create initiatives, define their trajectory and aims, gather support , discuss, debate and disseminate initiatives and define meeting points where signatures can be collected from attendees. <strong>Consultations</strong> is a space that makes it possible to coordinate referendums , trigger discussions and debates, and is connected to a secure e-voting system where results can be published.</p>
  <p>As for the components, the proposal-<strong>incubator</strong> facilitates the collaborative proposal-making process as well as the monitoring and control of changes. The <strong>proposals</strong> component allows a user to create an official proposal with geo-location tracking, upload documents and browse and filter proposals. The <strong>results</strong> component is used to turn proposals into results and give official responses to their acceptance or rejection. The <strong>monitoring</strong> component offers the possibility of subdividing results into projects, defining and applying progress statuses in their implementation and displaying the extent of the results’ implementation. The <strong>surveys</strong> component can be used to design and publish surveys and display and download their results. The <strong>comments </strong>component enables users to add comments, vote on them, respond to and receive notifications about responses. The <strong>participatory texts</strong> component can be used to divide text documents into proposals or results and, vice versa, or to compose and display a unified text based on a collection of proposals or results. The <strong>votes </strong>component offers users the possibility of activating different voting systems on the proposals: unlimited, limited, weighted, cost-based directing voting etc. The <strong>pages </strong>component is used to create informative pages with rich text, pictures and videos. The <strong>blog</strong> component allows a user to create, categorise and display news chronologically. The <strong>in-person meetings </strong>component offers users the opportunity to convene meetings, determine the place and time, register and monitor attendees, define the structure and content of the appointment or in-person meeting, as well as publish the minutes, proposals and their results. The <strong>conference</strong> component allows users to create a website for a conference by joining up a series of small appointments in person (chats, workshops etc.), putting together a programme and managing attendees. The <strong>newsletter</strong> component is used to send emails to everyone registered within the platform or, more selectively, to those who participate in a specific space (NOTE:  Not all of the functional components described here correspond one by one to the components of Decidim&#39;s architecture. For example, there is currently no vote component as such, as votes belong to the proposal component which can be activated or deactivated from the administration panel. The same can be said of the results component and the results-monitoring component. We have opted to make a functional component distinction given that decidim&#39;s architecture can vary in this respect over the coming months.).</p>
  <p>The users who participate in Decidim can be grouped into three different categories:</p>
  <ul>
    <li><p><strong>Visitors.</strong> View: access to all of the platform&#39;s content without having to register.</p>
    </li>
    <li><p><strong>Registered members.</strong> Can contribute: by creating a user name, password and email account (or account for several social networks). Can add comments, create proposals, send messages and follow the platform&#39;s participants or elements and receive notifications.</p>
    </li>
    <li><p><strong>Verified members</strong>. These users enjoy a higher level of participation. They may be accredited as a member of an organisation, citizen of a municipality, or belong to a decision-making community (an association, community, collective etc.), and once verified can register for in-person meetings , support proposals, sign initiatives and vote in consultations.</p>
    </li>
  </ul>
  <p>They can register on a <strong>personal</strong> or <strong>collective</strong> basis (associations, organisations etc.,) and user groups can be created that express themselves collectively or individually. Individual or group participants may configure/change their notification preferences.</p>
  <p>Each level of a participatory space (e.g. a participatory process) is situated within an <strong>area</strong> (territorial and/or sectoral) and defined by a series of <strong>categories</strong> and subcategories (e.g. topics) which only affect that space. <strong>Labels</strong> can also be used and there is also a general or specific search engine within the different spaces.</p>
  <p>Unlike other existing platforms, Decidim’s architecture is <strong>modular,</strong> <strong>scalable</strong>, easy to <strong>configure</strong> and <strong>integrated</strong> with other tools or apps (data analysis, maps etc.). The platform has been designed in such a way that processes, assemblies and mechanisms can be set up easily and deployed from an administration panel, where no knowledge of programming is required to install, configure and activate it. The components (participatory components) that are integrated are independent from each other and can be developed, activated and deactivated independently.</p>
  <p>Below, you may consult a detailed list of Decidim&#39;s functions and the dates when developmental improvements and new functions are expected (subject matter of the public procurement in progress for 2017-2018). The dates are for guidance purposes and are given with the year and quartile in which the function is expected. So, for example, &quot;2018Q1&quot; means the first quartile (quarter) of 2018, that is, its function is expected for January, February or March 2018. Where a function has no contractual date defined but is found in a period that covers more than one quartile it will be expressed as follows: “2018Q1-3” by stating that the function will be available at any time between the first and third quarter of 2018. The institution that will finance and contract the new functions is also mentioned: BCC (Barcelona City Council) and GenCat (Generalitat of Catalonia). Specifications, (Batch 1 type, etc.) after the financial institution, refer to the batches and components of the function of the public contract (NOTE:  The technical specifications which outline decidim&#39;s new functions can be found and downloaded from the following link: <a href="https://contractaciopublica.gencat.cat/ecofin_pscp/AppJava/ca_ES/notice.pscp?idDoc=24253271&amp;reqCode=viewCn">https://contractaciopublica.gencat.cat/ecofin_pscp/AppJava/ca_ES/notice.pscp?idDoc=24253271&amp;reqCode=viewCn</a> ).</p>
  <h1 id="2-participatory-spaces">2    Participatory spaces</h1>
  <p>Participatory spaces define the main participatory channels or routes. They are displayed in the platform&#39;s main upper menu. </p>
  <p>The basic logic behind Decidim&#39;s structure is that <strong>components work together in the participatory spaces</strong>. There are different types of spaces (initiatives, processes, consultations and assemblies) and various instances within each type (a process for an election and another for participatory budgets, council body for neighbourhoods and another for workers, an initiative to call for a change in legislation and another for something to be included in a plenary meeting agenda, etc.).</p>
  <h2 id="2-1-processes">2.1    Processes</h2>
  <p>Participatory processes require a general <strong>configuration</strong> form with the following fields: Title or name of the process; short name for URL; hash tag (used as a reference for communications on social networks); short description; long description; home page image; banner image; date of start and finish; field; promoter group (responsible for the participatory process on a political level, may be the local authority or a group made up of the authority’s experts/politicians and associations and other organisations); who it is aimed at; goal of the participatory process and participatory structure. The participatory process allows <strong>accompanying documents</strong> to be added. </p>
  <p>Participatory processes are divided into <strong>stages</strong> (e.g. 1. Information and convening stage; 2. diagnostics stage; 3. proposals stage; 4. prioritisation stage; 5. decision stage; 6. evaluation stage and 7. results-monitoring stage). Each stage includes the following configuration fields: title, description, start date, end date. </p>
  <p><strong>Highlights of announcements or texts</strong> may also be displayed in the processes, both on the home page and in the heading of each component (proposals, discussions and debates, etc.) Different messages can be configured depending on the particular stage of a process. </p>
  <p>A <strong>participatory process configuration tool</strong> enables the simple activation and deactivation of stages and their components. Decidim&#39;s process configuration tool is one of its most powerful functions, enabling total flexibility in designing participatory processes according to the various realities and forms of citizen participation.</p>
  <p>The function of <strong>process groups </strong>enables various processes to be grouped, such as by the Participatory Budgets of different districts or neighbourhoods.</p>
  <p>Participatory processes may have one of the following <strong>process statuses</strong>: 0) published or unpublished; 1) open (started); 2) closed (the participatory process has ended but its results are still under way; 3) finished (both the process and its results phase are complete) and 4) future (has not yet started) [function expected for 2017Q3, GenCat]. </p>
  <p>A process can be <strong>highlighted </strong>(which increases its visibility on the homepage). </p>
  <p>There is also the possibility to <strong>copy participatory processes </strong>from the administration panel. This function enables process models to be designed and copied so that certain details can be configured within the new processes, avoiding the need to create them from scratch.</p>
  <h2 id="2-2-assemblies">2.2    Assemblies</h2>
  <p>Decidim allows the <strong>creation and configuration </strong>of participatory or government <strong>assemblies</strong> (government or participatory bodies; councils; work groups etc.,) defined as structured participant groups which, whether on an individual or representative level, meet up periodically, with the authority to make proposals and decisions. </p>
  <p>The <strong>assemblies section</strong> allows you to see a full list of all of the assemblies that are active and can be configured from the administration panel. The basic <strong>settings</strong> require the following fields to be completed for each body: name; image; field (global, territorial or sectoral); body’s function (purpose of action); type of body (government, executive, consultative / advisory, participatory, work group, commission etc.,); creation date; created on the initiative of (City Council, citizens or others); duration (indefinite or fixed, in the latter case, finishing date); date of inclusion in Decidim; date of closure and reason; as organised (functions; powers etc.,) composition, where it can be joined and how to do that; method of choosing members; type/ function of members within the body; composition of internal work groups as monitoring or advisory committees); the body&#39;s features; the body&#39;s social networks (name of social network and link) and the body’s next meetings.</p>
  <ul>
    <li><p><strong>Convening meetings</strong>: the automatic facility to send meeting invitations, collaboratively create agendas, and register attendance. For a complete list of functions see the &quot;meetings&quot; component [function expected for 2017Q4, AjB-Lote2Mod2].</p>
    </li>
    <li><p><strong>Assembly’s features</strong>: open, public, transparent and other features regarding the level of participation that the assembly allows [function expected for 2018Q1, AjB-Lote2Mod3].</p>
    </li>
    <li><p><strong>Composition:</strong> This enables the composition of the body to be defined in greater detail, using the profiles of participants associated with the body as well as other features. A display of the body’s structure is automatically generated based on the composition of participating members [function expected for 2018Q1, AjB-Lote2Mod3]: </p>
      <ul>
        <li><p><strong>Types of members</strong>: Chair, deputy chair, secretaries, others</p>
        </li>
        <li><p><strong>Membership origin</strong>: by draw; direct election; representation from another assembly; government representation etc.</p>
        </li>
        <li><p><strong>Internal work groups</strong>: for the creation of sub-assemblies. Work groups will be able to relate to the body they belong to</p>
        </li>
        <li><p><strong>Features</strong>: Open/closed; transparent; with various access permits.</p>
        </li>
      </ul>
    </li>
    <li><p><strong>Display</strong>: allows us to view internal data about each body as well as the associations between assemblies [function expected for 2018Q1, AjB-Lote2Mod3]</p>
      <ul>
        <li><p><strong>Composition</strong>: the structure of a body is shown in the form of a circle diagram</p>
        </li>
        <li><p><strong>Organisation charts</strong>: allow us to view the hierarchy or network of assemblies and their associations.</p>
        </li>
      </ul>
    </li>
    <li><p><strong>Map and calendar</strong>: allow us to view the location of all the assemblies on a map and calendar [function expected for 2018Q1, AjB-Lote2Mod3].</p>
    </li>
    <li><p><strong>Involvement with other spaces and components</strong> </p>
      <ul>
        <li><p><strong>Involvement with processes</strong>: assemblies can be promoter groups, start a process or make proposals within a process. A body’s composition has to be the result of a process (for electing posts) [function expected for 2018Q1, AjB-Lote2Mod3]</p>
        </li>
        <li><p><strong>Proposals and results</strong>: a body can generate its own proposals or results.</p>
          <ul>
            <li>It shows how the proposal was agreed on (by consensus, majority, number of votes etc.). [Function expected for 2018Q1, AjB-Lote2Mod3]</li>
          </ul>
        </li>
        <li><p><strong>Meetings</strong>: assemblies will have a list of associated meetings, but some functions may jump from one meeting to another , such as citizen initiatives to be included in an agenda item. Likewise, it must be possible to view minutes separately from the meeting, as they are associated directly with the body [function expected for 2018Q1, AjB-Lote2Mod3].</p>
        </li>
      </ul>
    </li>
  </ul>
  <h2 id="2-3-initiatives">2.3    Initiatives</h2>
  <p><strong>Initiatives</strong> are expected for October 2017 for Barcelona City Council and will subsequently be integrated into Decidim. This participatory space allows citizens to make proposals and collect the <strong>requisite number of signatures and/or endorsements</strong> depending on type (the various types are set out in the municipal regulations), giving rise to the start of the administrative procedure for its processing and citizen monitoring.</p>
  <p>Initiatives have the following functions:</p>
  <ul>
    <li><p>Any person or citizen association can make a citizen-initiative proposal. There are <strong>several types of initiatives</strong> with various numbers of endorsements/signatures required for their processing (these are all configurable). From the initiative-creation home page, a description of each of the methods, the number of signatures required and examples (e.g. explanatory videos) can be viewed.</p>
    </li>
    <li><p>To avoid duplicates, once an initiative has been created, the system will present suggestions for <strong>similar initiatives </strong>before continuing with the following step. Once similar proposals have been ruled out, the specific form will be shown for each type of initiative, along with the minimum number of endorsements required. The creator then has an URL at their disposal which can be used to invite others to join in and endorse the initiative. A map is also displayed showing the locations of meeting points to collect signatures should there be any.</p>
    </li>
    <li><p>Once the minimum number of endorsements has been collected, the initiative will move to a <strong>technical moderation and validation </strong>stage, where the City Council’s staff can respond in various ways (by approving it, rejecting it or suggesting amendments).</p>
    </li>
    <li><p>Initiatives can be monitored and <strong>notifications received on updated </strong>statuses, in addition to which their individual promoter or group can periodically send information newsletters to other uses of the platform who have opted to follow the initiative.</p>
    </li>
    <li><p>On reaching the specified end date, an initiative can have two possible states:</p>
      <ul>
        <li><p><strong>Rejected</strong>: where it fails to reach the minimum number of signatures, a message will be shown stating &quot;does not meet the number of signatures required&quot; and the initiative&#39;s creator will be notified.</p>
        </li>
        <li><p><strong>Accepted</strong>: where it has achieved a sufficient number of signatures or endorsements it will be accepted and the corresponding procedure will start.</p>
        </li>
      </ul>
    </li>
  </ul>
  <h2 id="2-4-consultations">2.4    Consultations</h2>
  <p>Consultations ( a voting procedure where all of the organisation’s participants are called to vote on specific questions) is a space that allows participants<strong> to find out about current or prospective consultations</strong>, <strong>discuss and debate</strong> the consultation’s subject area and <strong>monitor</strong> the results. It also provides a <strong>gateway to an e-voting system</strong> which is external to Decidim but integrated in the interface in order to manage and verify identities [Function expected for 2018Q2, AjB].</p>
  <h1 id="3-components">3    Components</h1>
  <p>Decidim’s components are basic participatory mechanisms that are activated and configured for the various participatory spaces or subspaces (stages of a process, the work groups of a body, etc.).</p>
  <h2 id="3-1-proposals">3.1    Proposals</h2>
  <p>Proposals are Decidim&#39;s most important component. Proposals are defined as any element of a strategic plan, a regulation, an investment plan, a change in legislation or any other minimum decision unit. Proposals can be made by any of the following <strong>types of creators</strong>: by the very organisation managing the platform (e.g. a local authority); by registered participants; they may originate from a meeting as a result of a discussion or collective deliberation or may be generated by an assembly or body or by an organisation registered with the platform. They may also <strong>be created directly or collaboratively </strong>and be subject to <strong>amendment</strong> .</p>
  <p>Proposals are defined by an author, title and text content. They may also include <strong>images</strong>, <strong>geo-location </strong>and <strong>accompanying files</strong>. </p>
  <p>Once a proposal has been published it may be <strong>moderated</strong> (if someone labels it as such and defines the reason for moderating).  </p>
  <p>Proposals in the <strong>administration</strong> panel can <strong>be ordered</strong> under various criteria, commented on internally (without these observations being seen by the public), <strong>downloaded</strong> in JSON or CSV format (compatible with spreadsheet software), <strong>recategorised</strong> or <strong>moved</strong> to different spaces [the latter two functions are expected for 2017Q4, AjB-Lote3Mod1]. In addition, proposals may be <strong>accepted</strong>, <strong>rejected</strong> or kept in an evaluative state.</p>
  <p>Other functions associated with proposals include:</p>
  <ul>
    <li><p><strong>Version control</strong>:<strong> </strong>this makes it possible to keep a record of all the changes made to a proposal, as well as code-generation to verify the proposal’s integrity [2017Q3, GenCat].</p>
    </li>
    <li><p><strong>Detecting similarities</strong>: This allows anyone making a new proposal to find similar ones previously made on the platform, thereby avoiding duplications [2017Q4, AjB-Lote3Mod1].</p>
    </li>
    <li><p><strong>Connections between proposals</strong>: proposals made can be connected to one another using links in the comments section, showing related proposals as cards and giving notifications on the existence of a new connection. [2017Q4, AjB-Lote3Mod1].</p>
    </li>
    <li><p><strong>Supporting proposals</strong>: organisations can support proposals and such public support will be shown within the proposal and participants that follow the organisation&#39;s activity will be notified of this [2017Q4, AjB-Lote3Mod1].</p>
    </li>
    <li><p><strong>Amending and withdrawing proposals</strong>: a proposal’s author may amend and/or withdraw it before the endorsement-collection stage opens [2017Q4, AjB-Lote3Mod1].</p>
    </li>
    <li><p><strong>Amendments</strong>: any participant can edit a proposal’s text and a sub-proposal will be created in amendment mode (Pull Request in Github). This sub-proposal may gather endorsements and the proposal’s author may accept or reject the amendment (or sub-proposal). Where a sub-proposal is rejected, its author may convert it into an official proposal [2017Q4, AjB-Lote3Mod1].</p>
    </li>
    <li><p><strong>Guided creation of proposals</strong>: While a proposal is being created its participant is accompanied through the process, which is divided into two steps, with contextual help and previews before the proposal is sent [2017Q4, AjB-Lote3Mod1].</p>
    </li>
    <li><p><strong>Proposal incubator</strong>: Decidim permits collaborative and co-creations of proposals [function expected for 2018Q1, AjB-Lote3Mod3]. It will incorporate the following functions:</p>
      <ul>
        <li><p>Creating rough drafts with numerous authors.</p>
        </li>
        <li><p>The listing of collaborative drafts</p>
        </li>
        <li><p>Comments in drafts</p>
        </li>
        <li><p>Asking for help from and accepting the help of other collaborators</p>
        </li>
        <li><p>Linking drafts to an appointment in person </p>
        </li>
        <li><p>Promoting drafts on initiative, process or project proposal.</p>
        </li>
      </ul>
    </li>
  </ul>
  <h2 id="3-2-participatory-texts">3.2    Participatory texts</h2>
  <p>Participatory texts are defined as an ordered collection of proposals that make up a document with complete text. Participation in the text stems from interaction with the proposals that form it. This component basically allows three operations [function expected for 2018Q2, AjB-Lote3Mod4]:</p>
  <ul>
    <li><p><strong>Breaking down a text document into ordered proposals </strong>based on a document in ODT, XDOC, MarkDown and HTML formats. If the text is structured in sections and subsections, ordered proposals will be created from the lower level subsection; if the text is not structured, a proposal will be created for each paragraph of text. The interface allows proposals to be re-edited, merged, separated, given titles, etc.</p>
    </li>
    <li><p><strong>Composition of proposals in a unified text</strong>: based on a series of proposals, these may be ordered and generate a unified and downloadable text.</p>
    </li>
    <li><p><strong>Viewing and interacting</strong> with documents composed of proposals: A collection of proposals will be shown as a unified text and may be amended or comments can be added in the margin.</p>
    </li>
  </ul>
  <h2 id="3-3-results">3.3    Results</h2>
  <p>Results are proposals (or amendments to proposals) which have ended up being the result of a decision taken in Decidim, whether directly (as a consequence of applying a voting system) or brought about by meetings, assemblies or the expert or political team in charge of a decision area through the platform’s management.</p>
  <p>The results component allows <strong>official responses </strong>to be managed for all the proposals made: with the reason for rejecting or accepting the proposal and the result in which the proposal has finished. </p>
  <p>Results collect <strong>metadata on the traceability </strong>of the proposals incorporated into the result, as well as the meetings where they were discussed and debated or created (by those attending these meetings) and all of the endorsements received.</p>
  <h2 id="3-4-monitoring-results">3.4    Monitoring results</h2>
  <p>The result-monitoring component enables <strong>results to be turned into projects </strong>or allows them to be broken down into projects or sub-projects. Each of these projects can be described in further detail and allows <strong>the implementation status to be defined</strong>, in sections which range from 0% implementation to 100%. The monitoring component also enables people visiting the platform to <strong>view the level of implementation </strong>(comprehensive, by category and/or subcategory), of the results and projects. Results, projects and statuses can be updated through a CVS, or manually by the administration interface [function available for decidim.barcelona and awaiting integration into decidim-core, expected for 2017Q3, AjB].</p>
  <h2 id="3-5-votes-and-or-endorsements">3.5    Votes and/or endorsements</h2>
  <p>Participants can endorse proposals. Such endorsements can be interpreted as votes, signatures, endorsements or in any other format that demonstrates a positive agreement in accordance with the political will itself. </p>
  <p>There are <strong>several voting and management systems</strong> for this in Decidim. The simplest way is by activating endorsements, so that participants can issue a single endorsement for each proposal they wish, without any limit to the number of proposals that can be voted for. Alternatively, the number of votes can be limited (e.g. 10 per participant).</p>
  <p>Another option is the priority-weighted voting system. Each participant has a number of endorsements available with varied weighting, for example 3 endorsements are worth 3, 2 and 1 respectively, with the possibility of distributing them as deemed fit [function expected for 2017Q4, GenCat].</p>
  <p>From the administration panel it is possible to configure the <strong>display settings for the voting results</strong> either during or solely after the voting period.</p>
  <p>There is a <strong>special form used to vote for participatory budgets</strong> which allows participants to vote by &quot;spending&quot; an amount equivalent to the budget in question among the proposed projects. The number of votes is limited here by the selected projects’ accumulated spending amount.</p>
  <h2 id="3-6-comments">3.6    Comments</h2>
  <p>Comments are a special component that generally appear to be associated with another component (proposals, discussions and debates, results, meetings etc.,) to enable a deliberative process on an issue or proposal.</p>
  <p>Decidim’s comments system has been designed to encourage deliberation. First-level comments, with respect to the discussion&#39;s subject matter, can be classed as: <strong>In favour, against or neutral</strong>. Comments can be <strong>embedded</strong> in subsection commentary threads and <strong>voted on</strong>. Decidim allows <strong>observations to be ranked</strong> by those in favour or against, in chronological order and by number of votes in favour. It also allows a <strong>two-column display</strong> with the comments that have received the most approvals or disapprovals[the latter function is expected for 2017Q4, GenCat].</p>
  <h2 id="3-7-informative-pages">3.7    Informative pages</h2>
  <p>This is a page with html content and a title that appears in the inner menu of the participatory spaces. It is possible to embed images, videos and rich text here.</p>
  <h2 id="3-8-discussions-and-debates">3.8    Discussions and debates</h2>
  <p>In this area, discussions and debates can be opened on questions and specific issues established by administrators or participants. [This function is only active for decidim.barcelona and is expected to be integrated into Decidim-core for 2017Q3, GenCat].</p>
  <h2 id="3-9-surveys">3.9    Surveys</h2>
  <p>The surveys component allows results to be mapped out, processed and displayed for surveys that can be carried out in various participatory spaces.</p>
  <ul>
    <li><p><strong>Survey configuration tool</strong>: allows administrators to create questions and answers (open, test types, multiple selection etc.,) and launch the survey, as well as download the responses in CSV format.</p>
    </li>
    <li><p><strong>Survey interface for participants</strong>: allows participants to respond to survey questions.</p>
    </li>
    <li><p><strong>Results displayer</strong>: allows graphic displays of survey results. [function expected for 2017Q3, GenCat].</p>
    </li>
  </ul>
  <h2 id="3-10-in-person-meetings">3.10    In-person meetings</h2>
  <p>This component enables users to convene meetings, <strong>add them to a calendar with geo-location</strong>, upload <strong>meeting minutes </strong>, <strong>debate</strong>, create <strong>proposals associated </strong>with meetings (stating the type of collective endorsement for the proposal), record the <strong>number</strong> of participants, upload <strong>photos</strong> of the meeting and <strong>categorise</strong> the meeting within a space.</p>
  <p>The configuration <strong>settings</strong> for meetings include the following <strong>basic fields</strong>: Title; description; address; location; details of the location; start and end time; field; category and maximum seating capacity. </p>
  <p>It also includes the following <strong>advanced fields</strong>: nature (public, open, closed); organiser group; existence of reconciliation space; adaptation to people with functional diversity; existence of simultaneous translation; type of meeting (informative, creative, deliberative, decision-making, evaluative, account giving, etc.) [function expected for [2017Q4, AjB-Lote2Mod2]</p>
  <p>Meetings relating to a space&#39;s level (a specific process or a body) can be shown on a <strong>map</strong> and <strong>ordered by date or category</strong>. All the meetings can be shown in <strong>calendar mode</strong>, with the possibility of exporting them to a mobile phone calendar or other apps [function expected for [2017Q4, AjB-Lote2Mod2].</p>
  <p>Some of the meeting component’s advanced functions include:</p>
  <ul>
    <li><p><strong>Registration and attendance system </strong>[function expected for 2017Q4, AjB-Lote2Mod2]:</p>
      <ul>
        <li><p>This allows the <strong>type of registration</strong> for a meeting to be managed (open and automatic, closed and accessible only to certain types of participants, etc.), establishes the <strong>number of places </strong>available for attendees, allows attendees to reserve a place, and process <strong>manual registrations</strong>. <strong>Invitations</strong> can be sent out and the <strong>conditions </strong>that need to be accepted in order to be able to attend the meeting can be defined (e.g. image rights release) and <strong>registering the attendance </strong>of participants.</p>
        </li>
        <li><p>It allows participants <strong>to register</strong> for a meeting, request <strong>a family reconciliation service </strong>(playroom, childcare space) and to obtain an <strong>accreditation code </strong>for attending at a meeting. </p>
        </li>
        <li><p>Those registered who have attended a meeting will have <strong>special access</strong> enabling them to evaluate the meeting or make comments, etc. </p>
        </li>
        <li><p>Participants or administrators will be able to receive <strong>notifications</strong> on registration-period openings, the number of places remaining for registrations, reminders of meetings, and the publication of minutes. </p>
        </li>
      </ul>
    </li>
    <li><p><strong>Managing agendas</strong>: a section of an agenda allows the duration of meetings to be defined, an agenda’s items, sub-items, title and content created and estimated duration. Participants can propose agenda items. [function expected for 2017Q4, AjB-Lote2Mod2]</p>
    </li>
    <li><p>System for <strong>drafting, publishing and validating meeting minutes</strong> [function expected for 2017Q4, AjB-Lote2Mod2]:</p>
      <ul>
        <li><p>Minutes can be uploaded in video, audio or text format.</p>
        </li>
        <li><p>Minutes in text mode are associated with a <strong>collaborative writing board</strong> integrated into Decidim.</p>
        </li>
        <li><p>Minutes go through 4 <strong>stages of preparation</strong>: 1. Collaborative writing during the meeting; 2. Preparing the official draft of the minutes; 3. Draft-amendment stage; 4. Publication and final validation of the minutes.</p>
        </li>
        <li><p>Minutes can be <strong>commented on</strong> using the comments component.</p>
        </li>
        <li><p><strong>Accompanying documents </strong>may also be added to the minutes.</p>
        </li>
      </ul>
    </li>
    <li><p><strong>Auto-convening</strong>: verified participants will be able to convene meetings directly through the platform , with support from a certain number of other participants, the meeting will be publicly activated and convening participants will have access to the administration panel [function expected for 2017Q4, AjB-Lote2Mod2]</p>
    </li>
    <li><p><strong>Displaying and exporting meetings</strong>: meetings can be displayed in map mode (for spaces or generally on the platform), in calendar mode and exported to the agenda and calendar managers and calendars (in iCalendar format) [function expected for 2017Q4, AjB-Lote2Mod2].</p>
    </li>
  </ul>
  <h2 id="3-11-conferences">3.11    Conferences</h2>
  <p>Conferences are defined as a series of meetings having several specific features (interactive and downloadable programme, registration system, system for generating certificates of attendance and/or diplomas).</p>
  <p>Decidim has a configuration and conference-page generator, which enables the creation of an <strong>internal website for holding events</strong> relating to a participatory process or another participatory space. [The Conferences component is expected for 2018Q2, AjB-Lote2Mod5]</p>
  <p>Configuration settings include:</p>
  <ul>
    <li><p>The option to generate an <strong>interactive programme</strong> on the conference (where there are guest speakers, it will include their name, position, organisation, a small biography and links to other websites).</p>
    </li>
    <li><p>Email <strong>invitations</strong>.</p>
    </li>
    <li><p><strong>Automatic diploma creation</strong> for those who request it, through a support panel that an administrator can later verify.</p>
    </li>
    <li><p>Links to the conference <strong>video and materials </strong>platforms in the programme and documents.</p>
    </li>
    <li><p>Automatic links to digital-media websites covering the conference.</p>
    </li>
    <li><p>The ability to following conferences through <strong>social networks</strong> (e.g. by incorporating a Twitter feed).</p>
    </li>
  </ul>
  <h2 id="3-12-blogs">3.12    Blogs</h2>
  <p>Blogs are a component that allow <strong>news items</strong> to be created and displayed chronologically. Blog entries are another type of content and have to be associated with a level of participatory space. Blog entries relate to the classification system of the platform’s content. <strong>Comments associated </strong>with blog entries will be treated like the platform’s other comments, as described above [function expected for 2017Q4, AjB-Lote2Mod1].</p>
  <h2 id="3-13-general-and-targeted-newsletter">3.13    General and targeted newsletter</h2>
  <p>Decidim has a function which enables a user to send a <strong>newsletter</strong> (email) to everyone registered with the platform who has agreed, under the terms and conditions of use, to receiving this information newsletter email. Personalised emails are sent out addressed directly to the name of the user in various languages (sent out by default in the language chosen by the user). </p>
  <p><strong>Selective newsletters </strong>may also be emailed to user groups who have decided to follow a process, body or initiative [function expected for 2017Q3, GenCat].</p>
  <p>Participants will automatically and directly be able to <strong>unsubscribe </strong>through the email itself by clicking on a link in it and it will also be possible to <strong>track the number of visits</strong> generated by the newsletter<strong> </strong>[function expected for 2017Q4, AjB-Lote2Mod1]. </p>
  <h2 id="3-14-search-engine">3.14    Search engine</h2>
  <p><strong>The search engine</strong> allows participants to perform searches across all of the platform’s indexable content, both generally and specifically, by searching within a specific participatory process or inside its components (proposals, results, etc.), through advanced searches.</p>
  <p><strong>Pages that can be browsed and filtered from search results</strong> show contents according to their type and ordered by the priority they have been defined under (e.g. Showing first the terms found inside assemblies and later the participatory processes). [Function expected for 2017Q4, AjB-Lote3Mod2]</p>
  <h1 id="4-participants">4    Participants</h1>
  <h2 id="4-1-registration-and-verification">4.1    Registration and verification</h2>
  <p>Any visitor can access all of the website’s content directly. However, anyone who wishes to submit proposals or comments will have to <strong>register</strong>. Users may register <strong>directly</strong> on the platform or through gateways to other <strong>social networks</strong> (Facebook, Twitter or Google+). Users will need an associated email account and a user-account password to register directly.</p>
  <p>Decision-orientated functions (endorsements, votes etc.,) require <strong>verification</strong>. The main verification method cross-checks against the municipal register and other databases that people have registered with whom Decidim can communicate via API. Users may also be verified <strong>by text</strong> or using a special <strong>code</strong> sent by post or other means. Also, from the administration panel allows a participant to be <strong>manually verified</strong> [functions expected for 2018Q1-3, AjB-Lote1].</p>
  <p>Besides the verification process, participants can also ask to have their user name <strong>made official</strong>. Once made official, their user name will appear with a symbol that allows third parties to acknowledge that this user name corresponds to the person it claims to be.</p>
  <p><strong>Associations and organisations</strong> whose identity can be verified in some way can also be registered and verified. The official name status will be automatically verified.</p>
  <h2 id="4-2-public-registration-of-administrative-activity">4.2    Public registration of administrative activity</h2>
  <p>The manual verification of participants, as well as other administrative actions can create vulnerability or may enable the platform&#39;s administrators to use the functions in an abusive manner. To that end, Decidim includes a <strong>public register of administrative activities</strong> so these actions can be publicly and transparently audited.</p>
  <h2 id="4-3-user-profile-and-personal-settings">4.3    User profile and personal settings</h2>
  <p>There is a <strong>user-profile page </strong>where participants can make <strong>changes to their data </strong>(such as email account, password etc.), upload and enable an <strong>avatar</strong> image, set notifications and unsubscribe.</p>
  <p>The user-profile page also allows participants to add <strong>additional information</strong> to include interests and skills, voluntarily and by selecting the level of visibility of that information. This allows personal notifications to be sent and participants can be matched with others for collaborations [function expected for 2018Q1-3, AjB-Lote1].</p>
  <h2 id="4-4-monitoring-and-notifications">4.4    Monitoring and notifications</h2>
  <p>Participants receive <strong>automated notifications</strong> regarding the content they have created: responses to comments and comments on their proposals, as well as the results of their proposals (whether accepted or rejected).</p>
  <p>Besides automated notifications, participants can decide to <strong>follow any element </strong>of the system (other proposals, results, processes, assemblies, initiatives, groups or users etc.), and receive notifications [function expected for 2017Q3, GenCat].</p>
  <h2 id="4-5-communication-among-participants">4.5    Communication among participants</h2>
  <p><strong>Instant messages </strong>can be sent to participants through the platform, who will receive an email notification [function expected for 2017Q3, AjB].</p>
  <p><strong>Tags</strong> can also be added (in the comments section) to any registered user and a notification will be automatically sent. [function expected for 2018Q1-3, AjB-Lote1]</p>
  <h2 id="4-6-engagement">4.6    Engagement</h2>
  <p>Decidim has a series of functions geared to <em>gamifying</em> the platform, to <strong>attract and keep a growing number of participants interested</strong>, as well as to promote practices that boost democratic quality and collective intelligence in participation [the gamification system is expected for 2018Q1-3, AjB-Lote1]. </p>
  <p>The gamification system includes two modes, one centred on users and the other on proposals.</p>
  <ul>
    <li>The <strong>user-centred </strong>mode incorporates a <strong>points system</strong> based on several criteria (degree of detail of its user profile, number of invitations to others on the platform, number of proposals made and commented on, number of observations, number of endorsements obtained, number of followers, etc.)</li>
  </ul>
  <p>The combination of these and other indicators is used for generating gamification routes for each user and defining threads such as: most participatory person in the district, leadership in discussions and debates, etc.</p>
  <ul>
    <li>Gamification <strong>centred on proposals/initiatives</strong> allows promoters, signatories and followers to boost interaction with them by incorporating several <strong>metrics</strong> (number of times that the proposal is shared in social networks, degree of controversy (number of positive and negative observations), quality of deliberation (depth of observation tree), number of hits received, etc.</li>
  </ul>
  <h2 id="4-7-user-groups">4.7    User groups</h2>
  <p>Participants can register with the platform as members of one or several organisations/collectives. Once the organisation and membership status have been verified, participants can carry out actions (make proposals or submit comments, etc.), with their user or organisation name. [Function expected for 2018Q1-3, AjB-Lote1]</p>
  <p>User groups can also manage user and administrative accesses assigned to groups, as well as private debate spaces or share information between user groups, for example, who attended an in-person meeting. [Function expected for 2018Q1-3, AjB-Lote1]</p>
  <h1 id="5-general-functions">5    General functions</h1>
  <p>Below, we will outline a series of the platform’s general functions and features which do not appear in the spaces or components, or in the functions directly associated with participants.</p>
  <h2 id="5-1-installation-and-settings">5.1    Installation and settings</h2>
  <p>Decidim <strong>can be easily installed </strong>using the command prompt in any GNU/Linux server with the following installed services: PostgreSQL 9.4+, Ruby 2.4.1, NodeJS with yarn (JavaScript dependency manage), ImageMagick and PhantomJS. An automatic installation script allows you to deploy the whole dependency system, libraries, databases and other automatically required services in Heroku or Docker [function expected for 2018].</p>
  <p>The portal’s <strong>settings</strong> are <strong>customisable </strong>in the following fields that are filled out on a form from the administration panel: Name of the portal, social network profiles (Twitter, Facebook, Instagram, YouTube, Github); brief description; welcome text; default language; home image; the organisation’s logo; favicon, reference prefix (unique identifier that will apply to the portal’s elements) and the organisation’s URL.</p>
  <h2 id="5-2-integration-with-other-services-and-compatibility-creation-of-additional-services">5.2    Integration with other services and compatibility/creation of additional services</h2>
  <p>Decidim can be easily integrated with the following services that can be installed or configured with Decidim:</p>
  <ul>
    <li><p><strong>OpenStreetMap</strong>: to show events and proposals with geo-location</p>
    </li>
    <li><p><strong>Piwik</strong>: website traffic analysis</p>
    </li>
    <li><p><strong>Pad</strong>: collaborative real-time writing boards (technology to be determined) [Function expected for 2018Q1-3 AjB-Lote1]</p>
    </li>
    <li><p><strong>Digital identity and signature</strong>: integration with OAuth2 digital-identity management system, systems based on blockchain and recognised institutional digital identity and signature management systems [Function expected for 2018Q1-3 AjB-Lote1].</p>
    </li>
    <li><p><strong>Distributed filing system</strong>: Disseminating or copying proposals or other elements from the platform in a distributed filing system (blockchain or IPFS type) [Function expected for 2018Q1-3, AjB-Lote1].</p>
    </li>
    <li><p><strong>Microblogging</strong>: integration/compatibility with a standardised and open GNU Social or StatusNet type microblogging protocol/service for participants’ activities (proposals, observations and messages) [Function expected for 2018Q1-3, AjB-Lote1].</p>
    </li>
  </ul>
  <p>Decidim automatically generates the following services besides the ones that can be browsed on the website or accessed through an API: </p>
  <ul>
    <li><p><strong>SMTP</strong>: sending emails.</p>
    </li>
    <li><p><strong>Calendar</strong>: integration and compatibility with calendar-management systems and automatic creation and updating of events calendars, etc. [Function expected for 2018Q1-3, AjB-Lote1].</p>
    </li>
  </ul>
  <h2 id="5-3-multitenancy">5.3    Multitenancy</h2>
  <p>The multitenancy of the platform<strong> </strong>can be used on the basis of a single installation. In other words, a single installation of Decidim allows you to deploy as many portals as you want under specific settings for each of the levels. That way an organisation can create participatory portals for its sub-organisations or various organisations can share a server and reduce the maintenance costs of its portals.</p>
  <h2 id="5-4-multi-language">5.4    Multi-language</h2>
  <p>Decidim is a <strong>multi-language</strong> platform. Its available languages will be configured during its installation. Menus, administrative forms and, generally, the platform&#39;s fixed texts are available in several languages (Spanish, Catalan, Basque, Italian, French, Dutch and Finnish). A <strong>collaborative translation </strong>system in <a href="https://crowdin.com/project/decidim">https://crowdin.com/project/decidim</a> enables new languages to be incorporated into the platform. </p>
  <p>As for content, once the official languages of the level have been set during the installation, all the content that is created from the administration panel has the option of being generated in these languages. The administration panel allows <strong>content to be managed in several languages</strong> through tabs. The content generated by users is displayed on the platform in a single language (the one chosen by the participant through the language selector in the upper part of the menus or automatically through its browser&#39;s language settings).</p>
  <h2 id="5-5-statistics-open-data-and-downloads">5.5    Statistics, open data and downloads</h2>
  <p>Besides the application programming interface (API) which automatically provides access to public data, Decidim’s home page features a <strong>general statistics table</strong> with the following fields: number of participants, processes, proposals, results, meetings, observations and votes.</p>
  <p>Another <strong>statistics table for each participatory process</strong> shows the number of meetings, proposals, votes and results of a specific process.</p>
  <p>The administration panel lets you <strong>export the proposals, results and observations </strong>of a participatory process in CSV and JSON format and responses to surveys for processing and/or integration with other management systems. Participants can <strong>download the results of a participatory process and the extent of its implementation </strong>through a CSV file.</p>
  <p>Decidim also has a <strong>data-display component </strong>at its disposal on the platform’s general level and on a specific level (showing data from a specific Participatory Space ) [function expected for 2018Q1, AjB-Lote2Mod4]. The following are included among the graphics that are displayed:</p>
  <ul>
    <li><p><strong>Interactive graphics </strong>in the form of a time line showing the development of the various components’ counters.</p>
    </li>
    <li><p><strong>Heat map</strong> of all the meetings, proposals or other content with geo-location tags.</p>
    </li>
    <li><p><strong>Interactive diagrams </strong>(bar or pie charts) with the results of a process (amounts of each of the participatory budget projects, filter by category and status of the proposals - whether selected or not, etc.)</p>
    </li>
  </ul>
  <p>All of these displays are accompanied by an <strong>option for downloading data </strong>in CSV format [function expected for 2018Q1, AjB-Lote2Mod4]. </p>
  <h2 id="5-6-api-adaptable-website-design-and-mobile-app">5.6    API, adaptable website design and mobile app</h2>
  <p>Decidim has an application programming interface or API which is a series of independent service calls and data from Decidim&#39;s website interface. This allows third parties to develop services on the platform, automatically release data or develop new interfaces, or integrate other services with decidim.</p>
  <p>The API comes with <strong>documents</strong> and a <strong>formal participatory ontology</strong> [function expected for 2018Q1-3, AjB-Lote1]</p>
  <p>Decidim&#39;s website <strong>design</strong> is completely <strong>adaptable</strong> (<em>responsive</em>), using <em>mobile-first</em> design philosophy (designed first for mobiles and later extended to desktop systems and tablets).</p>
  <p>Both the website&#39;s design and the API enable the development of mobile apps for Decidim, and a <strong>Mobile App</strong> is expected to be developed for the end of 2018 [AjB].</p>
  <h2 id="5-7-content-classification-systems">5.7    Content-classification systems</h2>
  <p>As for content classification, the following to be distinguished and adjusted in Decidim: fields, categories and labels (or tags).</p>
  <p><strong>Fields</strong> are generic throughout the platform and divided up into <strong>territorial</strong> and <strong>topic </strong>types. Territorial areas, once defined, allow the spaces’ elements to be classified by territory (e.g. if a process or a body or an initiative affects a district or two, the entire city, a region or country, depending on the organisation). Topic areas are likewise defined for the entire platform and allow classification of the various elements of the participatory spaces [function expected for 2017Q4, Gencat].</p>
  <p><strong>Categories and subcategories</strong> are used for classifying content within the various spaces and are defined for each of the levels of the spaces. So, for example, a participatory process may include several categories and subcategories (the process administrator defines them) whereas the process’ meetings, surveys, proposals and other components can be classed under these categories.</p>
  <p>In contrast to fields and categories, <strong>labels</strong> or tags are cross-cutting and freely defined by participants and can apply to any level or component. Labels can be created, embedded and defined in the administration panel. A label-suggestion system allows the people taking part to choose labels similar to the ones that are they are suggesting for labelling any of the platform&#39;s elements. Elements can be browsed by labels and the most popular labels displayed [function expected for 2017Q4, AjB-Lote2Mod1].</p>
  <h2 id="5-8-contextual-help-system-usability-and-evaluation-tests">5.8    Contextual help system, usability and evaluation tests</h2>
  <p>Decidim includes <strong>editable contextual help</strong> for guiding individual and administrative participants in using the platform. It also includes a system that allows <strong>usability experiments </strong>to be carried out with tests and usage statistics, as well as <strong>automatic evaluation surveys </strong>to be conducted on participants for the purposes of identifying usability and participatory-procedure errors and improving the democratic quality experience of the software [Function expected for 2018Q1-3, AjB-Lote1].</p>
</div>
