---
title: Features | Decidim
description: Current and Future Features for Decidim
---
<div class="container container--text-col container-vertical-top">

    <div class="container container--text-col container-vertical">
    <h1>Discover the current features and future roadmap of Decidim</h1>

    <p>
      Download full PDF document with current and future features for Decidim 2017-2018:
    </p>
    <p class="cta-block">
      <a href="/pdf/features-roadmap-en.pdf" class="btn btn--primary">Features 2017-2018 (PDF)</a>
    </p>
</div>
