---
title: Funcionalidades | Decidim
description:
---
<div class="container container--text-col container-vertical-top">
  <p><strong>Decidim Team</strong></p>
  <p><strong>Direcció de Recerca, Desenvolupament i Innovació</strong></p>
  <p><em>Regidoria de Participació i Districtes</em></p>
  <p>Funcionalidades y características de Decidim    </p>
  <p>Roadmap 2017-2018</p>
  <p>v.1.0</p>
  <p>4/09/2017</p>
  <p>[[TOC]]</p>
  <h1 id="metadatos">Metadatos</h1>
  <table>
    <tr>
      <td>Título</td>
      <td>Funcionalidades y Características de Decidim</td>
    </tr>
    <tr>
      <td>Versión</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>Fecha</td>
      <td>04/09/2017</td>
    </tr>
    <tr>
      <td>Edición</td>
      <td>Xabier E. Barandiaran, Carolina Romero</td>
    </tr>
    <tr>
      <td>Autoría</td>
      <td>Xabier E. Barandiaran, Carolina Romero</td>
    </tr>
    <tr>
      <td>Contribución</td>
      <td>Asier Amezaga, Andrés Pereira de Lucena</td>
    </tr>
    <tr>
      <td>Revisión</td>
      <td>Andrés Pereira de Lucena, Marta Almela</td>
    </tr>
    <tr>
      <td>Participación</td>
      <td>Josan Minguela, Joana Guijarro</td>
    </tr>
    <tr>
      <td>Resumen</td>
      <td>Decidim [<a href="https://decidim.org">https://decidim.org</a>] es una infraestructura digital para la democracia participativa basada en software libre (Ruby on Rails), que facilita la creación de portales de participación ciudadana. Las personas usuarias de la plataforma (participantes) interactúan a través de los mecanismos de participación llamados componentes que ofrecen funcionalidades específicas para diferentes espacios de participación. Es decir, los espacios de participación como las Iniciativas, las Asambleas, los Procesos o las Consultas disponen de componentes que se combinan como mecanismos de participación. Entre los componentes más destacados están los encuentros presenciales, las encuestas, las propuestas, las votaciones, el seguimiento de resultados y los comentarios. Por ejemplo, un proceso de participación específico como la elaboración de presupuestos participativos, puede combinar, en sus diferentes fases, varios componentes  para: convocar y registrar los resultados de encuentros presenciales con la ciudadanía, realizar una encuesta, hacer propuestas,y en las fases finales del proceso, hacer una votación para decidir sobre los proyectos con un sistema de gasto del presupuesto (siempre después de un periodo de comentarios y debates), realizar una encuesta de evaluación y, finalmente, un seguimiento de la ejecución de los proyectos escogidos.</td>
    </tr>
    <tr>
      <td>Palabras Clave</td>
      <td>Decidim, plataforma de participación democrática, componentes, espacios de participación, software, e-democracia, participación, asamblearismo, participación ciudadana, procesos participativos, consells de barri, consultas ciudadanas, accountability, rendición de cuentas, propuestas, e-voting, transparencia.</td>
    </tr>
    <tr>
      <td>Historia del documento</td>
      <td>Este documento incluye una descripción de las funcionalidades existentes en Decidim y de aquellas en fase de desarrollo o  de adjudicación (definidas en  los  pliegos del concurso público de contratación para el desarrollo de Decidim publicados por  el Ajuntament de Barcelona, código de expediente  17000141). En el diseño de las funcionalidades existentes y previstas participaron cientos de personas, durante las Jornadas Anuales Metadecidim 2016, en el proceso de participación Metadecidim del portal de participación del Ajuntament de Barcelona y en los encuentros mensuales SOM.meta.decidim. El documento también toma conceptos y procedimiento del nuevo reglamento de participación del Ajuntament de Barcelona que será previsiblemente aprobado el día 29 de Septiembre y ha sido elaborado participativamente a través del portal decidim.barcelona. Con motivo de las Jornadas Anuales Metadecidim 2017, de las necesidad de coordinar la implementación de las futuras funcionalidades con diferentes equipos de técnicos municipales y de publicar un roadmap actualizado, el equipo Decidim comenzó a redactar este documento para que sirva como referencia de las funcionalidades presentes y previstas de Decidim en el periodo 2017-2018.</td>
    </tr>
    <tr>
      <td>Cómo citar</td>
      <td>Barandiaran, X.E. &amp; Romero, C. (2017) Funcionalidades y características de Decidim. v.1.0. </td>
    </tr>
    <tr>
      <td>Copyleft</td>
      <td>Ajuntament de Barcelona y personas autoras del texto, bajo las licencias Creative Commons BY-SA (Reconocimient-CompartirIgual) Internacional (v.4.0) y GFDL (Licencia de Documentación Libre de GNU)
        CC BY-SA: Creative Commons Reconocimiento-CompartirIgual 4.0 Internacional
        Usted es libre de copiar y redistribuir el material en cualquier medio o formato, remezclar, transformar y crear a partir del material, para cualquier finalidad, incluso comercial. El licenciador no puede revocar estas libertades mientras cumpla con los términos de la licencia. Bajo las siguientes condiciones: a) Reconocimiento: debe reconocer adecuadamente la autoría, proporcionar un enlace a la licencia e indicar si se han realizado cambios. Puede hacerlo de cualquier manera razonable, pero no de una manera que sugiera que tiene el apoyo del licenciador o lo recibe por el uso que hace; b) compartir igual: si remezcla, transforma o crea a partir del material, deberá difundir sus contribuciones bajo la misma licencia que el original. No hay restricciones adicionales, no puede aplicar términos legales o medidas tecnológicas que legalmente restrinjan realizar aquello que la licencia permite. Puede encontrar las licencias completas en los siguientes enlaces: <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.es_ES">https://creativecommons.org/licenses/by-sa/4.0/deed.es_ES</a> 
        GFDL: Licencia de Documentación Libre de GNU
        Se concede permiso para copiar, distribuir y/o modificar este documento bajo los términos de la licencia de documentación libre GNU, versión 1.3 o cualquier otra versión posterior publicada por la Free Software Foundation; sin secciones invariantes ni textos de cubierta delantera, tampoco textos de contraportada. Una copia de la licencia se puede encontrar en <a href="http://www.gnu.org/copyleft/fdl.html">http://www.gnu.org/copyleft/fdl.html</a>
      </td>
    </tr>
  </table>


  <h1 id="-criterios-de-autor-a-y-c-mo-participar-en-este-documento"><strong>Criterios de </strong>autoría y cómo participar en este documento</h1>
  <p>Este documento está abierto a la participación. Puedes contribuir a este documento de varias formas diferentes. Excepto la función de edición el resto de las formas de participación y los niveles y criterios de autoría se especifican a continuación:</p>
  <ul>
    <li><p><em>Editor/a:</em> Se encarga de la monitorización del texto, sus versiones, correcciones, estructuración, etc. Puede coincidir o no con alguna de las autoras. Se trata, en definitiva de un/a coordinador/a de la colaboración del texto. Es función del editor/a solicitar las revisiones y leerlas.</p>
    </li>
    <li><p><em>Autoras/es</em>: Son autoras/es quienes propiamente han redactado el texto. El orden de los autores refleja la contribución de los mismos siendo el primer nombre el de quien más ha escrito. El/la autor/a habrá leído y revisado el texto en su versión final o en versiones anteriores pero no tiene por qué estar de acuerdo con la configuración final del texto, labor que queda en manos del o la editora.</p>
    </li>
    <li><p><em>Contribuidor/a</em>: Aquí pueden considerarse dos grupos de contribuidores. Por una parte, los y las revisoras académicas del documento (en caso de que su contribución sea considerable) y, por otra, colaboradores/as externos/as cuya contribución haya sido de valor y se haya consolidado en partes de texto incluidas en el documento. La diferencia entre contribuidor y autor queda en manos del editor o del resto de autores pero, en todo caso, la contribución debe ser menor a la del resto de autoras/es. Como regla general, si un autor ha escrito menos del 10% del texto debería considerarse contribuidor/a. A su vez, ser contribuidor/a requiere al menos haber escrito dos o tres párrafos.</p>
    </li>
    <li><p><em>Participante</em>: Se trata de una persona que, sin haber contribuido con una parte de texto específica al documento, ha realizado contribuciones de valor, como comentarios pertinentes al mismo o ha proporcionado criterios, referencias o elementos de discusión valiosos.</p>
    </li>
    <li><p><em>Revisor/a</em>: Esta labor incluye una lectura minuciosa de todo el texto, la corrección de errores y la propuesta de mejoras al mismo. Por lo general, es un trabajo por encargo (solicitado a una persona que se considera competente en la materia), aunque es posible que alguien contribuya haciendo una revisión sin solicitud expresa. En tal caso, la profundidad y calidad de la misma pueden calificar para considerar a esta persona revisora. (NOTE:  Esta división y especificación de niveles de autoría se ha copiado directamente de los criterios establecidos en el proyecto FLOK Society - Buen conocer (véase: Barandiaran et al. 2015, pp.38-39).)</p>
    </li>
  </ul>

  <p>Las personas usuarias de la plataforma (participantes) interactúan a través de los mecanismos de participación llamados <em>componentes</em> que ofrecen funcionalidades específicas para diferentes <em>espacios</em> de participación. Dicho de otro modo, los <em>espacios</em> de participación como las <em>Iniciativas</em>, las <em>Asambleas</em>, los <em>Procesos</em> o las <em>Consultas</em> disponen de componentes que se combinan entre sí como mecanismos de participación. Entre los componentes más destacados están los <em>encuentros presenciales</em>, las <em>encuestas</em>, las <em>propuestas</em>, las <em>votaciones,</em> el <em>seguimiento de resultados</em> y los <em>comentarios</em>. Así, por ejemplo, un proceso de participación específico (como la elaboración de presupuestos participativos) puede combinar, en sus diferentes fases, la posibilidad de convocar y registrar los resultados de encuentros presenciales con la ciudadanía, puede incluir una encuesta, también la posibilidad de hacer propuestas, después de un periodo de comentarios y debates, activar el componente de votación para decidir sobre los proyectos un sistema de gasto del presupuesto, después activar una encuesta de evaluación y finalmente activar el componente de seguimiento de la ejecución de los proyectos escogidos.</p>
  <div class="container">
    <div class="browser-shot browser-shot--light">
      <img src="/images/graph-features.png" alt="" />
    </div>
  </div>
  <p>Figura 1:<em> <strong>Diagrama r</strong>esumido de Decidim como combinación de componentes en instancias de espacios de participación. El componente Votaciones</em> permite diferentes sistemas de voto,expresión de apoyo o adhesión a una propuesta.*</p>
  <p>El espacio de <strong>Procesos</strong> permite crear, activar/desactivar y administrar diferentes procesos de participación, articularlos en diferentes fases en las que pueden combinarse todos los componentes. El espacio de <strong>Asambleas</strong> ofrece la posibilidad de  definir órganos o grupos que se reúnen periódicamente, detallar su composición, listar y geolocalizar sus encuentros y participar en ellos (acudiendo si el aforo y la naturaleza de la asamblea lo permite, introduciendo puntos en el orden del día o comentando las propuestas y decisiones tomadas por dicho órgano). El espacio de <strong>Iniciativas</strong> permite crear iniciativas de manera colaborativa, definir su trayectoria u objetivo, recoger apoyos, debatir y difundir la iniciativa y definir puntos de encuentro para la recogida de firmas presenciales. El espacio de <strong>Consultas</strong> posibilita articular referéndums, generar debates, conectar con un sistema de voto electrónico seguro y mostrar los resultados.</p>
  <p>En relación a los componentes, el componente <strong>incubadora</strong> de propuestas facilita realizar colaborativamente propuestas y hacer un seguimiento y control de los cambios. El componente <strong>propuestas</strong> permite crear oficialmente una propuesta, geolocalizarla, adjuntar documentos, así como navegar y filtrar propuestas. El componente <strong>resultados</strong> sirve para convertir propuestas en resultados y dar respuestas oficiales a su aceptación o rechazo. El componente <strong>seguimiento</strong> ofrece la posibilidad de subdividir resultados en proyectos, definir y aplicar estados de progreso en su ejecución y visualizar el grado de ejecución de los resultados. El componente <strong>encuestas</strong> facilita diseñar encuestas, publicarlas y visualizar y descargar los resultados. El componente <strong>comentarios</strong> permite realizar comentarios anidados, votarlos, responder y notificar las respuestas. El componente <strong>textos participativos</strong> permite  dividir un documento de texto en propuestas o resultados e, inversamente, componer y visualizar un texto unificado en base a una colección de propuestas o resultados. El componente <strong>votaciones</strong> ofrece la posibilidad de activar diferentes sistemas de voto sobre las propuestas: voto directo ilimitado, limitado, ponderado, basado en costes, etc. El componente <strong>páginas</strong> sirve para crear páginas informativas con texto enriquecido, imágenes y vídeos. El componente <strong>blog</strong> permite crear, categorizar y mostrar cronológicamente noticias. El componente de <strong>encuentros presenciales</strong> ofrece la posibilidad de convocar, definir lugar y hora, realizar la inscripción y el control de asistencia, definir la estructura y los contenidos de una cita o encuentro presencial, así como de publicar las actas, propuestas o resultados de la misma. El componente <strong>jornadas</strong> permite crear una web de unas jornadas unificando un conjunto de pequeñas citas presenciales (charlas, talleres, etc.), componer un programa y gestionar la asistencia. El componente <strong>newsletter</strong> o boletín sirve para enviar correos electrónicos a todas las personas registradas en la plataforma o, de manera selectiva, a aquellas que participen en un espacio determinado (NOTE:  No todos los componentes funcionales aquí descritos corresponden uno a uno con componentes de la arquitectura de Decidim. Por ejemplo, a día de hoy, no existe el componente de votaciones como tal, las votaciones son una propiedad del componente propuestas que se activa o desactiva desde el panel de administración. Lo mismo sucede con el componente resultados y el componente seguimiento-de-resultados. Hemos optado por realizar una distinción funcional de componente ya que la arquitectura de decidim puede variar a este respecto en el transcurso de los próximos meses.).</p>
  <p>En cuanto a las personas participantes, existen tres categorías diferentes:</p>
  <ul>
    <li><p><strong>Persona visitante.</strong> Puede ver: acceder a todo el contenido de la plataforma sin tener que registrarse.</p>
    </li>
    <li><p><strong>Persona registrada.</strong> Puede contribuir: creando un nombre de persona usuaria, contraseña y cuenta de correo electrónico (o de diferentes redes sociales). Puede realizar comentarios, crear propuestas, enviar mensajes y seguir a participantes o elementos de la plataforma y recibir notificaciones.</p>
    </li>
    <li><p><strong>Persona verificada</strong>. Corresponde a un nivel superior de participación. La persona puede acreditarse como miembro de una organización, ciudadana de un municipio, o perteneciente a una comunidad de decisión (una asociación, comunidad, colectivo, etc.), y una vez verificada puede inscribirse en encuentros presenciales, apoyar propuestas, firmar iniciativas y votar en consultas.</p>
    </li>
  </ul>
  <p>Es posible inscribirse a título <strong>personal</strong> o <strong>colectivo</strong> (asociaciones, entidades,…)y pueden crearse grupos de usuarios que se expresen de manera colectiva o individual. Las personas o colectivos participantes tienen pueden configurar/cambiar sus preferencias sobre las notificaciones.</p>
  <p>Cada instancia de un espacio de participación (p.ej.: un proceso de participación) se sitúa dentro de un <strong>ámbito</strong> (territorial y/o sectorial) y se define por una serie de <strong>categorías</strong> y subcategorías (p.ej.: temáticas) que afectan sólo a dicho espacio. También es posible utilizar <strong>etiquetas</strong> y hacer uso de un buscador general o específico dentro de los diferentes espacios.</p>
  <p>A diferencia de otras plataformas existentes, la arquitectura de Decidim es<strong> modular,</strong> <strong>escalable</strong>, fácilmente <strong>configurable</strong> e <strong>integrable</strong> con otras herramientas o aplicaciones (analítica de datos, mapas, etc.). a plataforma ha sido diseñada para facilitar la configuración y despliegue de procesos, asambleas y mecanismos participativos desde un panel de administración de una manera sencilla, no hace falta saber programar para instalarla, configurarla y activarla. Los módulos (componentes de participación) que la integran son independientes entre sí y pueden ser desarrollados, activados y desactivados de manera independiente.</p>
  <p>A continuación hacemos una lista detallada de las funcionalidades de Decidim, y las fechas en las que están previstos los evolutivos, mejoras y nuevas funcionalidades (objeto de contratación pública en proceso durante 2017-2018). Las fechas son orientativas y se indican con el año y cuartil en el que está prevista la funcionalidad. Así, por ejemplo, &quot;2018Q1&quot; significa el primer cuartil (trimestre) de 2018, es decir, su funcionalidad está prevista para enero, febrero o marzo de 2018. Si una funcionalidad no tiene una fecha contractual definida pero se encuentra en periodo que abarca más de un cuartil se expresará del siguiente modo: “2018Q1-3” indicando que la funcionalidad estará disponible en algún momento entre el trimestre primero y tercero de 2018. También se indica la institución que financia y contrata las nuevas funcionalidades: AjB (Ajuntament de Barcelona) y GenCat (Generalitat de Catalunya). Las especificaciones, (tipo Lote1, etc.) después de la institución financiadora, hacen referencia a los lotes y módulos del funcional del contrato público (NOTE:  Los pliegos de prescripciones técnicas en los que se detallan las nuevas funcionalidades de decidim se pueden encontrar y descargar en: <a href="https://contractaciopublica.gencat.cat/ecofin_pscp/AppJava/ca_ES/notice.pscp?idDoc=24253271&amp;reqCode=viewCn">https://contractaciopublica.gencat.cat/ecofin_pscp/AppJava/ca_ES/notice.pscp?idDoc=24253271&amp;reqCode=viewCn</a> ).</p>
  <h1 id="2-espacios-de-participaci-n">2    Espacios de participación</h1>
  <p>Los espacios de participación definen los principales canales o vías de participación. Se muestran en el menú superior principal de la plataforma. </p>
  <p>La lógica central de la estructura del Decidim es que los <strong>componentes se combinan en espacios  de participación</strong>. Existen diferentes  tipos de espacios (iniciativas, procesos, consultas y asambleas) y diferentes instancias dentro de cada tipo (un proceso de elecciones y otro de presupuestos participativos, un órgano de consejo de barrio y otro de trabajadores, una iniciativa para cambiar una ley y otra para incluir algo en el orden del día de un pleno, etc.).</p>
  <h2 id="2-1-procesos">2.1    Procesos</h2>
  <p>Los procesos de participación requieren rellenar un formulario de <strong>configuración</strong> general con los siguientes campos: Título o nombre del proceso, nombre corto para la url, hashtag (sirve de referencia para la comunicación en redes sociales), descripción corta, descripción larga, imagen de portada, imagen de banner, fecha de comienzo y finalización, ámbito, grupo promotor (responsable del proceso participativo a nivel político, puede ser el ayuntamiento o un grupo formado por técnicos/políticos del ayuntamiento y asociaciones u otras entidades), a quién va dirigido, objeto del proceso de participación y estructura participativa. El proceso de participación permite incorporar <strong>documentos adjuntos</strong>. </p>
  <p>Los procesos de participación están divididos en <strong>fases</strong> (p.e. 1. fase de información y convocatoria, 2. fase de diagnóstico, 3. fase de propuestas, 4. fase de priorización, 5. fase de decisión, 6. fase de evaluación y 7. fase de seguimiento de resultados). Cada fase incluye los siguientes campos de configuración: título, descripción, fecha de inicio, fecha fin. </p>
  <p>En los procesos también se pueden mostrar <strong>anuncios o **</strong>textos destacados**, tanto en la portada como en el encabezado de cada componente (propuestas, debates, etc.). Se pueden configurar mensajes diferentes en función de la fase que se encuentra activa. </p>
  <p>Un <strong>configurador de procesos de participación</strong> permite activar y desactivar fases y sus componentes de manera sencilla. El configurador de procesos de Decidim es una de sus funcionalidades más potentes, éste permite total flexibilidad en el diseño de los procesos participativos según las diferentes realidades y formas de participación ciudadana.</p>
  <p>La funcionalidad de <strong>grupos de procesos </strong>permite agrupar varios procesos, por ejemplo para Presupuestos Participativos de distritos o barrios distintos.</p>
  <p>Los procesos de participación pueden estar en uno de los siguientes <strong>estados de proceso</strong>: 0) publicado o no publicado, 1) abierto (ha comenzado), 2) cerrado (ha terminado el proceso de participación pero sus resultados están aún en vías de ejecución), 3) finalizado (tanto el proceso como sus resultados ya están terminados) y 4) futuro (aún no ha comenzado) [funcionalidad prevista para 2017Q3, GenCat]. </p>
  <p>Es posible <strong>marcar como destacado </strong>un proceso (aumentando su visibilidad en la portada). </p>
  <p>También hay la posibilidad de <strong>copiar procesos de participación</strong> desde el panel de administración. Esta funcionalidad permite diseñar procesos modelo y realizar una copia de los mismos para configurar algunos detalles de los nuevos procesos y no tener que crearlos de la nada.</p>
  <h2 id="2-2-asambleas">2.2    Asambleas</h2>
  <p>Decidim permite la <strong>creación y configuración </strong>de <strong>asambleas</strong> de participación o gobierno (órganos de gobierno, de participación, consejos, grupos de trabajo, etc.), entendidos como grupos estructurados de participantes que, a título individual o representativo, se reúnen periódicamente, con la capacidad de crear propuestas y tomar decisiones. </p>
  <p>La <strong>sección de asambleas</strong> permite ver un listado completo de todos las asambleas que se activan y configuran desde el panel de administración. La <strong>configuración</strong> básica exige determinar para cada órgano los siguientes campos: nombre, imagen, ámbito (global, territorial o sectorial), función del órgano (objeto de actuación), tipo de órgano (gobierno, ejecutivo, consultivo / asesor, participativo, grupo de trabajo, comisión,...), fecha de creación, creado por iniciativa de (Ayuntamiento, ciudadanos u otros), duración (indefinida o determinada, en este caso, fecha de finalización), fecha de inclusión en el Decidim, fecha de cierre y motivo, cómo se organiza (funciones, competencias,...), composición, si es posible adherirse y cómo hacerlo, la forma de selección los miembros, tipo/ función de los miembros dentro del órgano, composición de grupos de trabajos internos como comisión de seguimiento o comisión asesora), características del órgano, redes sociales del órgano (nombre de la red social y enlace), y próximos encuentros del órgano.</p>
  <ul>
    <li><p><strong>Convocatorias de reuniones</strong>: envío automático de convocatoria, creación colaborativa del orden del día, inscripción a asistencia. Para un listado completo de funcionalidades ver componente &quot;encuentros&quot; [funcionalidad prevista para 2017Q4, AjB-Lote2Mod2].</p>
    </li>
    <li><p><strong>Características de la asamblea</strong>: abierta, pública, transparente, u otras características del grado de participación que la asamblea permite [funcionalidad prevista para 2018Q1, AjB-Lote2Mod3].</p>
    </li>
    <li><p><strong>Composición</strong>: Permite definir la composición del órgano con más detalle, haciendo uso de los perfiles de participantes asociados al órgano así como otras característicasSe genera automáticamente una visualización de la composición del órgano a partir de la composición de los miembros participantes [funcionalidad prevista para 2018Q1, AjB-Lote2Mod3]: </p>
      <ul>
        <li><p><strong>Tipos de miembros</strong>: Presidente, vicepresidente, secretarios, otros</p>
        </li>
        <li><p><strong>Origen de miembros</strong>: por sorteo, elección directa, representación de otra asamblea, representación de gobierno, etc.</p>
        </li>
        <li><p><strong>Grupos de trabajo interno</strong>: creación de sub-asambleas. Los grupos de trabajo, se podrán relacionar con el órgano al que pertenecen</p>
        </li>
        <li><p><strong>Características</strong>: Abierto/cerrado, transparente, con diferentes permisos de acceso.</p>
        </li>
      </ul>
    </li>
    <li><p><strong>Visualización</strong>: permite visualizar datos internos de cada órgano así como relaciones entre asambleas [funcionalidad prevista para 2018Q1, AjB-Lote2Mod3]</p>
      <ul>
        <li><p><strong>Composición</strong>: muestra en forma de diagrama circular la composición del órgano</p>
        </li>
        <li><p><strong>Organigramas</strong>: muestra la jerarquía o red de asambleas y sus relaciones</p>
        </li>
      </ul>
    </li>
    <li><p><strong>Mapa y calendario</strong>: permite ver la localización de todos las asambleas en un mapa y en un calendario [funcionalidad prevista para 2018Q1, AjB-Lote2Mod3].</p>
    </li>
    <li><p><strong>Relación con otros espacios y componentes</strong> </p>
      <ul>
        <li><p><strong>Relación con procesos</strong>: las asambleas pueden ser grupo promotor,  iniciar un proceso o realizar propuestas dentro de un proceso. La composición de un órgano tiene que poder ser el resultado de un proceso (de elección de cargos) [funcionalidad prevista para 2018Q1, AjB-Lote2Mod3]</p>
        </li>
        <li><p><strong>Propuestas y resultados</strong>: un órgano puede generar sus propias propuestas o resultados.</p>
          <ul>
            <li>Se muestra la manera en que la propuesta fue acordada (por consenso, mayoría, número de votos, etc.). [funcionalidad prevista para 2018Q1, AjB-Lote2Mod3]</li>
          </ul>
        </li>
        <li><p><strong>Encuentros</strong>: las asambleas tendrán una lista asociada de encuentros, pero algunas funcionalidades pueden saltar de un encuentro al siguiente, como las iniciativas ciudadanas de inclusión de un punto en el orden del día. Igualmente las actas deben de poderse mostrar independientemente del encuentro, como asociadas directamente al órgano [funcionalidad prevista para 2018Q1, AjB-Lote2Mod3].</p>
        </li>
      </ul>
    </li>
  </ul>
  <h2 id="2-3-iniciativas">2.3    Iniciativas</h2>
  <p>Las <strong>iniciativas</strong> están previstas para Octubre de 2017 para el Ajuntament de Barcelona y se integrarán posteriormente en Decidim. Este espacio de participación permite a la ciudadanía hacer propuestas y recoger el <strong>número de firmas y/o apoyos requeridos</strong> según su tipología (los diferentes tipos están definidos en el reglamento municipal), dando lugar al inicio del procedimiento administrativo para su tramitación y seguimiento ciudadano.</p>
  <p>El funcionamiento de las iniciativas es el siguiente:</p>
  <ul>
    <li><p>Cualquier persona o entidad ciudadana verificada puede crear una propuesta de iniciativa ciudadana. Hay <strong>diferentes tipos de iniciativas</strong> con diferentes número de apoyos/firmas requeridos para su tramitación (todas ellas configurables). Desde la portada de creación de iniciativas se puede ver la descripción de cada una de las modalidades, el número de firmas requeridas y ejemplos (p.e. vídeos explicativos).</p>
    </li>
    <li><p>Para evitar duplicidades, una vez creada una iniciativa el sistema presenta sugerencias de <strong>iniciativas similares</strong> antes de continuar con el siguiente paso. Una vez descartadas propuestas similares se muestra el formulario específico para cada tipo de iniciativa, con el número mínimo de apoyos requeridos. El creador dispone entonces de una URL para invitar a otras personas a sumarse y dar apoyo. También se muestra un mapa con los puntos físicos de recogida de firmas en caso de que las haya.</p>
    </li>
    <li><p>Una vez recogido el número mínimo de apoyos, la iniciativa pasa a una fase de <strong>moderación**</strong> y validación técnica**, donde personal del Ayuntamiento puede realizar diferentes acciones (aprobarla, rechazarla o sugerir modificaciones).</p>
    </li>
    <li><p>Se puede realizar el seguimiento de la iniciativa y <strong>recibir notificaciones sobre actualizaciones</strong> de estado, además la persona o grupo promotor de la misma puede enviar boletines periódicos informativos al resto de usuarios de la plataforma que hayan decidido hacer el seguimiento a la iniciativa.</p>
    </li>
    <li><p>Al finalizar el período establecido una iniciativa puede tener dos estados posibles:</p>
      <ul>
        <li><p><strong>Rechazada</strong>: en caso de no conseguir el número mínimo de firmas se muestra el mensaje &quot;no reúne las firmas necesarias&quot; y se notifica a su creador.</p>
        </li>
        <li><p><strong>Aceptada</strong>: en caso de haber conseguido las firmas o apoyos suficientes se acepta e inicia la tramitación correspondiente.</p>
        </li>
      </ul>
    </li>
  </ul>
  <h2 id="2-4-consultas">2.4    Consultas</h2>
  <p>El espacio de consultas (votaciones a las que son llamadas todas las personas participantes de la organización sobre preguntas específicas) permite a los participantes<strong> informarse de las consultas</strong> futuras o en curso, <strong>debatir</strong> sobre el objeto de la consulta y realizar el <strong>seguimiento</strong> del resultado. También ofrece una <strong>pasarela a un sistema de voto electrónico</strong> externo a Decidim pero integrado en términos de interfaz y de gestión y verificación de identidades [Funcionalidad prevista para 2018Q2, AjB].</p>
  <h1 id="3-componentes">3    Componentes</h1>
  <p>Los componentes de Decidim son los mecanismos básicos de participación que se activan y configuran para los diferentes espacios de participación o subespacios (fases de un proceso, grupos de trabajo de un órgano, etc.).</p>
  <h2 id="3-1-propuestas">3.1    Propuestas</h2>
  <p>Las propuestas son el componente más importante de Decidim. Se entiende por propuesta cualquier elemento de un plan estratégico, una normativa, un plan de inversión, un cambio legislativo o cualquier otra unidad mínima de decisión. Las propuestas pueden tener los siguientes <strong>tipos de creadores</strong>: por la propia organización que gestiona la plataforma  (p.e. un ayuntamiento), por participantes registradas/os, puede originarse en un encuentro como resultado de un debate o deliberación colectiva, o puede generarlos una asamblea u órgano, o una organización registrada en la plataforma. También pueden <strong>crearse de manera directa o colaborativa</strong> y estar sujetas a sistemas de <strong>enmiendas</strong>.</p>
  <p>Las propuestas están definidas por un/a autor/a, título y un contenido de texto. Puede también incluir <strong>imágenes</strong>, <strong>geolocalización</strong> y <strong>archivos adjuntos</strong>. </p>
  <p>Una vez publicada una propuesta puede estar sujeta a <strong>moderación</strong> (si alguien la etiqueta como tal y define el motivo de moderación).  </p>
  <p>En el panel de <strong>administración</strong> las propuestas pueden <strong>ordenarse</strong> con diferentes criterios, comentarse internamente (sin que los comentarios sean públicos), <strong>descargarse</strong> en formato JSON o CSV (compatible con software de hojas de cálculo), <strong>recategorizarse</strong>, o <strong>moverse</strong> a diferentes espacios [estas dos últimas funcionalidades están prevista para 2017Q4,  AjB-Lote3Mod1]. Además las propuestas se pueden <strong>aceptar</strong>, <strong>rechazar</strong> o mantener en estado de evaluación.</p>
  <p>Otras funcionalidades asociadas a las propuestas son:</p>
  <ul>
    <li><p><strong>Control de versiones</strong>:<strong> </strong>permite mantener un registro de todos los cambios realizados en una propuesta, así como la generación de códigos de verificación de integridad de la propuesta<strong> </strong>[2017Q3, GenCat].</p>
    </li>
    <li><p><strong>Detección de similares</strong>: Permite a quien realice una nueva propuesta encontrar otras similares realizadas anteriormente en la plataforma y así evitar duplicados [2017Q4, AjB-Lote3Mod1].</p>
    </li>
    <li><p><strong>Relaciones entre propuestas</strong>: las propuestas pueden relacionarse vía enlaces en la sección de comentarios, mostrándose las propuestas relacionadas como tarjetas y notificando sobre la existencia de una nueva relación. [2017Q4,  AjB-Lote3Mod1].</p>
    </li>
    <li><p><strong>Adhesión a propuestas</strong>: las organizaciones pueden adherirse a las propuestas y esta adhesión pública se mostrará en la propuesta y notificará a participantes que sigan la actividad de la organización [2017Q4,  AjB-Lote3Mod1].</p>
    </li>
    <li><p><strong>Modificación y retirada de propuestas</strong>: el/la autor/a de una propuesta puede modificarla y/o retirarla antes de que se abra la fase de recogida de apoyos [2017Q4,  AjB-Lote3Mod1].</p>
    </li>
    <li><p><strong>Enmiendas</strong>: cualquier participante puede editar el texto de una propuesta y se creará una propuesta &quot;hija&quot; a modo de enmienda (tipo Pull Request en Github), esta propuesta hija podrá recoger apoyos, el/la autor/a de la propuesta madre podrá aceptar o rechazar la enmienda (o propuesta hija). En caso de rechazo el/la autor/a de la propuesta hija podrá elevarla a propuesta oficial [2017Q4,  AjB-Lote3Mod1].</p>
    </li>
    <li><p><strong>Creación guiada de propuestas</strong>: Durante la creación de una propuesta se acompaña a la persona participante a través del proceso dividido en pasos, con ayudas contextuales y previsualización antes de enviar la propuesta [2017Q4,  AjB-Lote3Mod1].</p>
    </li>
    <li><p><strong>Incubadora de propuestas</strong>: Decidim permite la co-creación y creación colaborativa de propuestas [funcionalidad prevista para 2018Q1, AjB-Lote3Mod3]. Incorpora las siguientes funcionalidades:</p>
      <ul>
        <li><p>Creación de borradores con múltiples autoras/es.</p>
        </li>
        <li><p>Lista de borradores colaborativos</p>
        </li>
        <li><p>Comentarios a borradores</p>
        </li>
        <li><p>Solicitar ayuda de otros colaboradores y aceptar colaboradoras/es</p>
        </li>
        <li><p>Vincular el borrador a una cita presencial </p>
        </li>
        <li><p>Promoción del borrador a iniciativa, propuesta de proceso o proyecto.</p>
        </li>
      </ul>
    </li>
  </ul>
  <h2 id="3-2-textos-participativos">3.2    Textos participativos</h2>
  <p>Entendemos por texto participativo una colección ordenada de propuestas que componen un documento de texto completo. La participación en el texto se deriva de la interacción con las propuestas que la componen. Este componente permite fundamentalmente tres operaciones  [funcionalidad prevista para 2018Q2, AjB-Lote3Mod4]:</p>
  <ul>
    <li><p><strong>Descomposición de un documento de texto en propuestas ordenadas</strong> a partir de un documento en formatos ODT, XDOC, MarkDown o HTML. Si el texto está estructurado en secciones y subsecciones se crearán propuestas ordenadas a partir de la subsección de nivel más bajo, si el texto no está estructurado se creará una propuesta por cada párrafo de texto. La interfaz permite re-editar las propuestas, fusionarlas, separarlas, añadir títulos, etc.</p>
    </li>
    <li><p><strong>Composición de propuestas en un texto unificado</strong>: a partir de una conjunto de propuestas, éstas se podrán ordenar y generar un texto unificado y descargable.</p>
    </li>
    <li><p><strong>Visualización e interacción</strong> con documentos compuestos de propuestas: Se mostrará la colección de propuestas como un texto unificado y se podrán realizar enmiendas o comentarios al margen.</p>
    </li>
  </ul>
  <h2 id="3-3-resultados">3.3    Resultados</h2>
  <p>Los resultados son propuestas (o modificaciones de propuestas) que han terminado siendo el resultado de la toma de decisión en el Decidim, ya sea de manera directa (mediante el resultado de la aplicación de un sistema de voto) o mediada por encuentros, asambleas o el equipo técnico o político a cargo de un ámbito de decisión a través de la administración de la plataforma.</p>
  <p>El componente de resultados permite gestionar la <strong>respuesta</strong> <strong>oficial </strong>a todas las propuestas realizadas: con el motivo del rechazo o aceptación y en qué resultado ha sido aceptada la propuesta. </p>
  <p>Los resultados recogen los<strong> metadatos de la trazabilidad</strong> de las propuestas incorporadas en el resultado, así como los encuentros en los que se debatió o creó (asistentes a dichos encuentros) y la suma de apoyos recibidos.</p>
  <h2 id="3-4-seguimiento-de-resultados">3.4    Seguimiento de Resultados</h2>
  <p>El componente de seguimiento de resultados permite realizar la<strong> conversión de resultados a proyectos</strong> o permite descomponerlos en proyectos o subproyectos. Cada uno de dichos proyectos puede describirse en más detalle y permite <strong>definir el estado de ejecución</strong>, en tramos que van desde 0% de ejecución al 100%. El componente de seguimiento permite además a las personas que visitan la plataforma la <strong>visualización del nivel de ejecución</strong> (global,por categorías y/o subcategorías), de los resultados y de los proyectos. Los resultados, proyectos y estados se puede actualizar mediante un CVS y manualmente mediante la interfaz de administración [funcionalidad disponible para decidim.barcelona y pendiente de integración en decidim-core, previsto para 2017Q3, AjB].</p>
  <h2 id="3-5-votaciones-y-o-apoyos">3.5    Votaciones y/o apoyos</h2>
  <p>Las personas participantes pueden dar apoyos a propuestas. Dichos apoyos pueden interpretarse como votos, firmas, apoyos, o de cualquier otra manera que demuestre un acuerdo positivo de conformidad con la voluntad política propia. </p>
  <p>Existen <strong>diferentes sistemas de voto y de gestión</strong> del mismo en Decidim. El más sencillo permite activar los apoyos y que las participantes puedan emitir un apoyo único a cada propuesta que quieran, sin límite de propuestas votables. También es posible limitar el número de votos (p.e. 10 por cada participante).</p>
  <p>Otra opción es el sistema de voto ponderado por prioridades. Cada participante tiene un número de apoyos disponible con diferentes pesos, por ejemplo 3 apoyos que valen 3, 2 y 1 respectivamente, con la posibilidad de distribuirlos como crea conveniente [funcionalidad prevista para 2017Q4, GenCat].</p>
  <p>Desde el panel de administración es posible <strong>configurar la vista de los resultados</strong> de la votación o bien durante el periodo de voto o sólo cuando éste finalice.</p>
  <p>Existe una forma de <strong>voto especial para presupuestos participativos</strong> que permite a participantes votar &quot;gastando&quot; una cantidad equivalente al presupuesto objeto de participación entre los proyectos propuestos. El número de votos está aquí limitado por la cantidad de gasto acumulado de los proyectos seleccionados.</p>
  <h2 id="3-6-comentarios">3.6    Comentarios</h2>
  <p>Los comentarios son un componente especial que generalmente aparece asociado a otro componente (propuestas, debates, resultados, encuentros, etc.) para permitir un proceso deliberativo sobre un tema o propuesta.</p>
  <p>El sistema de comentarios de Decidim ha sido diseñado para favorecer la deliberación. Los comentarios de primer nivel, respecto al objeto de debate, se pueden clasificar como: <strong>a favor, en contra o neutral</strong>. Los comentarios se pueden <strong>anidar</strong> en hilos de subcomentarios y se pueden <strong>votar</strong>. Decidim permite <strong>ordenar comentarios</strong> por aquellos a favor o en contra, en orden cronológico y por cantidad de votos a favor. También permite <strong>visualización en dos columnas</strong> con los comentarios más votados a favor y los más votados en contra [esta última funcionalidad está prevista para 2017Q4, GenCat].</p>
  <h2 id="3-7-p-ginas-informativas">3.7    Páginas informativas</h2>
  <p>Se trata de una página con contenido html y un título que aparece en el menú interior de los espacios de participación. Permite incorporar imágenes, vídeos empotrados y texto enriquecido.</p>
  <h2 id="3-8-debates">3.8    Debates</h2>
  <p>Permite abrir debates sobre preguntas o temas específicos definidos por los administradores o por los participantes. [Esta funcionalidad está activa solamente para decidim.barcelona, se espera la funcionalidad integrada en Decidim-core para 2017Q3, GenCat].</p>
  <h2 id="3-9-encuestas">3.9    Encuestas</h2>
  <p>El componente de encuestas permite diseñar, realizar y visualizar los resultados de encuestas que pueden activarse en diferentes espacios de participación.</p>
  <ul>
    <li><p><strong>Configurador de encuestas</strong>: permite a administradoras/es crear preguntas y respuestas (abiertas, tipos test, selección múltiple, etc.) y activar la encuesta, así como descargar las respuestas en formato csv.</p>
    </li>
    <li><p><strong>Interfaz de encuestas para participantes</strong>: permite a las participantes responder a las preguntas de la encuesta.</p>
    </li>
    <li><p><strong>Visualizador de resultados</strong>: permite visualizar los resultados de las encuestas de manera gráfica. [funcionalidad prevista para 2017Q3, GenCat].</p>
    </li>
  </ul>
  <h2 id="3-10-encuentros-presenciales">3.10    Encuentros presenciales</h2>
  <p>Este componente permite convocar encuentros, <strong>calendarizar</strong>, <strong>geolocalizar</strong>, colgar las <strong>actas</strong> del encuentro, <strong>debatir</strong>, crear <strong>propuestas asociadas</strong> al encuentro (indicando el tipo de apoyo colectivo a la propuesta), recoger el <strong>número</strong> de participantes, colgar <strong>fotos</strong> del encuentro y <strong>categorizar</strong> el encuentro dentro de un espacio.</p>
  <p>La <strong>configuración</strong> de un encuentro incluye los siguientes <strong>campos básicos</strong>: Título, descripción, dirección, ubicación, detalles de la ubicación, hora de inicio y finalización, ámbito, categoría y aforo máximo. </p>
  <p>También se incluye los siguientes <strong>campos avanzados</strong>: carácter (público, abierto, cerrado), grupo organizador, existencia de espacio de conciliación, adecuación a personas con diversidad funcional, existencia de traducción simultánea, tipo de encuentro (informativo, creativo, deliberativo, decisivo, evaluativo, rendición de cuentas, otros) [funcionalidad prevista para [2017Q4, AjB-Lote2Mod2]</p>
  <p>Los encuentros relacionados con una instancia de un espacio (un proceso específico o un órgano) pueden mostrarse en un <strong>mapa</strong> y se pueden <strong>ordenar por fechas o categorías</strong>. También pueden mostrarse todos los encuentros en <strong>modo calendario</strong>, con la posibilidad de exportarlos a calendarios del móvil u otras aplicaciones [funcionalidad prevista para [2017Q4, AjB-Lote2Mod2].</p>
  <p>Algunas funciones avanzadas del componente encuentro incluyen:</p>
  <ul>
    <li><p><strong>Sistema de inscripción y asistencia</strong> [funcionalidad prevista para 2017Q4, AjB-Lote2Mod2]:</p>
      <ul>
        <li><p>Permite administrar el <strong>tipo de inscripción</strong> de un encuentro (abierto y automático, cerrado y accesible sólo a cierto tipo de participantes, etc.), definir el <strong>número de plazas </strong>para asistentes, realizar <strong>reservas</strong> de plazas, la <strong>inscripción manual</strong>, el envío de <strong>invitaciones</strong> y definir tipos de <strong>condiciones</strong> a aceptar para acudir al meeting (p.e. cesión de derechos de imagen) y el<strong> registro de asistencia </strong>de participantes.</p>
        </li>
        <li><p>Permite a las personas participantes la <strong>inscripción</strong> para un encuentro, solicitar <strong>servicio de conciliación**</strong> familiar <strong>(ludoteca, espacio de cuidados) y obtener un </strong>código para acreditarse** al presentarse en el encuentro. </p>
        </li>
        <li><p>Las personas inscritas que hayan acudido al encuentro tendrán<strong> permisos especiales</strong> para poder evaluar el encuentro o realizar comentarios y otras acciones. </p>
        </li>
        <li><p>Participantes o administradoras/es podrán recibir <strong>notificaciones</strong> sobre la apertura del periodo de inscripción, el número de plazas que quedan para inscribirse, recordatorios del encuentro, publicación de actas. </p>
        </li>
      </ul>
    </li>
    <li><p><strong>Gestión del orden del día</strong>: una sección de orden del día permite definir la duración del encuentro, la creación de  items y sub-items del orden del día, el título, contenido y duración estimada. Las personas participantes pueden proponer puntos para el orden del día. [funcionalidad prevista para 2017Q4, AjB-Lote2Mod2].</p>
    </li>
    <li><p>Sistema de<strong> redacción, publicación y validación de actas</strong> de reuniones  [funcionalidad prevista para 2017Q4, AjB-Lote2Mod2]:</p>
      <ul>
        <li><p>Las actas se pueden colgar en formato video, audio y texto.</p>
        </li>
        <li><p>Las actas en modo texto van asociadas a una <strong>pizarra de escritura colaborativa</strong> integrada en Decidim.</p>
        </li>
        <li><p>Las actas pasan por 4 <strong>fases de elaboración</strong>: 1. Escritura colaborativa durante el transcurso del encuentro, 2. Elaboración de borrador oficial de las actas, 3. Fase de enmiendas al borrador, 4. Publicación y validación final de las actas.</p>
        </li>
        <li><p>Las actas se pueden <strong>comentar</strong> con el componente de comentarios.</p>
        </li>
        <li><p>Se pueden también añadir <strong>documentos adjuntos</strong> a las actas.</p>
        </li>
      </ul>
    </li>
    <li><p><strong>Auto-convocatoria</strong>: las personas participantes verificadas podrán convocar reuniones a través de la plataforma de manera directa, con el apoyo de un número determinado de otras personas participantes se activará el encuentro públicamente y las participantes convocantes tendrán acceso al panel de administración [funcionalidad prevista para 2017Q4, AjB-Lote2Mod2]</p>
    </li>
    <li><p><strong>Visualización y exportación de encuentros</strong>: los encuentros se pueden visualizar en modo mapa (por espacios o de manera general en la plataforma), en modo calendario, y se podrán exportar a gestores de agendas y calendarios (en formato iCalendar) [funcionalidad prevista para 2017Q4, AjB-Lote2Mod2].</p>
    </li>
  </ul>
  <h2 id="3-11-jornadas">3.11    Jornadas</h2>
  <p>Entendemos jornadas como un conjunto de encuentros que tienen algunas características específicas (programa interactivo y descargable, sistema de inscripciones, sistema de generación de certificados de asistencia y/o diplomas).</p>
  <p>Decidim dispone de un configurador y generador de páginas de jornadas, que permite crear una <strong>web interna para la realización de eventos</strong> relacionados con un proceso participativo u otro espacio de participación. [El componente Jornadas está previsto para 2018Q2, AjB-Lote2Mod5]</p>
  <p>Las opciones de configuración incluyen:</p>
  <ul>
    <li><p>Generación de un <strong>programa interactivo</strong> de las jornadas (en el caso de contar con ponentes invitados, se incluye su nombre, cargo, organización, pequeña bio, enlaces a otras webs).</p>
    </li>
    <li><p>Envío de <strong>invitaciones</strong> por correo electrónico.</p>
    </li>
    <li><p><strong>Ge**</strong>neración de diplomas** de manera automatizada para las personas que lo soliciten, a través de un panel de asistencia que un administrador pueda verificar.</p>
    </li>
    <li><p>Enlaces a plataformas de <strong>vídeo y materiales</strong> de las jornadas en el programa y la documentación.</p>
    </li>
    <li><p>Enlaces automáticos a webs de medios digitales que den cobertura a les jornadas.</p>
    </li>
    <li><p>Seguimiento de las jornadas por <strong>redes sociales</strong> (p.e. incorporando un feed de Twitter).</p>
    </li>
  </ul>
  <h2 id="3-12-blog">3.12    Blog</h2>
  <p>El blog es un componente que permite crear y visualizar <strong>noticias</strong> en orden cronológico. Las entradas de un blog son otro tipo de contenido, deben estar asociadas a una instancia de un espacio de participación. Las entradas del blog están relacionadas con el sistema de clasificación de contenidos de la plataforma. Los <strong>comentarios asociados</strong> a las entradas del blog serán tratados como el resto de comentarios de la plataforma, ya descritos anteriormente  [funcionalidad prevista para 2017Q4, AjB-Lote2Mod1].</p>
  <h2 id="3-13-newsletter-general-y-selectivo">3.13    Newsletter general y selectivo</h2>
  <p>Decidim permite enviar un <strong>newsletter</strong> (un correo electrónico) a todas las personas inscritas en la plataforma que hayan aceptado, en las condiciones de uso, recibir dicho correo electrónico a modo de boletín informativo. El envío es personalizado con el nombre de usuaria/o y en varios idiomas (se envía por defecto en el idioma escogido por la/el usuaria/o). </p>
  <p>También pueden enviarse <strong>newsletters **</strong>selectivos** a grupos de usuarios que hayan decidido seguir un proceso, órgano o iniciativa [funcionalidad prevista para 2017Q3, GenCat].</p>
  <p>Las personas participantes podrán <strong>darse de baja</strong> automática y directamente desde el propio correo electrónico haciendo click en un enlace y se podrá hacer un <strong>seguimiento de visitas</strong> derivadas de los newsletter [funcionalidad prevista para 2017Q4, AjB-Lote2Mod1]. </p>
  <h2 id="3-14-buscador">3.14    Buscador</h2>
  <p>El <strong>buscador</strong> permite realizar búsquedas entre todos los contenidos indexables de la plataforma, tanto a nivel general como a nivel específico, realizando la búsqueda dentro de un proceso participativo concreto, o dentro de sus componentes (propuestas, resultados, etc.) mediante la búsqueda avanzada.</p>
  <p>La <strong>página navegable y filtrable de resultados de la búsqueda</strong> muestra los contenidos según su tipología y ordenados según la prioridad que se haya definido (p.e. que se muestren primero los términos encontrados dentro de asambleas, y a continuación se muestren los procesos participativos.) [funcionalidad prevista para 2017Q4, AjB-Lote3Mod2]</p>
  <h1 id="4-participantes">4    Participantes</h1>
  <h2 id="4-1-registro-y-verificaci-n">4.1    Registro y verificación</h2>
  <p>Cualquier visitante puede acceder a todo el contenido de la web directamente. Sin embargo para poder hacer propuestas o comentarios deben realizar un <strong>registro</strong>. El registro se puede hacer <strong>directamente</strong> en la plataforma o mediante pasarelas con otras <strong>redes sociales</strong> (Facebook, Twitter o Google+). El registro directo exige asociar una cuenta de correo electrónico y una contraseña a la cuenta de usuario/a.</p>
  <p>Las funcionalidades orientadas a la decisión (apoyos, votos, etc.) requieren <strong>verificación</strong>. El principal sistema de verificación es contra el padrón municipal u otra base de datos de personas registradas con las que Decidim se comunica vía API. También se puede verificar <strong>vía SMS</strong>, o con un <strong>código</strong> especial enviado por carta u otros medios, y desde el panel de administración se puede <strong>veri**</strong>ficar manualmente** a una persona participante [funcionalidades previstas para 2018Q1-3, AjB-Lote1].</p>
  <p>Además de la verificación, las personas participantes pueden solicitar <strong>oficializar</strong> su nombre de usuaria/o. A partir de la oficialización su nombre de usuaria/o aparecerá con un símbolo que permite reconocer a terceros que ese nombre de usuaria/o corresponde a quien dice ser.</p>
  <p><strong>Asociaciones u organizaciones</strong> cuya identidad pueda verificarse de algún modo también pueden registrarse y verificarse. La verificación dará automáticamente estatus de oficialización.</p>
  <h2 id="4-2-registro-p-blico-de-actividad-de-administraci-n">4.2    Registro público de actividad de administración</h2>
  <p>La verificación manual de participantes, así como otras acciones de administración, introducen vulnerabilidad o posibilidades de usos perversos por parte de las personas administradoras de la plataforma. Para ello Decidim incluye un <strong>registro público de las actividades de administración</strong> para poder auditar de manera pública y transparente dichas acciones.</p>
  <h2 id="4-3-perfil-de-usuario-y-configuraci-n-personal">4.3    Perfil de usuario y configuración personal</h2>
  <p>Existe una <strong>página de perfil de usuario</strong> en la que las personas participantes pueden realizar <strong>modificaciones de sus datos</strong> (como la cuenta de correo electrónico, contraseña, etc.), subir y habilitar una imagen de <strong>avatar</strong>, configurar las notificaciones, y darse de baja.</p>
  <p>La página de perfil de usuario permite también a participantes definir su <strong>perfil enriquecido</strong> de intereses y habilidades, de manera voluntaria y escogiendo el grado de visibilidad de dicha información. Esto permite recibir notificaciones personalizadas o el matching para colaboraciones [funcionalidad prevista para 2018Q1-3, AjB-Lote1].</p>
  <h2 id="4-4-seguimiento-y-notificaciones">4.4    Seguimiento y notificaciones</h2>
  <p>Las personas participantes reciben <strong>notificaciones automáticas</strong> de los contenidos que han creado: respuestas a comentarios y comentarios a sus propuestas, así como de los resultados de sus propuestas (si han sido aceptadas o rechazadas).</p>
  <p>Además de las notificaciones automáticas una persona participante puede decidir <strong>seguir cualquier elemento</strong> del sistema (otras propuestas, resultados, procesos, asambleas, iniciativas, grupos o usuarios, etc.) y recibir notificaciones [funcionalidad prevista para 2017Q3, GenCat].</p>
  <h2 id="4-5-comunicaci-n-entre-participantes">4.5    Comunicación entre participantes</h2>
  <p>Es posible enviar <strong>mensajes directos</strong> a participantes a través de la plataforma, recibiendo una notificación por correo electrónico [funcionalidad prevista para 2017Q3, AjB].</p>
  <p>También se pueden realizar <strong>menciones</strong> (en los comentarios) a cualquier usuaria/o registrada/o y recibirá automáticamente una notificación. [funcionalidad prevista para 2018Q1-3, AjB-Lote1].</p>
  <h2 id="4-6-engagement">4.6    Engagement</h2>
  <p>Decidim cuenta con una serie de funcionalidades orientadas a <em>gamificar</em> la plataforma, con el objetivo de <strong>atraer y mantener interesadas a un número creciente de participantes</strong>, así como promover prácticas que potencien la calidad democrática y la inteligencia colectiva en la participación [el sistema de gamificación está previsto para 2018Q1-3, AjB-Lote1]. </p>
  <p>El sistema de gamificación Incluye dos modalidades, una centrada en las personas usuarias y otra centrada en las propuestas.</p>
  <ul>
    <li>La modalidad <strong>centrada en los usuarios</strong> incorpora un <strong>sistema de puntos</strong> basados en diferentes criterios (grado de detalle de su perfil de usuario, número de invitaciones a otras personas a la plataforma, número de propuestas realizadas y comentadas, número de comentarios, número de apoyos obtenidos, número de seguidores, etc.)</li>
  </ul>
  <p>La combinación de éstos y otros indicadores sirve para generar recorridos de gamificación para cada usuario y definir hitos como: persona más participativa del distrito, liderazgo en debates, etc.</p>
  <ul>
    <li>La gamificación <strong>centrada en propuestas/iniciativas</strong> permite a sus promotores, firmantes y seguidores dinamizar la interacción con las mismas incorporando algunas <strong>métricas</strong> (número de veces que la propuesta es compartida en redes sociales, grado de controversia (número de comentarios positivos y negativos), calidad de la deliberación (profundidad del árbol de comentarios), cantidad de visitas recibidas, etc.</li>
  </ul>
  <h2 id="4-7-grupos-de-usuarios">4.7    Grupos de usuarios</h2>
  <p>Las personas participantes pueden registrarse en la plataforma como miembros de una o varias organizaciones/colectivos. Una vez verificada la organización y la condición de miembro, la participante puede realizar acciones (hacer propuestas, realizar comentarios, etc.) con su nombre de usuaria/o o con el nombre de la organización. [Funcionalidad prevista para 2018Q1-3, AjB-Lote1]</p>
  <p>Los grupos de usuarios también pueden gestionar permisos de usuario y administración asignados a grupos, así como espacios de debate privados o compartir información entre el grupo de usuarios, por ejemplo, que asistió a un encuentro presencial. [Funcionalidad prevista para 2018Q1-3, AjB-Lote1]</p>
  <h1 id="5-funcionalidades-generales">5    Funcionalidades generales</h1>
  <p>Explicamos a continuación una serie de funcionalidades y características generales de la plataforma que no quedan recogidas en los espacios o componentes ni en las funcionalidades directamente asociadas a participantes.</p>
  <h2 id="5-1-instalaci-n-y-configuraci-n">5.1    Instalación y configuración</h2>
  <p>Decidim <strong>se instala fácilmente</strong> a través de la línea de comandos en cualquier servidor GNU/Linux con los siguientes servicios instalados: PostgreSQL 9.4+, Ruby 2.4.1, NodeJS con yarn (JavaScript dependency manage), ImageMagick y PhantomJS. Un script automático de instalación permite desplegar todo el sistema de dependencias, librerías, bases de datos y otros servicios requeridos de manera automática en Heroku o Docker [funcionalidad prevista para 2018].</p>
  <p>La <strong>configuración</strong> del portal permite una <strong>personalización</strong> con los siguientes campos que se rellenan en un formulario desde el panel de administración: Nombre del portal, perfiles de redes sociales (Twitter, Facebook, Instagram, Youtube, Github), breve descripción, texto de bienvenida, idioma por defecto, imagen de portada, logotipo de la organización, favicon, prefijo de referencia (identificador único que se aplicará a los elementos del portal) y URL de la organización.</p>
  <h2 id="5-2-integraci-n-con-otros-servicios-y-compatibilidad-creaci-n-de-servicios-adicionales">5.2    Integración con otros servicios y compatibilidad/creación de servicios adicionales</h2>
  <p>Decidim se puede integrar fácilmente con los siguientes  servicios que puede instalarse o configurarse junto con Decidim:</p>
  <ul>
    <li><p><strong>OpenStreetMap</strong>: para mostrar eventos y propuestas geolocalizadas</p>
    </li>
    <li><p><strong>Piwik</strong>: analítica de visitas a la web</p>
    </li>
    <li><p><strong>Pad</strong>: pizarras de escritura colaborativa en tiempo real (tecnología por determinar) [Funcionalidad prevista para 2018Q1-3 AjB-Lote1]</p>
    </li>
    <li><p><strong>Identidad y firma digital</strong>: integración con el sistema de gestión de identidad digital OAuth2, sistemas basados en blockchain y sistemas de gestión de identidad y firma digital institucionales reconocidos [Funcionalidad prevista para 2018Q1-3 AjB-Lote1].</p>
    </li>
    <li><p><strong>Sistema distribuido de archivos</strong>: Difusión o réplica de propuestas u otros elementos de la plataforma en sistema distribuidos de archivos (tipo blockchain o IPFS) [Funcionalidad prevista para 2018Q1-3, AjB-Lote1].</p>
    </li>
    <li><p><strong>Microblogging</strong>: integración/compatibilidad con un protocolo/servicio estandarizado y abierto de microblogging tipo GNU Social o StatusNet para la actividad de participantes (propuestas, comentarios y mensajes) [Funcionalidad prevista para 2018Q1-3, AjB-Lote1].</p>
    </li>
  </ul>
  <p>Decidim genera automáticamente los siguientes servicios además de los que pueden navegarse mediante la web o accederse mediante la API: </p>
  <ul>
    <li><p><strong>SMTP</strong>: envío de correos electrónicos.</p>
    </li>
    <li><p><strong>Calendario</strong>: integración o compatibilidad con sistemas de gestión de calendarios y creación y actualización automática de calendarios de eventos, etc.  [Funcionalidad prevista para 2018Q1-3, AjB-Lote1].</p>
    </li>
  </ul>
  <h2 id="5-3-multi-tenencia">5.3    Multi-tenencia</h2>
  <p><strong>Múltiples tenencias</strong> de la plataforma pueden servirse en base a una sola instalación. Dicho de otra manera, una sola instalación de Decidim permite desplegar tantos portales como se quiera con una configuración específica para cada una de las instancias. De este modo una organización puede crear portales de participación para sub-organizaciones suyas, o varias organizaciones pueden compartir servidor y reducir los costes de mantenimiento de sus portales.</p>
  <h2 id="5-4-multi-idioma">5.4    Multi-idioma</h2>
  <p>Decidim es una plataforma <strong>multi-idioma</strong>. Durante la instalación se configuran los idiomas disponibles. Los menús, formularios de administración y, en general, los textos fijos de la plataforma están disponibles en varios idiomas (Castellano, Catalán, Euskera, Italiano, Francés, Holandés y Suomi). Un sistema de <strong>traducción colaborativa</strong> en <a href="https://crowdin.com/project/decidim">https://crowdin.com/project/decidim</a>, facilita la incorporación de nuevos idiomas a la plataforma. </p>
  <p>A nivel de contenido, una vez fijados los idiomas oficiales de la instancia durante la instalación, todos los contenidos que se crean desde el panel de administración tienen la opción de generarse en dichos idiomas. El panel de administración permite la <strong>gestión de contenidos en diferentes idiomas</strong> a través de pestañas. El contenido generado por las personas usuarias se muestra en la plataforma en un sólo idioma (el escogido por la persona participante a través del selector de idiomas en la parte superior de los menús o automáticamente a través de la configuración lingüística de su navegador).</p>
  <h2 id="5-5-estad-sticas-datos-abiertos-y-descargas">5.5    Estadísticas, datos abiertos y descargas</h2>
  <p>Además de la  interfaz de programación de aplicaciones (API) que proporciona acceso a datos públicos de manera  automática, en la portada de Decidim puede encontrarse un <strong>cuadro de estadísticas generales</strong>, con los siguientes campos: número de participantes, procesos, propuestas, resultados, encuentros, comentarios y votos.</p>
  <p>Otro <strong>cuadro de estadísticas de cada proceso participativo </strong>muestra el número de encuentros, propuestas, votos y resultados de un proceso determinado.</p>
  <p>Desde el panel de administración se pueden <strong>exportar las propuestas, resultados y comentarios </strong>de un proceso de participación a formato CSV y JSON y respuestas a las encuestas para su tratamiento y/o integración con otros sistemas de gestión. Las personas participantes pueden <strong>descargar los resultados de un proceso participativo y su grado de ejecución</strong> mediante un fichero CSV.</p>
  <p>Decidim dispone también de un <strong>módulo de visualización de datos</strong>, tanto a nivel general de la plataforma como de manera específica (mostrando datos de un determinado Espacio Participativo) [funcionalidad prevista para 2018Q1, AjB-Lote2Mod4]. Entre los gráficos que se muestran están los siguientes:</p>
  <ul>
    <li><p><strong>Gráfico interactivo</strong> de línea temporal con la evolución de los contadores de los diferentes componentes.</p>
    </li>
    <li><p><strong>Mapa de calor</strong> del total de encuentros, propuestas u otros contenidos geolocalizables.</p>
    </li>
    <li><p><strong>Diagramas interactivos </strong>(de barras, circulares o de sectores) con los resultados de un proceso (importe de cada uno de los proyectos de presupuestos participativos, filtro por categorías y estado de las propuestas - seleccionadas sí o no, etc.).</p>
    </li>
  </ul>
  <p>Todas estas visualizaciones vienen acompañadas de una <strong>opción de descarga de los datos</strong> en formato CSV [funcionalidad prevista para 2018Q1, AjB-Lote2Mod4]. </p>
  <h2 id="5-6-api-dise-o-web-adaptable-y-aplicaci-n-m-vil">5.6    API, Diseño web adaptable y aplicación móvil</h2>
  <p>Decidim dispone de un interfaz de programación de aplicaciones o API que es un conjunto de llamadas a servicios y datos de forma independiente de la interfaz web de Decidim. Esto permite a terceros desarrollar servicios sobre la plataforma, liberar datos de manera automática o desarrollar nuevas interfaces o integración de otros servicios con decidim.</p>
  <p>La API viene acompañada de una <strong>documentación</strong> y una <strong>ontología formal</strong> de participación [funcionalidad prevista para 2018Q1-3, AjB-Lote1]</p>
  <p>El <strong>diseño</strong> web de Decidim es completamente <strong>adaptable</strong> (<em>responsive</em>), siguiendo la filosofía de diseño <em>mobile-first</em> (primero se diseña para el móvil, luego se expande para sistemas de escritorio y tablets).</p>
  <p>Tanto el diseño web como la API facilitan el desarrollo de aplicaciones móviles para Decidim, está previsto el desarrollo de una <strong>App Móvil</strong> para finales de 2018 [AjB].</p>
  <h2 id="5-7-sistemas-de-clasificaci-n-de-contenidos">5.7    Sistemas de clasificación de contenidos</h2>
  <p>A nivel de clasificación de contenidos Decidim permite diferenciar y configurar: ámbitos, categorías y etiquetas (o tags).</p>
  <p>Los <strong>ámbitos</strong> son generales a toda la plataforma y se dividen en los de tipo <strong>territorial</strong> y <strong>temático</strong>. Los ámbitos territoriales, una vez definidos, permiten clasificar elementos de los espacios territorialmente (p.e. si un proceso, o un órgano o una iniciativa afecta a un distrito o dos, a toda la ciudad, a una región o a un país, dependiendo de la organización). Igualmente los ámbitos temáticos se definen para toda la plataforma y permiten clasificar los diferentes elementos de los espacios de participación [funcionalidad prevista para 2017Q4, Gencat].</p>
  <p>Las <strong>categorías y subcategorías</strong> sirven para clasificar contenidos dentro de los diferentes espacios y se definen para cada una de las instancias de los espacios. Así por ejemplo, un proceso de participación puede incluir diversas categorías y subcategorías (las define el/la administrador/a del proceso) y los encuentros, encuestas, propuestas u otros componentes del proceso se pueden clasificar bajo estas categorías.</p>
  <p>A diferencia de los ámbitos y las categorías, las <strong>etiquetas</strong> o tags son transversales, son libremente definidas por las personas participantes y se pueden aplicar a cualquier instancia o componente. Desde el panel de administración se pueden crear etiquetas, anidarlas y definirlas. Un sistema de sugerencia de etiquetas permite a las personas que participan escoger etiquetas similares a las que están proponiendo para etiquetar cualquier elemento de la plataforma. Se podrán navegar los elementos por etiquetas y mostrar las etiquetas más populares [funcionalidad prevista para 2017Q4, AjB-Lote2Mod1].</p>
  <h2 id="5-8-sistema-de-ayuda-contextual-tests-de-usabilidad-y-valoraci-n">5.8    Sistema de ayuda contextual, tests de usabilidad  y valoración</h2>
  <p>Decidim incluye un sistema de <strong>ayudas contextuales editables</strong> para guiar a personas participantes y administrativas en el uso de la plataforma. Igualmente incluye  un sistema que permite realizar <strong>experimentos de usabilidad</strong> con tests y estadísticas de uso, así como realizar <strong>encuestas de valoración automáticas</strong> a las participantes de cara a identificar errores de usabilidad, de procedimientos de participación y mejorar la calidad democrática y de experiencia del software [Funcionalidad prevista para 2018Q1-3, AjB-Lote1].</p>
</div>
