---
title: Features | Decidim
description: Característiques actuals i futures per Decidim
---
<div class="container container--text-col container-vertical-top">

    <div class="container container--text-col container-vertical">
    <h1>Descobreix les característiques actuals i el futur full de ruta de Decidim</h1>

    <p>
      Baixeu un document PDF complet amb funcions actuals i futures per a Decidim 2017-2018:
    </p>
  	<p class="cta-block">
  		<a href="/pdf/features-roadmap.ca.pdf" class="btn btn--primary">Funcions 2017-2018 (PDF)</a>
  	</p>
</div>
