---
title: Features | Decidim
description: Current and Future Features for Decidim
---
<div class="container container--text-col container-vertical-top">

  <div class="container container--text-col container-vertical">
  <h1>Discover the current features and future roadmap of Decidim</h1>

  <p>
    Download full PDF document with current and future features for Decidim 2017-2018:
  </p>
  <p class="cta-block">
    <a href="https://docs.decidim.org/features/en" class="btn btn--primary">Features 2017-2018</a>
  </p>

  <p>Bellow you can download a summary of Decidim arquitecture and functionalities</p>
  <h2>Summary of functionalities and characteristics of Decidim <br />
  Roadmap 2017-2018</h2>

  <p>Users of the platform (participants) interact through participatory mechanisms known as <em>components</em> which provide specific functions for the various participatory <em>spaces</em>. In other words, participatory <em>spaces</em> such as <em>Initiatives</em>, <em>Assemblies</em>, <em>Processes</em> and <em>Consultations</em> have components at their disposal which work together as participatory mechanisms. The more notable components include in-person <em>meetings</em>, <em>surveys</em>, <em>proposals</em>, <em>votes,</em> <em>results monitoring</em> and <em>comments</em>. So, for example, the various stages of a specific participatory process (such as the preparation of participatory budgets) can incorporate the possibility of convening and capturing the results of in-person meetings with citizens, it can include a survey, as well as the possibility of making proposals. After a period of commentary, discussions and debates, the voting component can be activated to decide on projects for a budget-expenditure system, an assessment survey can then be launched, followed by the activation of the monitoring component for the implementation of the projects selected.:q</p>
  <div class="container">
    <div class="browser-shot browser-shot--light">
      <img src="/images/graph-features-en.png" alt="" />
    </div>
  </div>
  <p>Figure 1.<em> Summary diagram of Decidim showing a combination of components in participatory spaces. The Vote component allows a variety of voting systems, expressions of support or allegiance for a proposal.</em></p>
  <p><strong>Processes</strong> is a space that permits a user to create, activate/deactivate and manage various participatory processes, linking them together at different stages in which all of the components can be incorporated. <strong>Assemblies</strong> is a space which offers a user the possibility of defining bodies or groups that meet up periodically, detailing their composition, listing their meetings with geo-location and taking part in them (attending if the seating capacity and nature of the assembly so permits, adding items to the agenda or commenting on the proposals and decisions taken by that body). <strong>Initiatives</strong> is a space that allows a user to collaboratively create initiatives, define their trajectory and aims, gather support , discuss, debate and disseminate initiatives and define meeting points where signatures can be collected from attendees. <strong>Consultations</strong> is a space that makes it possible to coordinate referendums , trigger discussions and debates, and is connected to a secure e-voting system where results can be published.</p>
  <p>As for the components, the proposal-<strong>incubator</strong> facilitates the collaborative proposal-making process as well as the monitoring and control of changes. The <strong>proposals</strong> component allows a user to create an official proposal with geo-location tracking, upload documents and browse and filter proposals. The <strong>results</strong> component is used to turn proposals into results and give official responses to their acceptance or rejection. The <strong>monitoring</strong> component offers the possibility of subdividing results into projects, defining and applying progress statuses in their implementation and displaying the extent of the results’ implementation. The <strong>surveys</strong> component can be used to design and publish surveys and display and download their results. The <strong>comments </strong>component enables users to add comments, vote on them, respond to and receive notifications about responses. The <strong>participatory texts</strong> component can be used to divide text documents into proposals or results and, vice versa, or to compose and display a unified text based on a collection of proposals or results. The <strong>votes </strong>component offers users the possibility of activating different voting systems on the proposals: unlimited, limited, weighted, cost-based directing voting etc. The <strong>pages </strong>component is used to create informative pages with rich text, pictures and videos. The <strong>blog</strong> component allows a user to create, categorise and display news chronologically. The <strong>in-person meetings </strong>component offers users the opportunity to convene meetings, determine the place and time, register and monitor attendees, define the structure and content of the appointment or in-person meeting, as well as publish the minutes, proposals and their results. The <strong>conference</strong> component allows users to create a website for a conference by joining up a series of small appointments in person (chats, workshops etc.), putting together a programme and managing attendees. The <strong>newsletter</strong> component is used to send emails to everyone registered within the platform or, more selectively, to those who participate in a specific space (NOTE: ).</p>
  <p>The users who participate in Decidim can be grouped into three different categories:</p>
  <ul>
  <li><p><strong>Visitors.</strong> View: access to all of the platform&#39;s content without having to register.</p>
  </li>
  <li><p><strong>Registered members.</strong> Can contribute: by creating a user name, password and email account (or account for several social networks). Can add comments, create proposals, send messages and follow the platform&#39;s participants or elements and receive notifications.</p>
  </li>
  <li><p><strong>Verified members</strong>. These users enjoy a higher level of participation. They may be accredited as a member of an organisation, citizen of a municipality, or belong to a decision-making community (an association, community, collective etc.), and once verified can register for in-person meetings , support proposals, sign initiatives and vote in consultations.</p>
  </li>
  </ul>
  <p>They can register on a <strong>personal</strong> or <strong>collective</strong> basis (associations, organisations etc.,) and user groups can be created that express themselves collectively or individually. Individual or group participants may configure/change their notification preferences.</p>
  <p>Each level of a participatory space (e.g. a participatory process) is situated within an <strong>area</strong> (territorial and/or sectoral) and defined by a series of <strong>categories</strong> and subcategories (e.g. topics) which only affect that space. <strong>Labels</strong> can also be used and there is also a general or specific search engine within the different spaces.</p>
  <p>Unlike other existing platforms, Decidim’s architecture is <strong>modular,</strong> <strong>scalable</strong>, easy to <strong>configure</strong> and <strong>integrated</strong> with other tools or apps (data analysis, maps etc.). The platform has been designed in such a way that processes, assemblies and mechanisms can be set up easily and deployed from an administration panel, where no knowledge of programming is required to install, configure and activate it. The components (participatory components) that are integrated are independent from each other and can be developed, activated and deactivated independently.</p>

</div>
