---
title: Funcionalitats | Decidim
description:
---
<div class="container container--text-col container-vertical-top">
  <p><strong>Decidim Team</strong></p>
  <p><strong>Direcció de Recerca, Desenvolupament i Innovació</strong></p>
  <p><em>Regidoria de Participació i Districtes</em></p>
  <p>Funcionalitats i característiques de Decidim    </p>
  <p>Roadmap 2017-2018</p>
  <p>v.1.0</p>
  <p>04/09/2017</p>
  <p>[[TOC]]</p>
  <h1 id="metadades">Metadades</h1>
  <table>
    <tr>
      <td>Títol</td>
      <td>Funcionalitats i característiques de Decidim</td>
    </tr>
    <tr>
      <td>Versió</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>Data</td>
      <td>04/09/2017</td>
    </tr>
    <tr>
      <td>Edició</td>
      <td>Xabier E. Barandiaran, Carolina Romero</td>
    </tr>
    <tr>
      <td>Autoria</td>
      <td>Xabier E. Barandiaran, Carolina Romero</td>
    </tr>
    <tr>
      <td>Contribució</td>
      <td>Asier Amezaga, Andrés Pereira de Lucena</td>
    </tr>
    <tr>
      <td>Revisió</td>
      <td>Andrés Pereira de Lucena, Marta Almela, Juan Linares</td>
    </tr>
    <tr>
      <td>Participació</td>
      <td>Josan Minguela, Joana Guijarro</td>
    </tr>
    <tr>
      <td>Resum</td>
      <td>Decidim [<a href="https://decidim.org">https://decidim.org</a>] és una infraestructura digital per a la democràcia participativa basada en programari lliure (Ruby on Rails), que facilita la creació de portals de participació ciutadana. Les persones usuàries de la plataforma (participants) interactuen a través dels mecanismes de participació anomenats components, que ofereixen funcionalitats específiques per a diferents espais de participació. És a dir, els espais de participació, com les Iniciatives, les Assemblees, els Processos o les Consultes, disposen de components que es combinen com a mecanismes de participació. Entre els components més destacats hi ha les trobades presencials, les enquestes, les propostes, les votacions, el seguiment de resultats i els comentaris. Per exemple, un procés de participació específic com l&#39;elaboració de pressupostos participatius pot combinar, en les seves diferents fases, diversos components per a: convocar i registrar els resultats de trobades presencials amb la ciutadania, realitzar una enquesta, fer propostes, i en les fases finals del procés, fer una votació per decidir sobre els projectes amb un sistema de despesa del pressupost (sempre després d&#39;un període de comentaris i debats), realitzar una enquesta d&#39;avaluació i, finalment, un seguiment de l&#39;execució dels projectes escollits.</td>
    </tr>
    <tr>
      <td>Paraules clau</td>
      <td>Decidim, plataforma de participació democràtica, components, espais de participació, programari, e-democràcia, participació, assemblearisme, participació ciutadana, processos participatius, consells de barri, consultes ciutadanes, accountability, rendició de comptes, propostes, e-voting, transparència.</td>
    </tr>
    <tr>
      <td>Història del document</td>
      <td>Aquest document inclou una descripció de les funcionalitats existents a Decidim i d&#39;aquelles en fase de desenvolupament o d&#39;adjudicació (definides en els plecs del concurs públic de contractació per al desenvolupament de Decidim publicats per l&#39;Ajuntament de Barcelona, codi d&#39;expedient 17000141). En el disseny de les funcionalitats existents i previstes hi van participar centenars de persones: durant les Jornades Anuals Metadecidim 2016, en el procés de participació Metadecidim del portal de participació de l&#39;Ajuntament de Barcelona i en les trobades mensuals SOM.meta.decidim. El document també pren conceptes i procediment del nou reglament de participació de l&#39;Ajuntament de Barcelona, que s’aprovarà previsiblement el dia 29 de setembre i ha estat elaborat participativament a través del portal decidim.barcelona. Amb motiu de les Jornades Anuals Metadecidim 2017, de la necessitat de coordinar la implementació de les futures funcionalitats amb diferents equips de tècnics municipals i de publicar un roadmap actualitzat, l&#39;equip Decidim va començar a redactar aquest document perquè serveixi com a referència de les funcionalitats presents i previstes de Decidim en el període 2017-2018.</td>
    </tr>
    <tr>
      <td>Com se cita</td>
      <td>Barandiaran, X.E. &amp; Romaní, C. (2017) Funcionalitats i característiques de Decidim. v.1.0. </td>
    </tr>
    <tr>
      <td>Copyleft</td>
      <td>Ajuntament de Barcelona i persones autores del text, sota les llicències Creative Commons BY-SA (Reconeixement-CompartirIgual) Internacional (v.4.0) i GFDL (Llicència de documentació lliure de GNU)
        CC BY-SA: Creative Commons Reconeixement-CompartirIgual 4.0 Internacional
        Sou lliures de copiar i redistribuir el material en qualsevol mitjà o format, remesclar, transformar i crear a partir del material, per a qualsevol finalitat, fins i tot comercial. El llicenciador no pot revocar aquestes llibertats mentre compliu amb els termes de la llicència. Sota les condicions següents: a) Reconeixement: heu de reconèixer adequadament l&#39;autoria, proporcionar un enllaç a la llicència i indicar si s&#39;hi han fet canvis. Podeu fer-ho de qualsevol manera raonable, però no d&#39;una manera que suggereixi que teniu el suport del llicenciador o el rebeu per l&#39;ús que en feu; b) Compartir igual: si remescleu, transformeu o creeu a partir del material, haureu de difondre les vostres contribucions sota la mateixa llicència que l&#39;original. No hi ha restriccions addicionals, no podeu aplicar termes legals o mesures tecnològiques que legalment restringeixin fer allò que la llicència permet. Podeu trobar les llicències completes en els enllaços següents: <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.es_ES">https://creativecommons.org/licenses/by-sa/4.0/deed.es_ES</a> 
        GFDL: Llicència de documentació lliure de GNU
        Es concedeix permís per copiar, distribuir o modificar aquest document sota els termes de la llicència de documentació lliure GNU, versió 1.3 o qualsevol altra versió posterior publicada per la Free Software Foundation; sense seccions invariants ni textos de coberta davantera, tampoc textos de contraportada. Una còpia de la llicència es pot trobar a <a href="http://www.gnu.org/copyleft/fdl.html">http://www.gnu.org/copyleft/fdl.html</a>
      </td>
    </tr>
  </table>


  <h1 id="criteris-d-autoria-i-com-participar-en-aquest-document">Criteris d&#39;autoria i com participar en aquest document</h1>
  <p>Aquest document està obert a la participació. Podeu contribuir-hi de diverses maneres. Excepte la funció d&#39;edició, la resta de les formes de participació i els nivells i criteris d&#39;autoria s&#39;especifiquen a continuació:</p>
  <ul>
    <li><p><em>Editor/a:</em> s&#39;encarrega del monitoratge del text, les seves versions, correccions, estructuració, etcètera. Pot coincidir o no amb algun dels autors. Es tracta, en definitiva, d&#39;un coordinador de la col·laboració del text. És funció de l&#39;editor sol·licitar les revisions i llegir-les.</p>
    </li>
    <li><p><em>Autor/a</em>: són autors els qui pròpiament han redactat el text. L&#39;ordre dels autors en reflecteix la contribució; el primer nom és el de qui més ha escrit. L’autor haurà llegit i revisat el text en la seva versió final o en versions anteriors, però no cal que estigui d&#39;acord amb la configuració final del text. Aquesta tasca queda en mans de l&#39;editor.</p>
    </li>
    <li><p><em>Contribuïdor/a</em>: aquí poden considerar-se dos grups de contribuïdors. D&#39;una banda, les persones encarregades de la revisió acadèmica del document (en cas que la seva contribució sigui considerable) i, de l’altra, col·laboradors externs la contribució dels quals hagi estat valuosa i s&#39;hagi consolidat en parts de text incloses al document. La diferència entre contribuïdor i autor queda en mans de l&#39;editor o de la resta d&#39;autors però, en tot cas, la contribució ha de ser inferior a la de la resta d&#39;autors. Com a regla general, si un autor ha escrit menys del 10% del text s&#39;hauria de considerar contribuïdor. Al seu torn, ser contribuïdor requereix almenys haver escrit dos o tres paràgrafs.</p>
    </li>
    <li><p><em>Participant</em>: es tracta d&#39;una persona que, sense haver contribuït amb una part de text específica al document, ha fet contribucions de valor, com ara comentaris pertinents, o ha proporcionat criteris, referències o elements de discussió valuosos.</p>
    </li>
    <li><p><em>Revisor/a</em>: aquesta tasca inclou una lectura minuciosa de tot el text, la correcció d&#39;errors i la proposta de millores. En general, és una feina per encàrrec (sol·licitada a una persona que es considera competent en la matèria), encara que és possible que algú contribueixi fent una revisió sense sol·licitud expressa. En tal cas, la profunditat i qualitat d&#39;aquesta es poden valorar per considerar aquesta persona revisora. (NOTE: Aquesta divisió i especificació de nivells d&#39;autoria s&#39;ha copiat directament dels criteris establerts en el projecte FLOK Society - Buen conocer (vegeu: Barandiaran et al. 2015, pàg.38-39).)</p>
    </li>
  </ul>
  <h1 id="1-descripci-general-i-introducci-al-funcionament-de-decidim">1    Descripció general i introducció al funcionament de Decidim</h1>
  <p>Decidim [<a href="http://decidim.org">http://decidim.org</a>] és una infraestructura digital per a la democràcia participativa construïda enterament en programari lliure de manera col·laborativa. Més concretament, Decidim és un entorn web (un <em>framework</em>) fet a Ruby on Rails que permet crear i configurar un portal o plataforma web, a tall d&#39;una xarxa social, per a la participació democràtica. El portal permet a qualsevol organització (un ajuntament, una associació, universitat, ONG, sindicat, barri o cooperativa) crear processos massius de planificació, de pressupostos participatius, de disseny col·laboratiu de reglaments, espais urbans o eleccions. També permet organitzar reunions presencials, convocar trobades, inscripcions, publicació d&#39;actes, estructurar òrgans de governs o assemblees, convocar consultes o canalitzar iniciatives. </p>
  <p>Per comprendre en detall el funcionament de Decidim, és necessari fer una diferenciació entre <em>espais</em> i <em>components</em> de participació (vegeu la Figura 1).</p>
  <ul>
    <li><p><strong>Espais de participació.</strong> És el marc que defineix la forma en la qual la participació es durà a terme, els <em>canals</em> o mitjans pels quals la ciutadania o els membres d&#39;una organització poden tramitar demandes o articular propostes i prendre decisions. Són espais de participació les <em>Iniciatives</em>, els <em>Processos</em>, les<em> Assemblees </em>i les<em> Consultes</em>. Exemples concrets de cada un d&#39;ells són: una iniciativa ciutadana per canviar directament un reglament (<em>Iniciativa</em>), l&#39;assemblea general o un consell de treballadors (<em>Assemblea</em>), uns pressupostos participatius, un procés electoral o un procés de planificació estratègica (<em>Processos</em>), un referèndum o una crida a votar Sí o No a una proposta concreta (<em>Consulta</em>).</p>
    </li>
    <li><p><strong>Components de participació.</strong> Són els <em>mecanismes</em> de participació que permeten la interacció entre les persones usuàries de la plataforma i cada un dels espais de participació. Els components de participació són: <em>trobades, jornades, incubadora, propostes, textos participatius, enquestes, debats, resultats, seguiment, votacions, pàgines, blog, comentaris, butlletí</em> i <em>cercador</em>.</p>
    </li>
  </ul>
  <p>Les persones usuàries de la plataforma (participants) interactuen a través dels mecanismes de participació anomenats <em>components</em>, que ofereixen funcionalitats específiques per a diferents <em>espais</em> de participació. Dit d&#39;una altra manera, els <em>espais</em> de participació, com les <em>Iniciatives</em>, les <em>Assemblees</em>, els <em>Processos</em> o les <em>Consultes</em> disposen de components que es combinen entre si com a mecanismes de participació. Entre els components més destacats hi ha les <em>trobades presencials</em>, les <em>enquestes</em>, les <em>propostes</em>, les <em>votacions,</em> el <em>seguiment de resultats</em> i els <em>comentaris</em>. Així, per exemple, un procés de participació específic (com l&#39;elaboració de pressupostos participatius) pot combinar, en les seves diferents fases, la possibilitat de convocar i registrar els resultats de trobades presencials amb la ciutadania, pot incloure una enquesta, també la possibilitat de fer propostes, després d&#39;un període de comentaris i debats, activar el component de votació per decidir sobre els projectes un sistema de despesa del pressupost, activar una enquesta d&#39;avaluació i finalment el component de seguiment de l&#39;execució dels projectes escollits.</p>
  <div class="container">
    <div class="browser-shot browser-shot--light">
      <img src="/images/graph-features.png" alt="" />
    </div>
  </div>
  <p>Figura 1:<em> Diagrama resumit de Decidim com a combinació de components en instàncies d&#39;espais de participació. El component Votacions</em> permet diferents sistemes de vot, expressió de suport o adhesió a una proposta.*</p>
  <p>L&#39;espai de <strong>Processos</strong> permet crear, activar/desactivar i administrar diferents processos de participació, articular-los en diferents fases en què poden combinar-se tots els components. L&#39;espai d’<strong>Assemblees</strong> ofereix la possibilitat de definir òrgans o grups que es reuneixen periòdicament, detallar-ne la composició, llistar i geolocalitzar les seves trobades i participar-hi (acudint-hi si l&#39;aforament i la naturalesa de l&#39;assemblea ho permet, introduint punts en l&#39;ordre del dia o comentant les propostes i decisions preses per l’òrgan esmentat). L&#39;espai d’<strong>Iniciatives</strong> permet crear iniciatives de manera col·laborativa, definir-ne la trajectòria o l’objectiu, recollir suports, debatre i difondre la iniciativa i definir punts de trobada per a la recollida de signatures presencial. L&#39;espai de <strong>Consultes</strong> fa possible articular referèndums, generar debats, connectar amb un sistema de vot electrònic segur i mostrar els resultats.</p>
  <p>En relació amb els components, el component <strong>incubadora</strong> de propostes facilita realitzar col·laborativament propostes i fer un seguiment i control dels canvis. El component <strong>propostes</strong> permet crear oficialment una proposta, geolocalitzar-la, adjuntar documents, així com navegar i filtrar propostes. El component <strong>resultats</strong> serveix per convertir propostes en resultats i donar respostes oficials a la seva acceptació o rebuig. El component <strong>seguiment</strong> ofereix la possibilitat de subdividir resultats en projectes, definir i aplicar estats de progrés en la seva execució i visualitzar el grau d&#39;execució dels resultats. El component <strong>enquestes</strong> facilita dissenyar enquestes, publicar-les i visualitzar-ne i baixar-ne els resultats. El component <strong>comentaris</strong> permet realitzar comentaris niats, votar-los, respondre i notificar les respostes. El component <strong>textos participatius</strong> permet dividir un document de text en propostes o resultats i, inversament, compondre i visualitzar un text unificat partint d&#39;una col·lecció de propostes o resultats. El component <strong>votacions</strong> ofereix la possibilitat d&#39;activar diferents sistemes de vot sobre les propostes: vot directe il·limitat, limitat, ponderat, basat en costos, etcètera. El component <strong>pàgines</strong> serveix per crear pàgines informatives amb text enriquit, imatges i vídeos. El component <strong>blog</strong> permet crear, categoritzar i mostrar cronològicament notícies. El component <strong>trobades presencials</strong> ofereix la possibilitat de convocar, definir lloc i hora, realitzar la inscripció i el control d&#39;assistència, definir l&#39;estructura i els continguts d&#39;una cita o trobada presencial, així com de publicar-ne les actes, les propostes o els resultats. El component <strong>jornades</strong> permet crear un web d&#39;unes jornades unificant un conjunt de petites cites presencials (xerrades, tallers, etcètera), compondre un programa i gestionar-ne l&#39;assistència. El component <strong>newsletter</strong> o butlletí serveix per enviar correus electrònics a totes les persones registrades en la plataforma o, de manera selectiva, a aquelles que participin en un espai determinat (NOTE:  No tots els components funcionals aquí descrits corresponen un a un amb components de l&#39;arquitectura de Decidim. Per exemple, ara per ara no existeix el component de votacions com a tal, les votacions són una propietat del component propostes que s&#39;activa o desactiva des del tauler d&#39;administració. El mateix succeeix amb el component resultats i el component seguiment-de-resultats. Hem optat per realitzar una distinció funcional de component, ja que l&#39;arquitectura de Decidim pot variar pel que fa a això en el transcurs dels propers mesos.).</p>
  <p>Quant a les persones participants, existeixen tres categories diferents:</p>
  <ul>
    <li><p><strong>Persona visitant.</strong> Pot veure: accedir a tot el contingut de la plataforma sense haver de registrar-se.</p>
    </li>
    <li><p><strong>Persona registrada.</strong> Pot contribuir: creant un nom de persona usuària, contrasenya i compte de correu electrònic (o de diferents xarxes socials). Pot realitzar comentaris, crear propostes, enviar missatges i seguir participants o elements de la plataforma i rebre notificacions.</p>
    </li>
    <li><p><strong>Persona verificada</strong>. Correspon a un nivell superior de participació. La persona pot acreditar-se com a membre d&#39;una organització, ciutadana d&#39;un municipi, o pertanyent a una comunitat de decisió (una associació, comunitat, col·lectiu, etcètera), i una vegada verificada pot inscriure&#39;s en trobades presencials, donar suport a propostes, signar iniciatives i votar en consultes.</p>
    </li>
  </ul>
  <p>És possible inscriure&#39;s a títol <strong>personal</strong> o <strong>col·lectiu</strong> (associacions, entitats…) i poden crear-se grups d&#39;usuaris que s&#39;expressin de manera col·lectiva o individual. Les persones o col·lectius participants poden configurar/canviar les seves preferències sobre les notificacions.</p>
  <p>Cada instància d&#39;un espai de participació (p. ex.: un procés de participació) se situa dins d&#39;un <strong>àmbit</strong> (territorial o sectorial) i es defineix per una sèrie de <strong>categories</strong> i subcategories (p. ex.: temàtiques) que afecten només l’espai esmentat. També és possible utilitzar <strong>etiquetes</strong> i fer ús d&#39;un cercador general o específic dins dels diferents espais.</p>
  <p>A diferència d&#39;altres plataformes existents, l&#39;arquitectura de Decidim és<strong> modular,</strong> <strong>escalable</strong>, fàcilment <strong>configurable</strong> i <strong>integrable</strong> amb altres eines o aplicacions (analítica de dades, mapes, etcètera). La plataforma ha estat dissenyada per facilitar la configuració i el desplegament de processos, assemblees i mecanismes participatius des d&#39;un tauler d&#39;administració d&#39;una manera senzilla, no cal saber programar per instal·lar-la, configurar-la i activar-la. Els mòduls (components de participació) que la integren són independents entre si i poden ser desenvolupats, activats i desactivats de manera independent.</p>
  <p>A continuació fem una llista detallada de les funcionalitats de Decidim, i les dates en les quals estan previstos els evolutius, millores i noves funcionalitats (objecte de contractació pública en procés durant 2017-2018). Les dates són orientatives i s&#39;indiquen amb l&#39;any i trimestre en el qual està prevista la funcionalitat. Així, per exemple, &quot;2018Q1&quot; significa el primer quartil (trimestre) de 2018, és a dir, la seva funcionalitat està prevista per a gener, febrer o març de 2018. Si una funcionalitat no té una data contractual definida però es troba en període que inclou més d&#39;un quartil s&#39;expressarà de la següent manera: “2018Q1-3” indicant que la funcionalitat estarà disponible en algun moment entre el trimestre primer i tercer de 2018. També s&#39;indica la institució que finança i contracta les noves funcionalitats: AjB (Ajuntament de Barcelona) i GenCat (Generalitat de Catalunya). Les especificacions (tipus Lot1, etcètera) després de la institució finançadora, fan referència als lots i mòduls del funcional del contracte públic (NOTE:  Els plecs de prescripcions tècniques en els quals es detallen les noves funcionalitats de decidim es poden trobar i baixar a: <a href="https://contractaciopublica.gencat.cat/ecofin_pscp/AppJava/ca_ES/notice.pscp?idDoc=24253271&amp;reqCode=viewCn">https://contractaciopublica.gencat.cat/ecofin_pscp/AppJava/ca_ES/notice.pscp?idDoc=24253271&amp;reqCode=viewCn</a> ).</p>
  <h1 id="2-espais-de-participaci-">2    Espais de participació</h1>
  <p>Els espais de participació defineixen els canals o vies de participació principals. Es mostren al menú superior principal de la plataforma. </p>
  <p>La lògica central de l&#39;estructura del Decidim és que els <strong>components es combinen en espais de participació</strong>. Existeixen diferents tipus d&#39;espais (iniciatives, processos, consultes i assemblees) i diferents instàncies dins de cada tipus (un procés d&#39;eleccions i un altre de pressupostos participatius, un òrgan de consell de barri i un altre de treballadors, una iniciativa per canviar una llei i una altra per incloure alguna cosa en l&#39;ordre del dia d&#39;un ple, etcètera).</p>
  <h2 id="2-1-processos">2.1    Processos</h2>
  <p>Els processos de participació requereixen omplir un formulari de <strong>configuració</strong> general amb els camps següents: Títol o nom del procés, nom curt per a l&#39;URL, etiqueta (<em>hashtag</em>, serveix de referència per a la comunicació en xarxes socials), descripció curta, descripció llarga, imatge de portada, imatge de bàner, data de començament i acabament, àmbit, grup promotor (responsable del procés participatiu en l’àmbit polític, pot ser l&#39;ajuntament o un grup format per tècnics/polítics de l&#39;ajuntament i associacions o altres entitats), a qui va dirigit, objecte del procés de participació i estructura participativa. El procés de participació permet incorporar <strong>documents adjunts</strong>. </p>
  <p>Els processos de participació estan dividits en <strong>fases</strong> (p. ex. 1. fase d&#39;informació i convocatòria, 2. fase de diagnòstic, 3. fase de propostes, 4. fase de priorització, 5. fase de decisió, 6. fase d&#39;avaluació i 7. fase de seguiment de resultats). Cada fase inclou els següents camps de configuració: títol, descripció, data d&#39;inici, data fi. </p>
  <p>En els processos també es poden mostrar <strong>anuncis o textos destacats</strong>, tant en la portada com en l&#39;encapçalament de cada component (propostes, debats, etcètera). Es poden configurar missatges diferents en funció de la fase que es troba activa. </p>
  <p>Un <strong>configurador de processos de participació</strong> permet activar i desactivar fases i els seus components de manera senzilla. El configurador de processos de Decidim és una de les seves funcionalitats més potents, aquest permet total flexibilitat en el disseny dels processos participatius segons les diferents realitats i formes de participació ciutadana.</p>
  <p>La funcionalitat de <strong>grups de processos </strong>permet agrupar diversos processos, per exemple per a pressupostos participatius de districtes o barris diferents.</p>
  <p>Els processos de participació poden estar en un dels <strong>estats de procés</strong> següents: 0) publicat o no publicat, 1) obert (ha començat), 2) tancat (ha acabat el procés de participació però els seus resultats són encara en via d&#39;execució), 3) finalitzat (tant el procés com els seus resultats ja estan acabats) i 4) futur (encara no ha començat) [funcionalitat prevista per a 2017Q3, GenCat]. </p>
  <p>És possible <strong>marcar com destacat </strong>un procés (augmentant-ne la visibilitat a la portada). </p>
  <p>També hi ha la possibilitat de <strong>copiar processos de participació</strong> des del tauler d&#39;administració. Aquesta funcionalitat permet dissenyar processos model i fer-ne una còpia per configurar alguns detalls dels nous processos i no haver de crear-los del no-res.</p>
  <h2 id="2-2-assemblees">2.2    Assemblees</h2>
  <p>Decidim permet la <strong>creació i configuració d&#39;assemblees</strong> de participació o govern (òrgans de govern, de participació, consells, grups de treball, etcètera), entesos com a grups estructurats de participants que, a títol individual o representatiu, es reuneixen periòdicament, amb la capacitat de crear propostes i prendre decisions. </p>
  <p>La <strong>secció d&#39;assemblees</strong> permet veure un llistat complet de totes les assemblees que s&#39;activen i es configuren des del tauler d&#39;administració. La <strong>configuració</strong> bàsica exigeix determinar, per a cada òrgan, els camps següents: nom, imatge, àmbit (global, territorial o sectorial), funció de l&#39;òrgan (objecte d&#39;actuació), tipus d&#39;òrgan (govern, executiu, consultiu/assessor, participatiu, grup de treball, comissió...), data de creació, creat per iniciativa de (Ajuntament, ciutadans o altres), durada (indefinida o determinada; en aquest cas, data d&#39;acabament), data d&#39;inclusió en el Decidim, data de tancament i motiu, com s&#39;organitza (funcions, competències...), composició, si és possible adherir-s’hi i com fer-ho, la forma de selecció els membres, tipus/funció dels membres dins de l&#39;òrgan, composició de grups de treball interns com a comissió de seguiment o comissió assessora), característiques de l&#39;òrgan, xarxes socials de l&#39;òrgan (nom de la xarxa social i enllaç), i properes trobades de l&#39;òrgan.</p>
  <ul>
    <li><p><strong>Convocatòries de reunions</strong>: tramesa automàtica de convocatòria, creació col·laborativa de l&#39;ordre del dia, inscripció a assistència. Per a un llistat complet de funcionalitats, vegeu el component &quot;trobades&quot; [funcionalitat prevista per a 2017Q4, AjB-Lot2Mod2].</p>
    </li>
    <li><p><strong>Característiques de l&#39;assemblea</strong>: oberta, pública, transparent, o altres característiques del grau de participació que permet l&#39;assemblea [funcionalitat prevista per a 2018Q1, AjB-Lot2Mod3].</p>
    </li>
    <li><p><strong>Composició</strong>: Permet definir la composició de l&#39;òrgan amb més detall, fent ús dels perfils de participants associats a l&#39;òrgan així com altres característiques. Es genera automàticament una visualització de la composició de l&#39;òrgan a partir de la composició dels membres participants [funcionalitat prevista per a 2018Q1, AjB-Lot2Mod3]: </p>
      <ul>
        <li><p><strong>Tipus de membres</strong>: President, vicepresident, secretaris, d&#39;altres</p>
        </li>
        <li><p><strong>Origen de membres</strong>: per sorteig, elecció directa, representació d&#39;una altra assemblea, representació de govern, etcètera.</p>
        </li>
        <li><p><strong>Grups de treball intern</strong>: creació de subassemblees. Els grups de treball es podran relacionar amb l&#39;òrgan a què pertanyen.</p>
        </li>
        <li><p><strong>Característiques</strong>: Obert/tancat, transparent, amb diferents permisos d&#39;accés.</p>
        </li>
      </ul>
    </li>
    <li><p><strong>Visualització</strong>: permet visualitzar dades internes de cada òrgan, així com relacions entre assemblees [funcionalitat prevista per a 2018Q1, AjB-Lot2Mod3]</p>
      <ul>
        <li><p><strong>Composició</strong>: mostra en forma de diagrama circular la composició de l&#39;òrgan.</p>
        </li>
        <li><p><strong>Organigrames</strong>: mostra la jerarquia o xarxa d&#39;assemblees i les seves relacions.</p>
        </li>
      </ul>
    </li>
    <li><p><strong>Mapa i calendari</strong>: permet veure la localització de tots les assemblees en un mapa i en un calendari [funcionalitat prevista per a 2018Q1, AjB-Lot2Mod3].</p>
    </li>
    <li><p><strong>Relació amb altres espais i components</strong> </p>
      <ul>
        <li><p><strong>Relació amb processos</strong>: les assemblees poden ser grup promotor, iniciar un procés o fer propostes dins d&#39;un procés. La composició d&#39;un òrgan ha de poder ser el resultat d&#39;un procés (d&#39;elecció de càrrecs) [funcionalitat prevista per a 2018Q1, AjB-Lot2Mod3]</p>
        </li>
        <li><p><strong>Propostes i resultats</strong>: un òrgan pot generar les seves pròpies propostes o resultats.</p>
          <ul>
            <li>Es mostra la manera en què la proposta va ser acordada (per consens, majoria, nombre de vots, etcètera). [funcionalitat prevista per a 2018Q1, AjB-Lot2Mod3]</li>
          </ul>
        </li>
        <li><p><strong>Trobades</strong>: les assemblees tindran una llista associada de trobades, però algunes funcionalitats poden saltar d&#39;una trobada al següent, com les iniciatives ciutadanes d&#39;inclusió d&#39;un punt en l&#39;ordre del dia. Igualment les actes han de poder mostrar-se independentment de la trobada, com associades directament a l&#39;òrgan [funcionalitat prevista per a 2018Q1, AjB-Lot2Mod3].</p>
        </li>
      </ul>
    </li>
  </ul>
  <h2 id="2-3-iniciatives">2.3    Iniciatives</h2>
  <p>Les <strong>iniciatives</strong> estan previstes per a l&#39;octubre de 2017 per a l&#39;Ajuntament de Barcelona i s&#39;integraran posteriorment a Decidim. Aquest espai de participació permet a la ciutadania fer propostes i recollir el <strong>nombre de signatures i suports requerits</strong> segons la seva tipologia (els diferents tipus estan definits al reglament municipal), donant lloc a l&#39;inici del procediment administratiu per a la seva tramitació i seguiment ciutadà.</p>
  <p>El funcionament de les iniciatives és el següent:</p>
  <ul>
    <li><p>Qualsevol persona o entitat ciutadana verificada pot crear una proposta d&#39;iniciativa ciutadana. Hi ha <strong>diferents tipus d&#39;iniciatives</strong> amb diferent nombre de suports/signatures requerits per a la seva tramitació (totes elles configurables). Des de la portada de creació d&#39;iniciatives es pot veure la descripció de cada una de les modalitats, el nombre de signatures requerides i exemples (p. ex. vídeos explicatius).</p>
    </li>
    <li><p>Per evitar duplicitats, una vegada creada una iniciativa el sistema presenta suggeriments <strong>d&#39;iniciatives similars</strong> abans de continuar amb el pas següent. Una vegada descartades propostes similars es mostra el formulari específic per a cada tipus d&#39;iniciativa, amb el nombre mínim de suports requerits. El creador disposa llavors d&#39;una URL per convidar altres persones a sumar-s’hi i donar-hi suport. També es mostra un mapa amb els punts físics de recollida de signatures en cas que n&#39;hi hagi.</p>
    </li>
    <li><p>Una vegada recollit el nombre mínim de suports, la iniciativa passa a una fase de <strong>moderació i validació tècnica</strong>, on personal de l&#39;Ajuntament pot realitzar diferents accions (aprovar-la, rebutjar-la o suggerir modificacions).</p>
    </li>
    <li><p>Es pot fer el seguiment de la iniciativa i <strong>rebre notificacions sobre actualitzacions</strong> d&#39;estat, a més la persona o grup promotor de la mateixa pot enviar butlletins periòdics informatius a la resta d&#39;usuaris de la plataforma que hagin decidit fer el seguiment a la iniciativa.</p>
    </li>
    <li><p>Quan s’acaba el període establert, una iniciativa pot tenir dos estats possibles:</p>
      <ul>
        <li><p><strong>Rebutjada</strong>: en cas de no aconseguir el nombre mínim de signatures es mostra el missatge &quot;no reuneix les signatures necessàries&quot; i es notifica al seu creador.</p>
        </li>
        <li><p><strong>Acceptada</strong>: en cas d&#39;haver aconseguit les signatures o suports suficients s&#39;accepta i s’inicia la tramitació corresponent.</p>
        </li>
      </ul>
    </li>
  </ul>
  <h2 id="2-4-consultes">2.4    Consultes</h2>
  <p>L&#39;espai de consultes (votacions a les quals són cridades totes les persones participants de l&#39;organització sobre preguntes específiques) permet als participants<strong> informar-se de les consultes</strong> futures o en curs, <strong>debatre</strong> sobre l&#39;objecte de la consulta i fer el <strong>seguiment</strong> del resultat. També ofereix una <strong>passarel·la a un sistema de vot electrònic</strong> extern a Decidim però integrat en termes d&#39;interfície i de gestió i verificació d&#39;identitats [Funcionalitat prevista per a 2018Q2, AjB].</p>
  <h1 id="3-components">3    Components</h1>
  <p>Els components de Decidim són els mecanismes bàsics de participació que s&#39;activen i configuren per als diferents espais de participació o subespais (fases d&#39;un procés, grups de treball d&#39;un òrgan, etcètera).</p>
  <h2 id="3-1-propostes">3.1    Propostes</h2>
  <p>Les propostes són el component més important de Decidim. S&#39;entén per proposta qualsevol element d&#39;un pla estratègic, una normativa, un pla d&#39;inversió, un canvi legislatiu o qualsevol altra unitat mínima de decisió. Les propostes poden tenir els següents <strong>tipus de creadors</strong>: per la mateixa organització que gestiona la plataforma (p. ex. un ajuntament), per participants registrats/ades, pot originar-se en una trobada com a resultat d&#39;un debat o deliberació col·lectiva, o pot generar-los una assemblea o òrgan, o una organització registrada en la plataforma. També poden <strong>crear-se de manera directa o col·laborativa</strong> i estar subjectes a sistemes d’<strong>esmenes</strong>.</p>
  <p>Les propostes estan definides per un/a autor/a, un títol i un contingut de text. També podem incloure <strong>imatges</strong>, <strong>geolocalització</strong> i <strong>arxius adjunts</strong>. </p>
  <p>Una vegada publicada, una proposta pot estar subjecta a <strong>moderació</strong> (si algú l&#39;etiqueta com a tal i defineix el motiu de moderació).  </p>
  <p>Al tauler <strong>d&#39;administració</strong> les propostes poden <strong>ordenar-se</strong> amb diferents criteris, es poden comentar internament (sense que els comentaris siguin públics), <strong>baixar</strong> en format JSON o CSV (compatible amb programari de fulls de càlcul), <strong>recategoritzar</strong>, o <strong>moure</strong> a diferents espais [aquestes dues últimes funcionalitats estan previstes per a 2017Q4, AjB-Lot3Mod1]. A més, les propostes es poden <strong>acceptar</strong>, <strong>rebutjar</strong> o mantenir en estat d&#39;avaluació.</p>
  <p>Altres funcionalitats associades a les propostes són les següents:</p>
  <ul>
    <li><p><strong>Control de versions</strong>:<strong> </strong>permet mantenir un registre de tots els canvis realitzats en una proposta, així com la generació de codis de verificació d&#39;integritat de la proposta<strong> </strong>[2017Q3, GenCat].</p>
    </li>
    <li><p><strong>Detecció de similars</strong>: Permet, a qui realitzi una proposta nova, trobar-ne d’altres de similars fetes anteriorment a la plataforma i així evitar duplicats [2017Q4, AjB-Lot3Mod1].</p>
    </li>
    <li><p><strong>Relacions entre propostes</strong>: les propostes poden relacionar-se a través d’enllaços a la secció de comentaris, mostrant-se les propostes relacionades com a targetes i notificant sobre l&#39;existència d&#39;una nova relació. [2017Q4, AjB-Lot3Mod1].</p>
    </li>
    <li><p><strong>Adhesió a propostes</strong>: les organitzacions poden adherir-se a les propostes i aquesta adhesió pública es mostrarà en la proposta i notificarà a participants que segueixin l&#39;activitat de l&#39;organització [2017Q4, AjB-Lot3Mod1].</p>
    </li>
    <li><p><strong>Modificació i retirada de propostes</strong>: l&#39;autor/a d&#39;una proposta pot modificar-la o retirar-la abans que s&#39;obri la fase de recollida de suports [2017Q4, AjB-Lot3Mod1].</p>
    </li>
    <li><p><strong>Esmenes</strong>: qualsevol participant pot editar el text d&#39;una proposta i es crearà una proposta &quot;filla&quot; a tall d&#39;esmena (tipus Pull Request a Github), aquesta proposta filla podrà recollir suports, l&#39;autor/a de la proposta mare podrà acceptar o rebutjar l&#39;esmena (o proposta filla). En cas de rebuig, l&#39;autor/a de la proposta filla podrà elevar-la a proposta oficial [2017Q4, AjB-Lot3Mod1].</p>
    </li>
    <li><p><strong>Creació guiada de propostes</strong>: Durant la creació d&#39;una proposta s&#39;acompanya la persona participant a través del procés dividit en passos, amb ajudes contextuals i previsualització abans d&#39;enviar la proposta [2017Q4, AjB-Lot3Mod1].</p>
    </li>
    <li><p><strong>Incubadora de propostes</strong>: Decidim permet la cocreació i la creació col·laborativa de propostes [funcionalitat prevista per a 2018Q1, AjB-Lot3Mod3]. Incorpora les funcionalitats següents:</p>
      <ul>
        <li><p>Creació d&#39;esborranys amb múltiples autors/ores.</p>
        </li>
        <li><p>Llista d’esborranys col·laboratius</p>
        </li>
        <li><p>Comentaris a esborranys</p>
        </li>
        <li><p>Sol·licitar ajuda d&#39;altres col·laboradors i acceptar col·laboradors/ores</p>
        </li>
        <li><p>Vincular l&#39;esborrany a una cita presencial </p>
        </li>
        <li><p>Promoure l&#39;esborrany a iniciativa, proposta de procés o projecte.</p>
        </li>
      </ul>
    </li>
  </ul>
  <h2 id="3-2-textos-participatius">3.2    Textos participatius</h2>
  <p>Entenem per text participatiu una col·lecció ordenada de propostes que componen un document de text complet. La participació en el text es deriva de la interacció amb les propostes que la componen. Aquest component permet, fonamentalment, tres operacions [funcionalitat prevista per a 2018Q2, AjB-Lot3Mod4]:</p>
  <ul>
    <li><p><strong>Descomposició d&#39;un document de text en propostes ordenades</strong> a partir d&#39;un document en formats ODT, XDOC, MarkDown o HTML. Si el text està estructurat en seccions i subseccions, es crearan propostes ordenades a partir de la subsecció de nivell més baix; si el text no està estructurat, es crearà una proposta per cada paràgraf de text. La interfície permet reeditar les propostes, fusionar-les, separar-les, afegir-hi títols, etcètera.</p>
    </li>
    <li><p><strong>Composició de propostes en un text unificat</strong>: a partir d&#39;una conjunt de propostes, aquestes es podran ordenar i generar un text unificat i descarregable.</p>
    </li>
    <li><p><strong>Visualització i interacció</strong> amb documents compostos de propostes: Es mostrarà la col·lecció de propostes com un text unificat i s’hi podran fer esmenes o comentaris al marge.</p>
    </li>
  </ul>
  <h2 id="3-3-resultats">3.3    Resultats</h2>
  <p>Els resultats són propostes (o modificacions de propostes) que han acabat sent el resultat de la presa de decisió en el Decidim, de manera directa (mitjançant el resultat de l&#39;aplicació d&#39;un sistema de vot) o bé intervinguda per trobades, assemblees o l&#39;equip tècnic o polític a càrrec d&#39;un àmbit de decisió a través de l&#39;administració de la plataforma.</p>
  <p>El component de resultats permet gestionar la <strong>resposta</strong> <strong>oficial </strong>a totes les propostes realitzades: amb el motiu del rebuig o acceptació i en quin resultat ha estat acceptada la proposta. </p>
  <p>Els resultats recullen les<strong> metadades de la traçabilitat</strong> de les propostes incorporades en el resultat, així com les trobades en què es va debatre o es va crear (assistents a les trobades esmentades) i la suma de suports rebuts.</p>
  <h2 id="3-4-seguiment-de-resultats">3.4    Seguiment de resultats</h2>
  <p>El component de seguiment de resultats permet la <strong>conversió de resultats a projectes</strong> o permet descompondre&#39;ls en projectes o subprojectes. Cada un dels projectes esmentats pot descriure&#39;s amb més detall i permet <strong>definir l&#39;estat d&#39;execució</strong>, en trams que van des de 0% d&#39;execució al 100%. El component de seguiment permet, a més, a les persones que visiten la plataforma la <strong>visualització del nivell d&#39;execució</strong> (global, per categories o subcategories), dels resultats i dels projectes. Els resultats, projectes i estats es pot actualitzar mitjançant un CVS i manualment mitjançant la interfície d&#39;administració [funcionalitat disponible per a decidim.barcelona i pendent d&#39;integració en decidim-core, previst per a 2017Q3, AjB].</p>
  <h2 id="3-5-votacions-i-suports">3.5    Votacions i suports</h2>
  <p>Les persones participants poden donar suports a propostes. Els suports esmentats poden interpretar-se com a vots, signatures, suports, o de qualsevol altra manera que demostri un acord positiu de conformitat amb la voluntat política pròpia. </p>
  <p>Hi ha <strong>diferents sistemes de vot i de gestió</strong> a Decidim. El més senzill permet activar els suports i que les participants puguin emetre un suport únic a cada proposta que vulguin, sense límit de propostes votables. També es pot limitar el nombre de vots (p. ex. 10 per cada participant).</p>
  <p>Una altra opció és el sistema de vot ponderat per prioritats. Cada participant té un nombre de suports disponible amb diferents pesos, per exemple 3 suports que valen 3, 2 i 1 respectivament, amb la possibilitat de distribuir-los com es cregui convenient [funcionalitat prevista per a 2017Q4, GenCat].</p>
  <p>Des del tauler d&#39;administració és possible <strong>configurar la vista dels resultats</strong> de la votació o bé durant el període de vot o només quan aquest s&#39;acabi.</p>
  <p>Hi ha una forma de <strong>vot especial per a pressupostos participatius</strong> que permet a participants votar &quot;gastant&quot; una quantitat equivalent al pressuposat objecte de participació entre els projectes proposats. El nombre de vots està limitat aquí per la quantitat de despesa acumulada dels projectes seleccionats.</p>
  <h2 id="3-6-comentaris">3.6    Comentaris</h2>
  <p>Els comentaris són un component especial que sol aparèixer associat a un altre component (propostes, debats, resultats, trobades, etcètera) per permetre un procés deliberatiu sobre un tema o proposta.</p>
  <p>El sistema de comentaris de Decidim ha estat dissenyat per afavorir la deliberació. Els comentaris de primer nivell, respecte a la finalitat de debat, es poden classificar de la manera següent: <strong>a favor, en contra o neutral</strong>. Els comentaris es poden <strong>niar</strong> en fils de subcomentaris i es poden <strong>votar</strong>. Decidim permet <strong>ordenar comentaris</strong> pels que estan a favor o en contra, en ordre cronològic i per quantitat de vots a favor. També permet <strong>visualització a dues columnes</strong> amb els comentaris més votats a favor i els més votats en contra [aquesta última funcionalitat està prevista per a 2017Q4, GenCat].</p>
  <h2 id="3-7-p-gines-informatives">3.7    Pàgines informatives</h2>
  <p>Es tracta d&#39;una pàgina amb contingut html i un títol que apareix al menú interior dels espais de participació. Permet incorporar imatges, vídeos encastats i text enriquit.</p>
  <h2 id="3-8-debats">3.8    Debats</h2>
  <p>Permet obrir debats sobre preguntes o temes específics definits pels administradors o pels participants. [Aquesta funcionalitat està activa només per a decidim.barcelona, s&#39;espera la funcionalitat integrada a Decidim-core per a 2017Q3, GenCat].</p>
  <h2 id="3-9-enquestes">3.9    Enquestes</h2>
  <p>El component d&#39;enquestes permet dissenyar, realitzar i visualitzar els resultats d&#39;enquestes que poden activar-se en diferents espais de participació.</p>
  <ul>
    <li><p><strong>Configurador d&#39;enquestes</strong>: permet a administradors/ores crear preguntes i respostes (obertes, tipus test, selecció múltiple, etcètera) i activar l&#39;enquesta, i baixar-ne també les respostes en format csv.</p>
    </li>
    <li><p><strong>Interfície d&#39;enquestes per a participants</strong>: permet a les participants respondre a les preguntes de l&#39;enquesta.</p>
    </li>
    <li><p><strong>Visualitzador de resultats</strong>: permet visualitzar els resultats de les enquestes de manera gràfica. [funcionalitat prevista per a 2017Q3, GenCat].</p>
    </li>
  </ul>
  <h2 id="3-10-trobades-presencials">3.10    Trobades presencials</h2>
  <p>Aquest component permet convocar trobades, <strong>establir un calendari</strong>, <strong>geolocalitzar</strong>, penjar les <strong>actes</strong> de la trobada, <strong>debatre</strong>, crear <strong>propostes associades</strong> a la trobada (indicant el tipus de suport col·lectiu a la proposta), recollir el <strong>nombre</strong> de participants, penjar <strong>fotos</strong> de la trobada i <strong>categoritzar</strong> la trobada dins d&#39;un espai.</p>
  <p>La <strong>configuració</strong> d&#39;una trobada inclou els <strong>camps bàsics</strong> següents: Títol, descripció, adreça, ubicació, detalls de la ubicació, hora d&#39;inici i acabament, àmbit, categoria i aforament màxim. </p>
  <p>També s&#39;inclouen els <strong>camps avançats</strong> següents: caràcter (públic, obert, tancat), grup organitzador, existència d&#39;espai de conciliació, adequació a persones amb diversitat funcional, existència de traducció simultània, tipus de trobada (informatiu, creatiu, deliberatiu, decisiu, avaluatiu, rendició de comptes, d&#39;altres) [funcionalitat prevista per a [2017Q4, AjB-Lot2Mod2]</p>
  <p>Les trobades relacionades amb una instància d&#39;un espai (un procés específic o un òrgan) poden mostrar-se en un <strong>mapa</strong> i es poden <strong>ordenar per dates o categories</strong>. També poden mostrar-se totes les trobades en <strong>mode calendari</strong>, amb la possibilitat d&#39;exportar-les a calendaris del mòbil o altres aplicacions [funcionalitat prevista per a [2017Q4, AjB-Lot2Mod2].</p>
  <p>Algunes funcions avançades del component trobada inclouen les següents:</p>
  <ul>
    <li><p><strong>Sistema d&#39;inscripció i assistència</strong> [funcionalitat prevista per a 2017Q4, AjB-Lot2Mod2]:</p>
      <ul>
        <li><p>Permet administrar el <strong>tipus d&#39;inscripció</strong> d&#39;una trobada (obert i automàtic, tancat i accessible només a cert tipus de participants, etcètera), definir el <strong>nombre de places </strong>per a assistents, realitzar <strong>reserves</strong> de places, la <strong>inscripció manual</strong>, enviar <strong>invitacions</strong> i definir tipus de <strong>condicions</strong> que caldrà acceptar per acudir a la trobada (p. ex. cessió de drets d&#39;imatge) i el<strong> registre d&#39;assistència </strong>de participants.</p>
        </li>
        <li><p>Permet a les persones participants la <strong>inscripció</strong> per a una trobada, sol·licitar <strong>servei de conciliació familiar </strong>(ludoteca, espai de cures) i obtenir un <strong>codi per acreditar-se</strong> en presentar-se en la trobada. </p>
        </li>
        <li><p>Les persones inscrites que hagin anat a la trobada tindran<strong> permisos especials</strong> per poder avaluar-la o deixar comentaris i altres accions. </p>
        </li>
        <li><p>Participants o administradors/ores podran rebre <strong>notificacions</strong> sobre l&#39;obertura del període d&#39;inscripció, el nombre de places que queden per inscriure&#39;s, recordatoris de la trobada, publicació d&#39;actes. </p>
        </li>
      </ul>
    </li>
    <li><p><strong>Gestió de l&#39;ordre del dia</strong>: una secció d&#39;ordre del dia permet definir la durada de la trobada, la creació de ítems i subítems de l&#39;ordre del dia, el títol, contingut i durada estimada. Els participants poden proposar punts per a l&#39;ordre del dia. [funcionalitat prevista per a 2017Q4, AjB-Lot2Mod2].</p>
    </li>
    <li><p>Sistema de<strong> redacció, publicació i validació d&#39;actes</strong> de reunions [funcionalitat prevista per a 2017Q4, AjB-Lot2Mod2]:</p>
      <ul>
        <li><p>Les actes es poden penjar en format vídeo, àudio i text.</p>
        </li>
        <li><p>Les actes en mode text van associades a una <strong>pissarra d&#39;escriptura col·laborativa</strong> integrada a Decidim.</p>
        </li>
        <li><p>Les actes passen per quatre <strong>fases d&#39;elaboració</strong>: 1. Escriptura col·laborativa durant el transcurs de la trobada, 2. Elaboració d&#39;un esborrany oficial de les actes, 3. Fase d&#39;esmenes a l&#39;esborrany, 4. Publicació i validació final de les actes.</p>
        </li>
        <li><p>Les actes es poden <strong>comentar</strong> amb el component de comentaris.</p>
        </li>
        <li><p>Es poden afegir també <strong>documents adjunts</strong> a les actes.</p>
        </li>
      </ul>
    </li>
    <li><p><strong>Autoconvocatòria</strong>: les persones participants verificades podran convocar reunions a través de la plataforma de manera directa, amb el suport d&#39;un nombre determinat d&#39;altres persones participants s&#39;activarà la trobada públicament i les participants convocants tindran accés al tauler d&#39;administració [funcionalitat prevista per a 2017Q4, AjB-Lot2Mod2]</p>
    </li>
    <li><p><strong>Visualització i exportació de trobades</strong>: les trobades es poden visualitzar en mode mapa (per espais o de manera general a la plataforma), en mode calendari, i es podran exportar a gestors d&#39;agendes i calendaris (en format iCalendar) [funcionalitat prevista per a 2017Q4, AjB-Lot2Mod2].</p>
    </li>
  </ul>
  <h2 id="3-11-jornades">3.11    Jornades</h2>
  <p>Entenem jornades com un conjunt de trobades que tenen algunes característiques específiques (programa interactiu i descarregable, sistema d&#39;inscripcions, sistema de generació de certificats d&#39;assistència o diplomes).</p>
  <p>Decidim disposa d&#39;un configurador i generador de pàgines de jornades, que permet crear un <strong>web intern per a la realització d&#39;esdeveniments</strong> relacionats amb un procés participatiu o un altre espai de participació. [El component Jornades està previst per a 2018Q2, AjB-Lot2Mod5]</p>
  <p>Les opcions de configuració inclouen les següents:</p>
  <ul>
    <li><p>Generació d&#39;un <strong>programa interactiu</strong> de les jornades (en el cas de comptar amb ponents convidats, se n&#39;inclou el nom, càrrec, organització, petita bio, enllaços a altres webs).</p>
    </li>
    <li><p>Enviament d’<strong>invitacions</strong> per correu electrònic.</p>
    </li>
    <li><p><strong>Generació de diplomes</strong> de manera automatitzada per a les persones que ho sol·licitin, a través d&#39;un tauler d&#39;assistència que un administrador pugui verificar.</p>
    </li>
    <li><p>Enllaços a plataformes de <strong>vídeo i materials</strong> de les jornades en el programa i la documentació.</p>
    </li>
    <li><p>Enllaços automàtics a webs de mitjans digitals que donin cobertura a les jornades.</p>
    </li>
    <li><p>Seguiment de les jornades per <strong>xarxes socials</strong> (p. ex. incorporant un <em>feed</em> de Twitter).</p>
    </li>
  </ul>
  <h2 id="3-12-blog">3.12    Blog</h2>
  <p>El blog és un component que permet crear i visualitzar <strong>notícies</strong> en ordre cronològic. Les entrades d&#39;un blog són un altre tipus de contingut, han d&#39;estar associades a una instància d&#39;un espai de participació. Les entrades del blog estan relacionades amb el sistema de classificació de continguts de la plataforma. Els <strong>comentaris associats</strong> a les entrades del blog seran tractats com la resta de comentaris de la plataforma, ja descrits anteriorment [funcionalitat prevista per a 2017Q4, AjB-Lot2Mod1].</p>
  <h2 id="3-13-newsletter-general-i-selectiva">3.13    Newsletter general i selectiva</h2>
  <p>Decidim permet enviar una <strong>newsletter</strong> (un correu electrònic) a totes les persones inscrites a la plataforma que hagin acceptat, en les condicions d&#39;ús, rebre el correu electrònic esmentat a tall de butlletí informatiu. La tramesa és personalitzada amb el nom d&#39;usuari/ària i en diversos idiomes (s&#39;envia per defecte en l&#39;idioma escollit per l&#39;usuari/ària). </p>
  <p>També poden enviar-se <strong>newsletters selectives</strong> a grups d&#39;usuaris que hagin decidit seguir un procés, òrgan o iniciativa [funcionalitat prevista per a 2017Q3, GenCat].</p>
  <p>Les persones participants podran <strong>donar-se de baixa</strong> de manera automàtica i directa des del mateix correu electrònic fent clic en un enllaç, i es podrà fer un <strong>seguiment de visites</strong> derivades dels newsletters [funcionalitat prevista per a 2017Q4, AjB-Lot2Mod1]. </p>
  <h2 id="3-14-cercador">3.14    Cercador</h2>
  <p>El <strong>cercador</strong> permet realitzar recerques entre tots els continguts indexables de la plataforma, tant a escala general com en l’àmbit específic, fent la recerca dins d&#39;un procés participatiu concret, o dins dels seus components (propostes, resultats, etcètera) mitjançant la cerca avançada.</p>
  <p>La <strong>pàgina navegable i filtrable de resultats de la cerca</strong> mostra els continguts segons la seva tipologia i ordenats segons la prioritat que s&#39;hagi definit (p. ex., que es mostrin primer els termes trobats dins d&#39;assemblees, i a continuació es mostrin els processos participatius.) [funcionalitat prevista per a 2017Q4, AjB-Lot3Mod2]</p>
  <h1 id="4-participants">4    Participants</h1>
  <h2 id="4-1-registre-i-verificaci-">4.1    Registre i verificació</h2>
  <p>Qualsevol visitant pot accedir a tot el contingut de web directament. Tanmateix, per poder fer propostes o comentaris cal <strong>registrar-s’hi</strong>. El registre es pot fer <strong>directament</strong> a la plataforma o mitjançant passarel·les amb altres <strong>xarxes socials</strong> (Facebook, Twitter o Google+). El registre directe exigeix associar un compte de correu electrònic i una contrasenya al compte d&#39;usuari/ària.</p>
  <p>Les funcionalitats orientades a la decisió (suports, vots, etcètera) requereixen <strong>verificació</strong>. El principal sistema de verificació és contra el padró municipal o una altra base de dades de persones registrades, amb qui Decidim es comunica via API. També es pot verificar <strong>via SMS</strong>, o amb un <strong>codi</strong> especial enviat per carta o altres mitjans, i des del tauler d&#39;administració es pot <strong>verificar manualment</strong> una persona participant [funcionalitats previstes per a 2018Q1-3, AjB-Lot1].</p>
  <p>A més de la verificació, les persones participants poden sol·licitar <strong>oficialitzar</strong> el seu nom d&#39;usuari/ària. Un cop oficialitzat, el seu nom d&#39;usuari/ària apareixerà amb un símbol que permet reconèixer a tercers que aquest nom d&#39;usuari/ària correspon a qui diu ser.</p>
  <p><strong>Associacions o organitzacions</strong> la identitat de les quals pugui verificar-se d&#39;alguna manera també poden registrar-se i verificar-se. La verificació donarà automàticament estatus d&#39;oficialització.</p>
  <h2 id="4-2-registre-p-blic-d-activitat-d-administraci-">4.2    Registre públic d&#39;activitat d&#39;administració</h2>
  <p>La verificació manual de participants, així com altres accions d&#39;administració, introdueixen vulnerabilitat o possibilitats d&#39;usos perversos per part de les persones administradores de la plataforma. Per això, Decidim inclou un <strong>registre públic de les activitats d&#39;administració</strong> per poder auditar de manera pública i transparent les accions esmentades.</p>
  <h2 id="4-3-perfil-d-usuari-i-configuraci-personal">4.3    Perfil d&#39;usuari i configuració personal</h2>
  <p>Existeix una <strong>pàgina de perfil d&#39;usuari</strong> en la qual les persones participants poden <strong>modificar les seves dades</strong> (com el compte de correu electrònic, contrasenya, etcètera), pujar i habilitar una imatge d’<strong>avatar</strong>, configurar les notificacions i donar-se de baixa.</p>
  <p>La pàgina de perfil d&#39;usuari permet també a participants definir el seu <strong>perfil enriquit</strong> d&#39;interessos i habilitats, de manera voluntària i escollint el grau de visibilitat de la informació esmentada. Això permet rebre notificacions personalitzades o el <em>matching</em> per a col·laboracions [funcionalitat prevista per a 2018Q1-3, AjB-Lot1].</p>
  <h2 id="4-4-seguiment-i-notificacions">4.4    Seguiment i notificacions</h2>
  <p>Les persones participants reben <strong>notificacions automàtiques</strong> dels continguts que han creat: respostes a comentaris i comentaris a les seves propostes, així com dels resultats de les seves propostes (si han estat acceptades o rebutjades).</p>
  <p>A més de les notificacions automàtiques, una persona participant pot decidir <strong>seguir qualsevol element</strong> del sistema (altres propostes, resultats, processos, assemblees, iniciatives, grups o usuaris, etcètera) i rebre notificacions [funcionalitat prevista per a 2017Q3, GenCat].</p>
  <h2 id="4-5-comunicaci-entre-participants">4.5    Comunicació entre participants</h2>
  <p>És possible enviar <strong>missatges directes</strong> a participants a través de la plataforma, i es rebrà una notificació per correu electrònic [funcionalitat prevista per a 2017Q3, AjB].</p>
  <p>També es poden fer <strong>mencions</strong> (en els comentaris) a qualsevol usuari/ària registrat/ada, i aquest/a rebrà automàticament una notificació. [funcionalitat prevista per a 2018Q1-3, AjB-Lot1].</p>
  <h2 id="4-6-engagement">4.6    Engagement</h2>
  <p>Decidim compta amb una sèrie de funcionalitats orientades a ludificar la plataforma, amb l&#39;objectiu <strong>d&#39;atreure i mantenir interessats un nombre creixent de participants</strong>, així com promoure pràctiques que potenciïn la qualitat democràtica i la intel·ligència col·lectiva en la participació [el sistema de ludificació està previst per a 2018Q1-3, AjB-Lot1]. </p>
  <p>El sistema de ludificació inclou dues modalitats, una de centrada en les persones usuàries i una altra de centrada en les propostes.</p>
  <ul>
    <li>La modalitat <strong>centrada en els usuaris</strong> incorpora un <strong>sistema de punts</strong> basats en diferents criteris (grau de detall del seu perfil d&#39;usuari, nombre d&#39;invitacions a altres persones a la plataforma, nombre de propostes realitzades i comentades, nombre de comentaris, nombre de suports obtinguts, nombre de seguidors, etcètera).</li>
  </ul>
  <p>La combinació d&#39;aquests i altres indicadors serveix per generar recorreguts de ludificació per a cada usuari i definir fites com ara: persona més participativa del districte, lideratge en debats, etcètera.</p>
  <ul>
    <li>La ludificació <strong>centrada en propostes/iniciatives</strong> permet als seus promotors, signants i seguidors dinamitzar-ne la interacció incorporant algunes <strong>mètriques</strong> (nombre de vegades que la proposta és compartida en xarxes socials, grau de controvèrsia (nombre de comentaris positius i negatius), qualitat de la deliberació (profunditat de l&#39;arbre de comentaris), quantitat de visites rebudes, etcètera.</li>
  </ul>
  <h2 id="4-7-grups-d-usuaris">4.7    Grups d&#39;usuaris</h2>
  <p>Les persones participants poden registrar-se a la plataforma com a membres d&#39;una o diverses organitzacions/col·lectius. Una vegada verificada l&#39;organització i la condició de membre, la participant pot realitzar accions (fer propostes, realitzar comentaris, etcètera) amb el seu nom d&#39;usuari/ària o amb el nom de l&#39;organització. [Funcionalitat prevista per a 2018Q1-3, AjB-Lot1]</p>
  <p>Els grups d&#39;usuaris també poden gestionar permisos d&#39;usuari i administració assignats a grups, així com espais de debat privats o compartir informació entre el grup d&#39;usuaris, per exemple, que va assistir a una trobada presencial. [Funcionalitat prevista per a 2018Q1-3, AjB-Lot1]</p>
  <h1 id="5-funcionalitats-generals">5    Funcionalitats generals</h1>
  <p>A continuació s’expliquen una sèrie de funcionalitats i característiques generals de la plataforma que no queden recollides en els espais o components ni en les funcionalitats directament associades a participants.</p>
  <h2 id="5-1-instal-laci-i-configuraci-">5.1    Instal·lació i configuració</h2>
  <p>Decidim <strong>s&#39;instal·la fàcilment</strong> a través de la línia d&#39;ordres a qualsevol servidor GNU/Linux amb els següents serveis instal·lats: PostgreSQL 9.4+, Ruby 2.4.1, NodeJS amb yarn (JavaScript dependency manage), ImageMagick i PhantomJS. Un script automàtic d&#39;instal·lació permet desplegar tot el sistema de dependències, llibreries, bases de dades i altres serveis requerits de manera automàtica a Heroku o Docker [funcionalitat prevista per al 2018].</p>
  <p>La <strong>configuració</strong> del portal permet una <strong>personalització</strong> amb els camps següents, que s&#39;omplen en un formulari des del tauler d&#39;administració: Nom del portal, perfils de xarxes socials (Twitter, Facebook, Instagram, Youtube, Github), descripció breu, text de benvinguda, idioma per defecte, imatge de portada, logotip de l&#39;organització, favicon, prefix de referència (identificador únic que s&#39;aplicarà als elements del portal) i URL de l&#39;organització.</p>
  <h2 id="5-2-integraci-amb-altres-serveis-i-compatibilitat-creaci-de-serveis-addicionals">5.2    Integració amb altres serveis i compatibilitat/creació de serveis addicionals</h2>
  <p>Decidim es pot integrar fàcilment amb els serveis següents, que poden instal·lar-se o configurar-se juntament amb Decidim:</p>
  <ul>
    <li><p><strong>OpenStreetMap</strong>: per mostrar esdeveniments i propostes geolocalitzades</p>
    </li>
    <li><p><strong>Piwik</strong>: analítica de visites al web</p>
    </li>
    <li><p><strong>Pad</strong>: pissarres d&#39;escriptura col·laborativa en temps real (tecnologia per determinar) [Funcionalitat prevista per a 2018Q1-3 AjB-Lot1]</p>
    </li>
    <li><p><strong>Identitat i signatura digital</strong>: integració amb el sistema de gestió d&#39;identitat digital OAuth2, sistemes basats en blockchain i sistemes de gestió d&#39;identitat i signatura digital institucionals reconeguts [Funcionalitat prevista per a 2018Q1-3 AjB-Lot1].</p>
    </li>
    <li><p><strong>Sistema distribuït d’arxius</strong>: Difusió o rèplica de propostes o altres elements de la plataforma en sistema distribuïts d’arxius (tipus blockchain o IPFS) [Funcionalitat prevista per a 2018Q1-3, AjB-Lot1].</p>
    </li>
    <li><p><strong>Microblogging</strong>: integració/compatibilitat amb un protocol/servei estandarditzat i obert de microblogging tipus GNU Social o StatusNet per a l&#39;activitat de participants (propostes, comentaris i missatges) [Funcionalitat prevista per a 2018Q1-3, AjB-Lot1].</p>
    </li>
  </ul>
  <p>Decidim genera automàticament els serveis següents, a més d&#39;aquells pels quals es pot navegar mitjançant el web o accedir-hi mitjançant l&#39;API: </p>
  <ul>
    <li><p><strong>SMTP</strong>: enviament de correus electrònics.</p>
    </li>
    <li><p><strong>Calendari</strong>: integració o compatibilitat amb sistemes de gestió de calendaris i creació i actualització automàtica de calendaris d&#39;esdeveniments, etcètera [Funcionalitat prevista per a 2018Q1-3, AjB-Lot1].</p>
    </li>
  </ul>
  <h2 id="5-3-multitinen-a">5.3    Multitinença</h2>
  <p><strong>Múltiples tinences</strong> de la plataforma poden servir-se partint d&#39;una sola instal·lació. En altres paraules, una sola instal·lació de Decidim permet desplegar tants portals com es vulgui amb una configuració específica per a cada una de les instàncies. D&#39;aquesta manera, una organització pot crear portals de participació per a suborganitzacions seves, o diverses organitzacions poden compartir servidor i reduir els costos de manteniment dels seus portals.</p>
  <h2 id="5-4-multiidioma">5.4    Multiidioma</h2>
  <p>Decidim és una plataforma <strong>multiidioma</strong>. Durant la instal·lació es configuren els idiomes disponibles. Els menús, formularis d&#39;administració i, en general, els textos fixos de la plataforma estan disponibles en diversos idiomes (català, castellà, eusquera, italià, francès, holandès i suomi). Un sistema de <strong>traducció col·laborativa</strong> a <a href="https://crowdin.com/project/decidim">https://crowdin.com/project/decidim</a> facilita la incorporació d&#39;idiomes nous a la plataforma. </p>
  <p>Pel que fa al contingut, una vegada fixats els idiomes oficials de la instància durant la instal·lació, tots els continguts que es creen des del tauler d&#39;administració tenen l&#39;opció de generar-se en els idiomes esmentats. El tauler d&#39;administració permet la <strong>gestió de continguts en diferents idiomes</strong> a través de pestanyes. El contingut generat per les persones usuàries es mostra a la plataforma en un sol idioma (l&#39;escollit per la persona participant a través del selector d&#39;idiomes en la part superior dels menús o automàticament a través de la configuració lingüística del seu navegador).</p>
  <h2 id="5-5-estad-stiques-dades-obertes-i-baixades">5.5    Estadístiques, dades obertes i baixades</h2>
  <p>A més de la interfície de programació d&#39;aplicacions (API) que proporciona accés a dades públiques de manera automàtica, a la portada de Decidim s’hi troba un <strong>quadre d&#39;estadístiques generals</strong>, amb els següents camps: nombre de participants, processos, proposades, resultats, trobades, comentaris i vots.</p>
  <p>Un altre <strong>quadre d&#39;estadístiques de cada procés participatiu </strong>mostra el nombre de trobades, propostes, vots i resultats d&#39;un procés determinat.</p>
  <p>Des del tauler d&#39;administració es poden <strong>exportar les propostes, resultats i comentaris </strong>d&#39;un procés de participació a format CSV i JSON i respostes a les enquestes per al seu tractament o integració amb altres sistemes de gestió. Les persones participants poden <strong>baixar els resultats d&#39;un procés participatiu i el seu grau d&#39;execució</strong> mitjançant un fitxer CSV.</p>
  <p>Decidim disposa també d&#39;un <strong>mòdul de visualització de dades</strong>, tant a escala general de la plataforma com de manera específica (mostrant dades d&#39;un espai participatiu determinat) [funcionalitat prevista per a 2018Q1, AjB-Lot2Mod4]. Entre els gràfics que es mostren hi ha els següents:</p>
  <ul>
    <li><p><strong>Gràfic interactiu</strong> de línia temporal amb l&#39;evolució dels comptadors dels diferents components.</p>
    </li>
    <li><p><strong>Mapa de calor</strong> del total de trobades, propostes o altres continguts geolocalitzables.</p>
    </li>
    <li><p><strong>Diagrames interactius </strong>(de barres, circulars o de sectors) amb els resultats d&#39;un procés (import de cada un dels projectes de pressupostos participatius, filtre per categories i estat de les propostes —seleccionades sí o no—, etcètera).</p>
    </li>
  </ul>
  <p>Totes aquestes visualitzacions venen acompanyades d&#39;una <strong>opció de baixada de les dades</strong> en format CSV [funcionalitat prevista per a 2018Q1, AjB-Lot2Mod4]. </p>
  <h2 id="5-6-api-disseny-web-adaptable-i-aplicaci-m-bil">5.6    API, Disseny web adaptable i aplicació mòbil</h2>
  <p>Decidim disposa d’una interfície de programació d&#39;aplicacions o API que és un conjunt de crides a serveis i dades de forma independent de la interfície web de Decidim. Això permet a tercers desenvolupar serveis sobre la plataforma, alliberar dades de manera automàtica o desenvolupar noves interfícies o integració d&#39;altres serveis amb Decidim.</p>
  <p>L&#39;API ve acompanyada d&#39;una <strong>documentació</strong> i una <strong>ontologia formal</strong> de participació [funcionalitat prevista per a 2018Q1-3, AjB-Lot1]</p>
  <p>El <strong>disseny</strong> web de Decidim és completament <strong>adaptable</strong> (<em>responsive</em>), seguint la filosofia de disseny <em>mobile-first</em> (primer es dissenya per al mòbil, després s&#39;expandeix per a sistemes d&#39;escriptori i tauletes tàctils).</p>
  <p>Tant el disseny web com l&#39;API faciliten el desenvolupament d&#39;aplicacions mòbils per a Decidim; està previst el desenvolupament d&#39;una <strong>app mòbil</strong> per a finals del 2018 [AjB].</p>
  <h2 id="5-7-sistemes-de-classificaci-de-continguts">5.7    Sistemes de classificació de continguts</h2>
  <p>Pel que fa a la classificació de continguts, Decidim permet diferenciar i configurar: àmbits, categories i etiquetes (o <em>tags</em>).</p>
  <p>Els <strong>àmbits</strong> són generals a tota la plataforma i es divideixen en els de tipus <strong>territorial</strong> i <strong>temàtic</strong>. Els àmbits territorials, una vegada definits, permeten classificar elements dels espais territorialment (p. ex. si un procés, o un òrgan o una iniciativa afecta a un districte o dos, a tota la ciutat, a una regió o a un país, depenent de l&#39;organització). Igualment, els àmbits temàtics es defineixen per a tota la plataforma i permeten classificar els diferents elements dels espais de participació [funcionalitat prevista per a 2017Q4, GenCat].</p>
  <p>Les <strong>categories i subcategories</strong> serveixen per classificar continguts dins dels diferents espais i es defineixen per a cada una de les instàncies dels espais. Així, per exemple, un procés de participació pot incloure diverses categories i subcategories (les defineix l&#39;administrador/a del procés) i les trobades, enquestes, propostes o altres components del procés es poden classificar sota aquestes categories.</p>
  <p>A diferència dels àmbits i les categories, les <strong>etiquetes</strong> o <em>tags</em> són transversals, són lliurement definides per les persones participants i es poden aplicar a qualsevol instància o component. Des del tauler d&#39;administració es poden crear etiquetes, niar-les i definir-les. Un sistema de suggeriment d&#39;etiquetes permet a les persones que participen escollir etiquetes similars a les que estan proposant per etiquetar qualsevol element de la plataforma. Es podrà navegar pels elements per etiquetes i mostrar les etiquetes més populars [funcionalitat prevista per a 2017Q4, AjB-Lot2Mod1].</p>
  <h2 id="5-8-sistema-d-ajuda-contextual-tests-d-usabilitat-i-valoraci-">5.8    Sistema d&#39;ajuda contextual, tests d&#39;usabilitat i valoració</h2>
  <p>Decidim inclou un sistema <strong>d&#39;ajudes contextuals editables</strong> per guiar persones participants i administratives en l&#39;ús de la plataforma. Igualment, inclou un sistema que permet fer <strong>experiments d&#39;usabilitat</strong> amb tests i estadístiques d&#39;ús, així com també <strong>enquestes de valoració automàtiques</strong> a les participants de cara a identificar errors d&#39;usabilitat, de procediments de participació i millorar la qualitat democràtica i d&#39;experiència del programari [funcionalitat prevista per a 2018Q1-3, AjB-Lot1].</p>
</div>
