---
title: Gràcies per contactar-nos | Decidim
description:
---

<div class="container container-vertical">
  <div class="container--small-col">
    <h1 class="page-title">Gràcies per contactar-nos</h1>
    <p class="page-intro">
      Gràcies pel teu correu electrònic, et respondrem en breu.
    </p>
  </div>
</div>
