---
title: Gracias por contactarnos | Decidim
description:
---

<div class="container container-vertical">
  <div class="container--small-col">
    <h1 class="page-title">Gracias por contactarnos</h1>
    <p class="page-intro">
      Gracias por su email, le responderemos en breve.
    </p>
  </div>
</div>
