---
nav: legal-notice
description:
---
<div class="container container-vertical">
  <h1 id="decidim" class="page-title"><%= t('legal-notice.title') %></h1>

  <div class="container--text-col">
    <% (1..9).each do |n| %>
      <section>
        <h2> <%= t("legal-notice.section-#{n}.title") %> </h2>
        <div> <%= t("legal-notice.section-#{n}.paragraph", privacy_policy_url: "#{t(:path)}/privacy-policy") %> </div>
      </section>
    <% end %>
  </div>
</div>

