---
title: Modules | Decidim
description:
---
<div class="container container-vertical">
  <h1 class="page-title">Modules</h1>

  <%= partial "partials/modules_by_type", locals: {type: "official", title: "Official" } %>

</div>
