---
title: Press | Decidim
description:
---
<div class="container container-vertical">

<h1 class="page-title">Press center</h1>

<div class="page-intro">
  <p>If you are a journalist interested in knowing more of decidim.org please feel free to contact us at the <a href="/contact">contact form</a>.</p>
</div>

<h2>History</h2>
<p>Decidim was born in Barcelona in 2016, thanks to the Barcelona City Council. As a software project is deeply inspired by the 15M movement who reclaimed democracy for the people.
Decidim is run by an association, who manage the code, its extension and governance.</p>

<h2>What we do</h2>
<p>We are a free-open source software aimed at cities and organizations. We are a participatory infrastructure. We work for a stronger and transparent democracy. </p>

<h2>Where to find us</h2>
<p>Canòdrom. Creative research park.<br> Carrer de Concepción Arenal, 165, 08027 Barcelona </p>

<h2>Stats</h2>
<p>Decidim is being used in more than 100 cities in 20 countries of the world. See <a href="/usedby/">Used by</a>.</p>

<h2>Media highlights</h2>

<ul>
  <li><a href="https://www.deutschlandfunk.de/wenn-buerger-politik-gestalten-barcelonas-erfolg-mit-der.795.de.html?dram:article_id=471680">Barcelonas Erfolg mit der Plattform Decidim.</a> Deutschlandfunk</li>
  <li><a href="https://www.lavanguardia.com/local/barcelona/20200219/473656039153/tecnologia-ciudad-y-democracia.html">Tecnología, Ciudad y Democracia.</a> La Vanguardia</li>
  <li><a href="https://bherria.eus/es/una-plataforma-disenada-para-articular-procesos-democraticos-debe-contar-con-una-gobernanza-democratica/">Una plataforma diseñada para articular procesos democráticos debe contar con una gobernanza democrática.</a> Bherria</li>
  <li><a href="https://www.ft.com/content/67c52480-b51f-11e9-8cb2-799a3a8cf37b">Smart cities still need a human touch.</a> Financial Times</li>
  <li><a href="https://www.information-age.com/negative-image-of-smart-cities-123485288/">Why we should dispel the negative image of smart cities.</a> Information Age</li>
  <li><a href="https://www.lemonde.fr/economie/article/2019/06/07/a-barcelone-un-modele-original-de-commun-numerique_5473033_3234.html">A Barcelone, un modèle original de « commun numérique ».</a> Le Monde</li>
  <li><a href="https://kontrast.at/barcelona-smart-city-wirtschaft/">In Barcelona schreiben die Bürger das Regierungsprogramm selbst – und machen ihre Stadt sozialer.</a> Kontrast</li>
  <li><a href="https://www.vice.com/it/article/ev3334/m5s-di-maio-offerta-rousseau-gilet-gialli-proteste-francia-democrazia-diretta">L'offerta del M5S di dare Rousseau ai Gilet Gialli suona più come una minaccia.</a> Vice</li>
  <li><a href="https://netzpolitik.org/2018/freie-software-als-oeffentliches-gut-und-was-rathaeuser-dafuer-tun-koennen/">Interview: Wie Barcelona eine offene "Smart City" im Dienste des Gemeinwohls plant.</a> Netzpolitik</li>
  <li><a href="https://www.rbb-online.de/doku/b/besser-geht-immer/besser-geht-immer.html">Besser geht immer. Astrid Frohloff trifft kreative Bürokraten</a> RBB</li>
</ul>

<h2>FAQs</h2>
<p>Click <a href="/faqs/">here</a>.</p>

<h2>Comm assets</h2>

<ul>
  <li><a href="/pdf/identity-manual-ca.pdf">Logos</a></li>
  <li><a href="https://www.youtube.com/watch?v=f6JMgJAQ2tc">Spot</a></li>
  <li><a href="https://www.youtube.com/results?search_query=%23DecidimFest">Decidim Fest 2019</a></li>
  <li><a href="https://www.youtube.com/playlist?list=PLGqsHW77DVq_98DB5w2owG1XEhGPSnZyM">Media</a></li>
  <li><a href="/pdf/Decidim_Triptic_EN.pdf">Brochure</a></li>
</ul>
 
 </div>
