---
nav: privacy-policy
description:
---
<div class="container container-vertical">
  <h1 class="page-title"><%= t('privacy-policy.title') %></h1>

  <div class="container--text-col">
    <% (1..8).each do |n| %>
      <section>
        <h2><%= t("privacy-policy.section-#{n}.title") %></h2>
        <div><%= t("privacy-policy.section-#{n}.paragraph", decidim_url: "#{t(:path)}/legal-notice#decidim", legal_notice_url: "#{t(:path)}/legal-notice") %></div>
      </section>
    <% end %>
  </div>
</div>


