---
title: Roadmap | Decidim
description:
---
<div class="container container--text-col container-vertical">
  <h1>Roadmap</h1>
<p>The Decidim platform in is active and intense development right now. Here is a Roadmap of uncoming features:</p>

</div>
