---
title:
  en: Thanks
  es: Gracias
  ca: Gracies
description:
---

<div class="container container-vertical">
  <div class="container--small-col">
    <h1 class="page-title"><%= t('.thanks.title') %></h1>
    <p class="page-intro">
      <%= t('.thanks.intro') %>
    </p>
  </div>
</div>