---
title: Thanks for your email | Decidim
description:
---

<div class="container container-vertical">
  <div class="container--small-col">
    <h1 class="page-title">Thanks for your email</h1>
    <p class="page-intro">
      Thank you for contacting us, we will get back to you soon.
    </p>
  </div>
</div>
