---
title:
  en: Thanks for your email
  ca:  Gràcies per contactar-nos
  es: Gracias por contactarnos
description:
---

<div class="container container-vertical">
  <div class="container--small-col">
    <h1 class="page-title"><%= t('thanks.title') %></h1>
    <p class="page-intro">
      <%= t('thanks.message') %>
    </p>
  </div>
</div>
