---
nav: thanks
description:
---

<section>
  <div class="container pt-12 pb-6 md:pt-24 md:pb-12">
    <div class="md:w-3/5 space-y-6">
      <h1 class="h1 md:whitespace-nowrap">
        <%= t("thanks.title") %>
      </h1>
      <p class="par-xl text-gray-500">
        <%= t("thanks.message") %>
      </p>
    </div>
  </div>
</section>
