---
title: Köszönjük | Decidim
description:
---

<div class="container container-vertical">
  <div class="container--small-col">
    <h1 class="page-title">Köszönjük!</h1>
    <p>Köszünjük az üznetet. Amint tudunk, válaszolunk.</p>
  </div>
</div>
