---
title: Thank you | Decidim
description:
---

<div class="container container-vertical">
  <div class="container--small-col">
    <h1 class="page-title">Thank you!</h1>
    <p>Thank you for your message, we will get in touch with you as soon as we can.</p>
  </div>
</div>
