---
title: Ya usan Decidim | Decidim
description:
---
<div class="container container-vertical">
  <h1 class="page-title">Estas ciudades, regiones y organizaciones ya están usando Decidim</h1>
  <%= partial "partials/used_by_type", locals: {type: "city", title: "Ciudades" } %>
  <%= partial "partials/used_by_type", locals: {type: "region", title: "Regiones" } %>
  <%= partial "partials/used_by_type", locals: {type: "org", title: "Organizaciones" } %>
</div>