---
title: Decidim in use | Decidim
description: Where's being used Decidim
---
<div class="container container-vertical">
  <h1 class="page-title">These cities, regions and organizations are already using Decidim</h1>
  <%= partial "partials/used_by_type", locals: {type: "city", title: "Cities" } %>
  <%= partial "partials/used_by_type", locals: {type: "region", title: "Regions" } %>
  <%= partial "partials/used_by_type", locals: {type: "org", title: "Organizations" } %>
</div>