---
title: Ja fan servir Decidim | Decidim
description:
---
<div class="container container-vertical">
  <h1 class="page-title">Aquestes ciutats, regions i organitzacions ja fan servir Decidim</h1>
  <%= partial "partials/used_by_type", locals: {type: "city", title: "Ciutats" } %>
  <%= partial "partials/used_by_type", locals: {type: "region", title: "Regions" } %>
  <%= partial "partials/used_by_type", locals: {type: "org", title: "Organitzacions" } %>
</div>
