[data-accordion] [data-accordion-id] {
  svg {
    animation: fade2 0.3s ease-in-out forwards;
  }

  svg + svg {
    animation: fade1 0.3s ease-in-out forwards;
  }

  &.is-selected {
    svg {
      animation: fade1 0.3s ease-in-out forwards;
    }

    svg + svg {
      animation: fade2 0.3s ease-in-out forwards;
    }

    > :last-child{
      @apply pointer-events-auto translate-y-0 opacity-100 max-h-full mt-4;
    }
  }
}


@keyframes fade1 {
  to {
    @apply opacity-0 rotate-180;
  }
}

@keyframes fade2 {
  to {
    @apply opacity-100 rotate-180;
  }
}
