@font-face {
  font-family: 'Barlow';
  src:
    url('/fonts/barlow-regular.woff2') format('woff2'),
    url('/fonts/barlow-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src:
    url('/fonts/barlow-extrabold.woff2') format('woff2'),
    url('/fonts/barlow-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src:
    url('/fonts/barlow-semibold.woff2') format('woff2'),
    url('/fonts/barlow-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
