@import url('https://fonts.googleapis.com/css?family=Barlow:400,600,800');


@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/sourcesanspro-light.woff2') format('woff2'),
         url('/fonts/sourcesanspro-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/sourcesanspro-lightitalic.woff2') format('woff2'),
         url('/fonts/sourcesanspro-lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/sourcesanspro-regular.woff2') format('woff2'),
         url('/fonts/sourcesanspro-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/sourcesanspro-semibold.woff2') format('woff2'),
         url('/fonts/sourcesanspro-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}
