*, *:hover, *:active, *:focus {
  outline: none !important;
}

*, *:before, *:after {
  box-sizing: border-box !important;
}

::-moz-selection {
  background: #008080;
  color: #fff;
}

::selection {
  background: #008080;
  color: #fff;
}

a::-moz-selection {
  background: #008080;
  color: #fff;
}

a::selection {
  background: #008080;
  color: #fff;
}

img{
  max-width: 100%;
}

html{
  height: 100%;
}

body{
  min-height: 100%;
  background-color: white;
  position: relative;
  overflow-x: hidden;
}
