body{
  font-family: "Source Sans Pro", sans-serif;
  color: $body-color;
  font-size: $body-fontsize;
  font-weight: 300;
}

.main{
  line-height: 1.4;
}

a{
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted $primary;
  &:hover{
    color: $primary;
  }
}

h1{
  font-size: $h1-small;
  font-weight: $heading-fontweight;
  margin-top: 0;
  @media (min-width: $L){
    font-size: $h1;
  }
}
h2{
  font-size: $h2-small;
  font-weight: $heading-fontweight;
  margin-top: 0;
  @media (min-width: $L){
    font-size: $h2;
  }
}
h3{
  font-size: $h3-small;
  font-weight: $heading-fontweight;
  margin-top: 0;
  @media (min-width: $L){
    font-size: $h3;
  }
}

p{
  margin-top: 0;
}

.help{
  font-size: $body-fontsize;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
