body{
  font-family: "Source Sans Pro", sans-serif;
  color: $body-color;
  font-size: $body-fontsize;
  font-weight: 300;
}

a{
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted $primary;
  &:hover{
    color: $primary;
  }
}

h1{
  font-size: $h1;
  font-weight: $heading-fontweight;
  margin-top: 0;
}
h2{
  font-size: $h2;
  font-weight: $heading-fontweight;
  margin-top: 0;
}
h3{
  font-size: $h3;
  font-weight: $heading-fontweight;
  margin-top: 0;
}

p{
  margin-top: 0;
}

.help{
  font-size: $body-fontsize;
}
