---
nav: blog
---

<div class="blog container container-vertical-top">
  <div class="container--text-col">
    <% blog.articles.each do |article| %>
      <%= partial "partials/article_preview", locals: {article: article} %>
    <% end %>
    <button id="paginate-control" class="btn btn--primary paginate-control is-paginate-control-hidden">Load more</button>
  </div>
</div>
