---
nav: blog
---

<div class="container py-24">
  <div class="md:w-3/5">
    <h1 class="h1 whitespace-nowrap"><%= t("blog.title") %></h1>
    <p class="par-xl text-gray-500">
      <%= t("blog.subtitle") %>
    </p>
  </div>

  <div class="divide-y-4 divide-gray-100 mt-16">
    <% blog.articles.each do |article| %>
      <article class="py-12 md:w-3/5">
        <%= partial "partials/article_preview", locals: {article: article} %>
      </article>
    <% end %>
  </div>
</div>
