.btn{
  display: inline-block;
  padding: 1.1em 2em;
  text-decoration: none;
  color: inherit;
  margin-left: .3em;
  margin-right: .3em;
  border-radius: $radius;
  border: 1px solid;
  font-size: $small-fontsize;
  text-transform: uppercase;
  letter-spacing: .04em;
}

.btn--large{
  font-size: 1.2rem;
  font-weight: 300;
}


.btn--primary{
  background-color: $primary;
  border-color: $primary;
  color: white;
}

.btn--secondary{
  border-color: $light-grey;
}

.btn--frosted{
  background-color: rgba(white,.2);
  border-color: transparent;
}
