.faq{
  dt{
    font-weight: bold;
  }
  dd{
    margin-left: 0;
    margin-bottom: 1rem;
  }
  @media (min-width: $L){
    column-count: 2;
  }
}

.faqs{
  max-width: 55rem;
  dt{
    font-weight: 600;
    color: $primary;
    text-transform: lowercase;
    font-size: $h2;
  }
  dd{
    margin-left: 0;
    margin-bottom: 1rem;
    @media (min-width: $L){
      font-size: $large-fontsize;
    }
    a{
      border-color: $primary;
    }
  }
  
}
