.features{
  padding: 4rem 0 3.25rem;
  margin-bottom: 5rem;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.13);
}

.feature-container{
  display: flex;
  align-items: center;
}

.feature-list{
  flex-basis: 45%;
}

.feature-item{
  //margin-bottom: .25rem;
  margin-left: -1rem;
  padding: .75rem 1rem;
  transition: transform .2s;
  &.active,
  &:hover{
    border-left: 5px solid $primary;
    transform: translateX(1rem);
    background-color: $light-grey;
  }
  > p{
    margin-bottom: 0;
  }
}

.feature-item__title{
  margin-bottom: .5rem;
}
