.feature{
  &__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 6rem;
    max-width: 55rem;
  }
  &__item--alt{
    flex-direction: row-reverse;
    .feature__content{
      padding-right: 5rem;
      padding-left: 0;
    }
  }
  &__content{
    padding-left: 5rem;
    font-size: $large-fontsize;
  }
  &__title{
    font-size: $h1;
    line-height: 1.2;
    color: $primary;
    text-transform: lowercase;
  }
  &__image{
    flex-shrink: 0;
    max-width: 25rem;
  }
  
  &__cta{
    text-align: center;
  }
}