.feature-list{
  @media (min-width: $M){
    display: flex;
    flex-wrap: wrap;
  }

  &__item{ 
    margin-top: 3rem;
    @media (min-width: $M){
      width: 45%;
      margin-right: 10%;
      &:nth-child(2n){
        margin-right: 0;
      }
    }
    
  }
  &__image{
    height: 8rem;
    object-fit: cover;
    margin-bottom: .5rem;
    @media (min-width: $L){
      height: 12rem;
    }
  }
  &__title{
    color: $primary;
    text-transform: lowercase;
    line-height: 1.2;
    margin-bottom: 0rem;
  }
  &__subtitle{
    margin-bottom: .5rem;
    line-height: 1.2;
    text-transform: lowercase;
  }
  &__item-mini{
    margin-top: 2rem;
    @media (min-width: $M){
      width: 30%;
      margin-right: 5%;
      margin-top: 3rem;
      &:nth-child(3n){
        margin-right: 0;
      }
    }
    .feature-list__image{
      height: 4rem;
      @media (min-width: $L){
        height: 6rem;
      }
    }
  }
}