.footer{
  background-color: $primary;
  color: white;

  &__cta{
    padding-top: 6rem;
    padding-bottom: 1.5rem;
    @media (min-width: $L){
      padding-top: 10rem;
      padding-bottom: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;  
    }
  }

  &__cta-title{
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: .5rem;
    @media (min-width: $M){
      font-size: 3rem;
      margin-bottom: 0;
    }
  }

  &__cta-buttons{
    @media (min-width: $L){
      text-align: right;
    }
    .btn{
      margin-left: 0;
      margin-top: .5rem;
      @media (min-width: $L){
        margin-left: .6rem;
      }
    }
  }


  &__main{
    background: rgba(black, .1);
    padding: 1rem 0;
  }

  &__nav{
    a{
      display: block;
      margin-right: .5em;
      @media (min-width: $M){
        display: inline-block;
      }
      @media (min-width: $L){
        margin-right: 0;
      }
    }
    @media (min-width: $M){
      display: flex;
      justify-content: space-between;  
    }
  }

  &__nav-item{
    border-bottom: 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: lowercase;
    &:hover{
      color: inherit;
      opacity: .8;
    }
  }

  &__credits{
    padding-top: 2rem;
    @media (min-width: $M){
      padding-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    a{
      border-bottom: 0;
    }
  }

  &__promoter{
    display: flex;
    flex-direction: column;
    font-size: 80%;
    font-weight: 600;
    
    img{
      margin-top: .5rem;
      max-width: 8rem;
    }
  }

  &__attr{
    margin: 1rem 0;
    @media (min-width: $M){
      margin: 0;
    }
    small{
      font-size: 100%;
    }
  }

  &__logo{
    max-width: 3rem;;
  }

}




