.form-field{
  margin-bottom: 2rem;
  font-size: $large-fontsize;

  label{
    display: block;
    font-weight: 600;
    text-transform: lowercase;
  }
  .required{
    color: $primary;
  }
  input,
  select,
  textarea{
    width: 100%;
    border: 0;
    background-color: rgba(black, .05);
    padding: .5rem;
    height: 2.5rem;
    border-radius: $radius;
    &:focus{
      outline: 0;
      box-shadow: 0 0 8px rgba($primary, .3);
    }
  }
  textarea{
    height: 15rem;
  }
}