.header{
  position: relative;
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: $darkblue;
  color: white;
  @media (min-width: $L){
    padding-bottom: 2rem;
  }
  > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: $L){
      align-items: baseline;
    }
  }
  a{
    border: 0;
  }
}

.cityhall-logo{
  position: absolute;
  right: 0;
  top: 10px;
  max-width: 80px;
  @media (min-width: $L){
    max-width: 100px;
  }
}
