.header{
  position: relative;
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: $darkblue;
  color: white;
  @media (min-width: $L){
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  &:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 2.8rem;
    background-color: rgba(black, .3);
    @media (min-width: $L){
      height: 3.4rem;
    }
  }
  > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: $L){
      align-items: baseline;
    }
  }
  a{
    border: 0;
  }
}

.cityhall-logo{
  position: absolute;
  right: 0;
  top: 10px;
  max-width: 80px;
  @media (min-width: $L){
    max-width: 100px;
  }
}
