.hero{
  text-align: center;
  background-color: $blue;
  background-image: linear-gradient(to bottom, rgba($darkblue, 1), rgba($darkblue, 1) 10%, rgba($blue, .9)),
                    url(/images/intersecting-circles.svg);
  padding-top: 1rem;
  color: white;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.13);
  overflow: hidden;
  @media (min-width: $L){
    padding-top: 3rem;
  }
}

.hero__container{
  max-width: $maxwidth--hero;
  margin: auto;
  font-weight: 200;
}

.hero__heading{
  margin-top: 0;
  margin-bottom: 1.5rem;
  letter-spacing: .02em;
  font-weight: 200;
  strong{
    font-weight: 600;
  }
}

.hero__subhead{
  opacity: .8;
  line-height: 1.4;
  margin-bottom: 2rem;
  @media (min-width: $L){
    font-size: $large-fontsize;
  }
}

.hero__buttons{
  margin-bottom: 4rem;
  font-weight: 300;
  .btn{
    min-width: 12rem;
    margin-bottom: 1rem;
    &:last-of-type{
      margin-bottom: 0;
    }
    @media (min-width: $L){
      margin-bottom: 0;
    }
  }
}
