.logos-section{
  padding: 3rem 0;
}

.logos-section__title{
  font-size: $h3;
  text-align: center;
  text-transform: uppercase;
  color: $darkblue;
  @media (min-width: $L){
    letter-spacing: .2em;
  }
}

.logos-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &:not(:last-child){
    margin-bottom: 3rem;
  }
}

.logo-item{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  @media (min-width: $L){
    padding: 2rem;
  }

  .logos-section--cityhalls &{
    flex-basis: 50%;
  }
  .logos-section--partners &{
    flex-basis: 50%;
  }

  @media (min-width: $L){
    .logos-section--cityhalls &{
      flex-basis: 25%;
    }
    .logos-section--partners &{
      flex-basis: 17%;
      padding: 1rem 3rem;
    }
  }
  &.highlighted{
    flex-basis: 80%;
  }
  > img{
    max-width: 100%;
    max-height: 40px;
    display: block;
    transition: .3s;
    @media (min-width: $L){
      max-height: 50px;
    }
  }
  &:hover{
    > img{
      transform: scale(1.25);
    }
  }
}
