.main-nav{
  @media (min-width: $L){
    display: flex;
    align-items: center;
  }
  margin-left: auto;
  font-weight: 200;
  a{
    text-decoration: none;
    color: inherit;
  }
  @media (min-width: $L){
    a{
      margin-left: 2rem;
      padding: .1em .5em .2em;
      margin-bottom: -.2em;
      &:hover,
      &.active{
        background-color: $softblue;
        border-radius: 3px;
      }
    }
  }
}

.main-nav__links{
  @media (max-width: $L-max){
    display: none;
    position: absolute;
    z-index: $z-mobile-links;
    right: 0;
    left: 0;
    top: 5.5rem;
    background: $softblue;
    padding-top: .5em;
    padding-bottom: .5em;
    a{
      display: block;
      padding: .5rem 1rem;
    }
    body:not(.is-nav-active) &:target,
    .is-nav-open &{
      display: block;
    }
  }
  @media (min-width: $L){
    a{
      display: inline-block;
    }
    > a:last-child{
      margin-right: -.5em;
    }
  }
}

.main-nav__trigger{
  display: inline-block;
  margin-bottom: -.15em;
  .nav-icon{
    @include burger(25px, 1px, 8px, white);
    .is-nav-open &{
      @include burger-to-cross;
    }
  }
  @media (min-width: $L){
    display: none;
  }
}
