$nav-width: 18rem;

.main-nav{
  background-color: darken($primary, 55);
  margin-left: auto;
  font-weight: 200;
  width: $nav-width;
  height: 100vh;
  position: absolute;
  right: -$nav-width;
  transition: right .3s;
  z-index: $z-nav;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  
  &__item{
    text-decoration: none;
    border-bottom: 0;
    border-left: 0 solid $primary;
    padding: .5rem 1rem;
    color: white;
    
    &:hover{
      border-left-width: 5px;
      color: $primary;
    }
  }

  &__btn{
    margin-left: 1rem !important;
  }

  body:not(.is-nav-active) &:target,
  .is-nav-open &{
    right: 0;
  }
  
}

.main-nav__trigger{
  z-index: $z-nav-trigger;
  .nav-icon{
    @include burger(25px, 3px, 6px, white);
    .is-nav-open &{
      @include burger-to-cross;
    }
  }
}


