.subhero{
  text-align: center;
  font-size: $largest-fontsize;
  padding: 4rem 0;
}

.subhero__bullets{
  display: flex;
  align-items: space-between;
  margin-top: 4rem;
  padding-left: 0;
  font-size: $large-fontsize;
}

.subhero__bullet-item{
  flex-basis: 25%;
  padding: 0 2rem;
  list-style: none;
}

.subhero__bullet-icon{
  display: block;
  max-width: 80px;
  min-height: 100%;
  margin: 0 auto 1rem;
}
