.subhero{
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  &--cta{
    background-color: $blue;
    color: white;
  }
  .container > :last-child{
    margin-bottom: 0;
  }
}

.subhero__intro{
  font-size: $large-fontsize;
  @media (min-width: $L){
    font-size: $largest-fontsize;
  }
}

.subhero__bullets{
  margin-top: 2rem;
  padding-left: 0;
  @media (min-width: $S){
    display: flex;
    align-items: space-between;
    flex-wrap: wrap;
  }
  @media (min-width: $L){
    margin-top: 4rem;
    font-size: $large-fontsize;
    flex-wrap: nowrap;
  }
}

.subhero__bullet-item{
  list-style: none;
  @media (max-width: $L-max){
    &:not(:last-child){
      margin-bottom: 2rem;
    }
  }
  @media (min-width: $S){
    flex-basis: 50%;
    padding: 0 2rem;
  }
  @media (min-width: $L){
    flex-basis: 25%;
  }

}

.subhero__bullet-icon{
  display: block;
  max-width: 80px;
  margin: 0 auto 1rem;
}

.subhero--cta{
  h2{
    font-size: $h1-small;
    margin-bottom: 1rem;
    @media (min-width: $L){
      font-size: $h1;
    }
  }
  .hero__buttons{
    margin: 3rem 0;
  }
}
