.testimonials{
  background-color: $primary;
  .container{
    padding-top: 2rem; 
    padding-bottom: 2rem;
    @media (min-width: $L){
      padding-top: 5rem; 
      padding-bottom: 5rem;
    }
    
  }
  &__title{
    font-size: $large-fontsize;
    text-transform: lowercase;
    font-weight: 600;
    color: white;
    @media (min-width: $L){
      font-size: $h1;
    }
  }
  &__content{
    padding-top: 1rem;
    @media (min-width: $L){
      display: flex;
      justify-content: space-between;
    }
  }
  &__block{
    background-color: white;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    &:not(:last-child){
      margin-bottom: 2rem;
    }
    @media (min-width: $L){
      width: 30%;
      margin-bottom: 0;
    }
  }
  &__img{
    max-width: 5rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    box-shadow: inset 0 0 8px black;
    img{
      border-radius: 50%;
      display: block;
      opacity: .95;
    }
  }
  &__quote{
    margin: 0 0 .5rem 0;
    flex-grow: 1;
  }
  &__attr{
    margin-top: auto;
  }
  &__author{
    display: block;
    font-weight: 800;
    font-style: normal;
  }
  &__org{
    font-style: normal;
  }
}