.testimonials{
  margin: 6rem 0;
  background-color: $primary;
  &__block{
    color: white;
    display: flex;
    align-items: flex-start;
    background: url(/images/icons/quote.svg) no-repeat right bottom -90px;
  }
  &__img{
    flex-shrink: 0;
    img{
      display: block;
      opacity: .5;
      filter: grayscale(100%);
    }
  }
  &__content{
    font-size: $large-fontsize;
    padding: 2rem;
  }

  &__attr{
    display: block;
    font-size: $h1;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 1rem;
  }

  &__author{
    font-weight: 800;
    margin-right: .5rem;
  }

  &__org{
    opacity: .75;
  }

  &__quote{
    margin: 0;
    p{
      margin-bottom: 0;
    }
  }
 
 
  
}