.topbar{
  position: fixed;
  left: 0;
  right: 0;
  z-index: $z-topbar;
  padding: .5rem 2rem;
  background-color: $primary;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    border: 0;
  }

  &__actions{
    display: flex;
    align-items: center;
  }

  &__links{
    padding-right: 1rem;
    display: flex;
    align-items: center;
  }

  .home & {
    background-color: transparent;
    .brand-logo,
    .topbar__links{
      opacity: 0;
    }
  }

  .home:not(.is-nav-open) &{
    .nav-icon,
    .nav-icon:before,
    .nav-icon:after{
      background-color: $primary;
    }
  }
}

.brand-logo{
  width: 3rem;
}


